﻿@using ExtranetApp.Resources.Home;
@using ExtranetApp.Resources.Views;
@model ExtranetApp.Models.PropertyDetails.PanoramaModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
}

<style type="text/css">
    .default-page #logo {
        top:5px !important;
        position:absolute !important;
    }
</style>
<header id="banner" class="body">
    <div id="logo">
        <a href="/" class="goToHomeLink">
            <img src="data:image/png;base64,@Common.ResourceHelper.ToBase64("Logo11060")" alt="Logo" id="img-logo" />
        </a>
    </div>

    <nav>
        <ul style="padding-left:5px">            
            <li style="background-image:none;">@Html.ActionLink("Return to Property", "PropertyDetails", new { id = Model.Property.PropertyID })</li>
            <li style="background-image:none; cursor:default"><a href="javascript:void();" style="cursor:default">@Model.Property.PropertyNameCurrentLanguage - @Model.Panorama.PanoramaName.ToString() ( @Model.FloorPlan.FloorPlanName.ToString() )</a></li>
        </ul>
    </nav>
</header>
       
<iframe src="@String.Format("{0}{1}/index.htm",Model.StorageUrl.TrimEnd("/".ToCharArray()),Model.Panorama.PanoramaPath.TrimEnd("/".ToCharArray()))" style="position:absolute; margin-top:80px; width:100%; height:100%" />            
