﻿@using ExtranetApp.Resources.Home;
@using ExtranetApp.Resources.Views;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

@{
    ViewBag.Title = Shared.PageTitle + ": " + Model.PropertyUnitName;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";


    string navbarElement = "<li id=\"nv-propertyName\"><a href=\"javascript:void();\">" + Model.PropertyUnitName + "</a><span>";
    for (int i = 1; i <= 5; i++)
    {
        if (i <= Model.PropertyRating)
        {
            navbarElement += "<img src=\"" + Url.Content("~/images/otp/star_full.png") + "\" />";
        }
        else
        {
            navbarElement += "<img src=\"" + Url.Content("~/images/otp/star_empty.png") + "\" />";
        }
    }
    navbarElement += "</span></li>";
}

@section Scripts 
{
    @Styles.Render("~/css/otp_propertyDetails.css")
    @Scripts.Render("~/bundles/propertyDetails")
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")

    <!-- Floor plan section initialization -->
    <script type="text/javascript">
        
        
        function searchRequest() {
            oth.propertyDetailsViewModel.searchRequest();
        }

        function getDataValuesForCalendar() {
            oth.propertyDetailsViewModel.getDataValuesForCalendar();
        }

        function getInvoiceData() {
            oth.propertyDetailsViewModel.getInvoiceData();
        }

        function updateProgressBar() {
            oth.propertyDetailsViewModel.updateProgressBar();
        }

        jQuery(document).ready(function () {                        
            var propertyFloorPlans = [];
            var panoramas = [];

            jQuery("#banner").find("ul").first().prepend('@Html.Raw(navbarElement)');

            oth.propertyDetailsViewModel.init({
                resources: {
                    DialogAtLeastOneNightTitle: "@PropertyDetails.DialogAtLeastOneNightTitle",
                    DialogAtLeastOneNightDescription: "@PropertyDetails.DialogAtLeastOneNightDescription"
                }
            });                          

            @foreach (var floorPlan in Model.FloorPlans)
            {
                if (floorPlan.Panoramas != null)
                {
                    foreach (var panorama in floorPlan.Panoramas)
                    {
                        <text>
            panoramas.push(
                {
                    id: @panorama.Id,
                    offsetX: @panorama.OffsetX,
                    offsetY: @panorama.OffsetY,
                    url: "@Html.Raw(String.Format("{0}{1}/index.htm",
                                                    Model.StorageUrl.TrimEnd("/".ToCharArray()),
                                                    panorama.PanoramaPath.TrimEnd("/".ToCharArray())))"
                });
                        </text>
                    }
                }
                  
                <text>
            propertyFloorPlans.push(
                {
                    name: "@floorPlan.FloorPlanName.ToString()",
                    displayImage: "@Html.Raw(String.Format("{0}{1}",
                                                     Model.StorageUrl.TrimEnd("/".ToCharArray()),
                                                     floorPlan.DisplayImagePath.TrimEnd("/".ToCharArray())))",
                    panoramas: panoramas
                });

            panoramas = [];
                </text>
            }

            oth.floorPlanViewModel.init(
                {
                    propertyFloorPlans: propertyFloorPlans,
                    propertyId: @Model.Property.PropertyID
                    });
        });
    </script>
}

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">

    <div id="main_wrap" class="container">
        <div class="full">
            @Html.HiddenFor(m => Model.Unit.UnitID)
            @Html.HiddenFor(m => Model.Property.PropertyID)
            @Html.HiddenFor(m => Model.Property.Destination.DestinationID)
            @Html.HiddenFor(m => Model.Property.Latitude)            @Html.HiddenFor(m => Model.Property.Longitude)

            <div class="content eight alpha columns">
                @*Section main with rating*@
                <div id="mainPropertyDetailsView" class="">
                    @Html.Partial("Partial/PropertyDetails_MainSection", Model)
                </div>
                @*Section with description*@
                <div id="descriptionPropertyDetailsView" class="content-sections" style="display:block">
                    <div class="section-break"></div>
                    @Html.Partial("Partial/PropertyDetails_DescriptionSection", Model)
                    <div class="section-break"></div>
                </div>
                @*Section with description*@
                <div id="galleryPropertyDetailsView" class="content-sections">
                    <div class="section-break"></div>
                    @Html.Partial("Partial/PropertyDetails_GallerySection", Model)
                    <div class="section-break"></div>
                </div>
                @*Section with virtual floor plan *@
                <div id="floorPlanPropertyDetailsView" class="content-sections">
                    @Html.Partial("Partial/PropertyDetails_FloorPlan", Model)
                    <div class="section-break"></div>
                </div>
                @*Section with property amenities *@
                <div id="amenitiesPropertyDetailsView" class="content-sections">
                    @Html.Partial("Partial/PropertyDetails_AmenitiesSection", Model)
                    <div class="section-break"></div>
                </div>
                @*Section with property availability *@
                <div id="availabilityPropertyDetailsView" class="content-sections">
                    @Html.Partial("Partial/PropertyDetails_AvailabilitySection", Model)
                    <div class="section-break"></div>
                </div>
                @*Section with street view *@
                <div id="streetViewDetailsView" class="content-sections">
                    @Html.Partial("Partial/PropertyDetails_StreetViewSection", Model)
                    <div class="section-break"></div>
                </div>
                @*Section with guest reviews *@
                <div id="guestReviewsDetailsView" class="content-sections">
                    @Html.Partial("Partial/PropertyDetails_GuestReviewsSection", Model)
                    <div class="section-break"></div>
                </div>
            </div>

            <div class="sidebar columns sidebar_right three">
                <div class="inner_sidebar">
                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title collapse-section-trigger" data-section="widget-tripDetails-section">
                                <h2>
                                    <span class="ui-icon ui-icon-triangle-1-e"></span>
                                    @PropertyDetails.Section_TripDetails_Title
                                </h2>
                            </div>
                            <div id="widget-tripDetails-section">
                                <div class="widget-content">
                                    <p><span class="propertyName">@Model.PropertyUnitName</span>, @Model.Property.Destination.DestinationName</p>
                                    <p id="tripDates">
                                        @PropertyDetails.Section_TripDetails_DateFrom <span id="dateFromTrip"></span><span></span>
                                        @PropertyDetails.Section_TripDetails_DateTo <span id="dateUntilTrip"></span><span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-section" id="widget-invoice">
                        @*RENDERED BY AJAX CALL*@
                    </div>

                    <div class="widget-section" id="widget-book">
                        <div class="widget">
                            <div id="btnBook">
                                @if (Model.Property.PropertyLive)
                                { 
                                    <input class="input-submit btnBookProperty" type="submit" style="margin-bottom:5px;" value="@PropertyDetails.NavigationButtonBook" />
                                }
                            </div>
                        </div>
                    </div>

                    <div class="widget-section" id="widget-links">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>@PropertyDetails.Section_AdditionInformation_Title</h3>
                            </div>

                            <div class="widget-content-links links">
                                <ul style="margin-top: 0px; margin-bottom: 0px;">
                                    <li><a id="linkGoToDescription" class="section-nav-links active" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_Description</a></li>
                                    <li><a id="linkGoToGalery" class="section-nav-links" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_Galery</a></li>
                                    <li><a id="linkGoToTour" class="section-nav-links" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_Tour</a></li>
                                    <li><a id="linkGoToAmenities" class="section-nav-links" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_Amenities</a></li>
                                    <li><a id="linkGoToAvailability" class="section-nav-links" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_Availability</a></li>
                                    <li><a id="linkGoToStreetView" class="section-nav-links" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_StreetView</a></li>
                                    <li><a id="linkGoToReviews" class="section-nav-links" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_Reviews</a></li>
                                    @*<li><a id="linkGoToShare" class="section-nav-links" href="javascript:void()">@PropertyDetails.Section_AdditionInformation_Share</a></li>*@
                                </ul>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="flexsliderContainer">
    <div id="flexslider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.PropertyImages)
            {
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="bg">
                        <img src="@item" alt="header" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
