﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Home;

@model ExtranetApp.Models.PropertyDetails.SignOffModel

@{
    ViewBag.Title = @Shared.PageTitle;
    ViewBag.TopNavigationSection = new MvcHtmlString(string.Format("<h1>{0} - {1}</h1>", Model.Property.PropertyNameCurrentLanguage , PropertyDetails.SignOffTitle));
}

<style type="text/css">
    .navigation {
        margin-left: 10px;
        margin-top: 10px;
        text-align: left;
        vertical-align: middle;
        width: 100%;
    }

    .full {
        width: 70%;
    }
</style>

<section class="content-center">
    <div id="main_wrap" class="container">
        @using (Html.BeginForm()) { 
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.Property.PropertyID)
            @Html.HiddenFor(m=>m.SignOffToken)

            @PropertyDetails.SignOffQuestion        
            <div style="padding: 0px 0px 10px 0px;">
                <input type="submit" id="btnSignOff" style="width:250px !important" value="@PropertyDetails.SignOffButton" class="input-submit" /><br />
            </div>
        }
    </div>
</section>
