﻿@using ExtranetApp.Resources.Error;

@{
    ViewBag.Title = ExtranetApp.Resources.Views.Shared.PageTitle;
    ViewBag.TopNavigationSection = new MvcHtmlString("<h1>" + UnexpectedApplicationError.PageTtitle + "</h2>");
}

@section Styles 
{
    @*@Styles.Render("~/css/homeowner.listYourHome.css")*@
}

<style type="text/css">
    .navigation {
        margin-left: 10px;
        margin-top: 10px;
        text-align: left;
        vertical-align: middle;
        width: 100%;
    }

    .full {
        width: 70%;
    }
</style>

<section class="content-center">
    <div id="main_wrap" class="container">
        @Html.Raw(UnexpectedApplicationError.PageDescription)

        <div style="padding: 0px 0px 10px 0px;">
            <input type="submit" id="btnBackToHome" style="width:250px !important" value="@UnexpectedApplicationError.BtnBack" class="input-submit" /><br />
        </div>
    </div>
</section>
