﻿@using ExtranetApp.Resources.Views;
@using BusinessLogic.Managers;
@using ExtranetApp.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/otpstyles")
    @Styles.Render("~/css/otpFonts_Yanone.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    <!--[if lte IE 6]>
	    <style>#top, #bottom, #left, #right { display: none; }</style>
        <![endif]-->

    <!--[if IE]> 
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!--[if lte IE 7]> 
	    @Scripts.Render("~/js/IE8.js")
        <![endif]-->

    <!--[if lt IE 7]>  
        @Styles.Render("~/css/ie6.css")
        <![endif]-->

    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>

<body id="index" class="home">
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    @Html.Partial("Partial/DateFromWrongDialog")
    @Html.Partial("Partial/DateUntilWrongDialog")

    @if (!String.IsNullOrEmpty(ViewBag.InfoMessage))
    {
        <div id="info-dialog" class="popup-dialog" title="">
            @ViewBag.InfoMessage
        </div>
    }

    @RenderSection("Banner", false)

    @RenderBody()

    <footer id="footer">
        <div id="copyright">

            <div id="joinGuestContainer">
                @Html.Partial("Partial/JoinGuest", new ExtranetApp.Models.Account.JoinModel())
            </div>
            @Html.Partial("Partial/Login", new ExtranetApp.Models.Account.LoginModel())

            <ul id="aboutUsList">
                <li>@Html.ActionLink(@Shared.Links_About, "About", "Home")</li>
                <li>@Html.ActionLink(@Shared.Links_FAQ, "FAQ", "Home")</li>
                <li>@Html.ActionLink(@Shared.Links_Policies, "Policies", "Home")</li>
                <li>@Html.ActionLink(@Shared.Links_Contact, "Contact", "Home")</li>
            </ul>
            @Html.Partial("Partial/LoginButton")
            <a href="javascript:void();" id="showAboutUsLink">@Shared.Links_AboutUs</a>


            @Html.Partial("Partial/Logout")
        </div>
        <div id="flexsliderContainer">
            @Html.Partial("Partial/Slider", new List<DataAccess.CustomObjects.PropertiesSearchResult>())
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryplug")
    @Scripts.Render("~/bundles/jqueryplug2")

    <script>
        jQuery(document).ready(function () {
            oth.common.init({
                defaultCulture: "@System.Threading.Thread.CurrentThread.CurrentCulture.Name",
                localizedDatePattern: "@Common.Helpers.DateTimeHelper.GetLocalizedDatePattern()",
                localizedTimePattern: "@Common.Helpers.DateTimeHelper.GetLocalizedTimePattern()",
                localizedDateTimePattern: "@Common.Helpers.DateTimeHelper.GetLocalizedDateTimePattern()",
                localizedBedroom: "@Shared.Cardinality_Bedroom",
                localizedBedrooms: "@Shared.Cardinality_Bedrooms",
                localizedBathroom: "@Shared.Cardinality_Bathroom",
                localizedBathrooms: "@Shared.Cardinality_Bathrooms",
                localizedGuest: "@Shared.Cardinality_Guest",
                localizedGuests: "@Shared.Cardinality_Guests",
                localizedSleep: "@Shared.Cardinality_Sleep",
                localizedSleeps: "@Shared.Cardinality_Sleeps",
                localizedBath: "@Shared.Cardinality_Bath",
                localizedBaths: "@Shared.Cardinality_Baths"
            });
        });
    </script>

    @if (!String.IsNullOrEmpty(ViewBag.InfoMessage))
    {
        <script>
            jQuery(document).ready(function () {
                jQuery("#info-dialog").dialog("open");
            });
        </script>
    }
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@GoogleAnaliticsHelper.GetGoogleAnaliticsTrackingCode()']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

@* Allow adding custom script file *@
    @RenderSection("Scripts", false)
</body>
</html>
