﻿@using ExtranetApp.Resources.Views;
@using BusinessLogic.Managers;
@using ExtranetApp.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/flexslider.css")
    @Styles.Render("~/css/grid.css")
    @Styles.Render("~/css/layout-center.css")
    @Styles.Render("~/css/main.css")
    @Styles.Render("~/css/prettyPhoto.css")
    @Styles.Render("~/css/queryLoader.css")
    @Styles.Render("~/css/datepicker.css")
    @Styles.Render("~/css/otpFonts_Armata.css")
    @Styles.Render("~/css/otpFonts_Yanone.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/css/otp.css")
    <style>
        #pull-bttn {
            margin-right: 0px !important;
        }
    </style>

    <!--[if lte IE 6]>
	    <style>#top, #bottom, #left, #right { display: none; }</style>
        <![endif]-->

    <!--[if IE]> 
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!--[if lte IE 7]> 
	    @Scripts.Render("~/js/IE8.js")
        <![endif]-->

    <!--[if lt IE 7]>  
        @Styles.Render("~/css/ie6.css")
        <![endif]-->

    @* Allow adding custom script file *@
    @RenderSection("Styles", false)

    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>

<body id="index" class="default-page">

    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    @*Menu bar *@    

    <header class="body" id="banner">
        <div class="under-shadow">&nbsp;</div>
        <div class="nav-top">
            <div id="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="data:image/png;base64,@Common.ResourceHelper.ToBase64("Logo11060")" alt="Logo" id="img-logo" />
                </a>
            </div>
        </div>        
        @Html.Partial("Partial/MenuBar")        
    </header>
    @RenderBody()

    <footer id="footer">
        <div id="copyright" style="display: none;">

            <div id="joinGuestContainer">
                @Html.Partial("Partial/JoinGuest", new ExtranetApp.Models.Account.JoinModel())
            </div>

            <ul id="guestsMenu">
                <li>@Html.ActionLink(@Shared.Links_Profile, "Profile", "Guest")</li>
                <li>@Html.ActionLink(@Shared.Links_MyTrips, "Mytrips", "Guest")</li>
                <li>@Html.ActionLink(@Shared.Links_OnStieServices, "OnSiteServices", "Guest")</li>
            </ul>
            @Html.Partial("Partial/Login", new ExtranetApp.Models.Account.LoginModel())

            <ul id="aboutUsList">
                <li>@Html.ActionLink(@Shared.Links_About, "About", "Home")</li>
                <li>@Html.ActionLink(@Shared.Links_FAQ, "FAQ", "Home")</li>
                <li>@Html.ActionLink(@Shared.Links_Policies, "Policies", "Home")</li>
                <li>@Html.ActionLink(@Shared.Links_Contact, "Contact", "Home")</li>
            </ul>

            @if (SessionManager.IsAuthenticated())
            {
                <a href="javascript:void();" id="showGuestsMenu">@String.Format(Shared.WelcomeUser, SessionManager.CurrentUser.FullName)</a>                
            }
            else
            {
                <a href="javascript:void();" id="showLoginLink">@Shared.LoginButton_Link_LoginJoin</a>
                @Html.ActionLink(@Shared.LoginButton_Link_Homeowners, "Index", "HomeOwner")  
            }
            <a href="javascript:void();" id="showAboutUsLink">@Shared.Links_AboutUs</a>
            @Html.Partial("Partial/Logout")


        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/js/jquery.flexslider.js")
    @Scripts.Render("~/js/jquery.jplayer.js")
    @Scripts.Render("~/js/jquery.prettyPhoto.js")
    @Scripts.Render("~/js/jquery.tools.js")
    @Scripts.Render("~/js/queryLoader.js")
    @Scripts.Render("~/js/twitter.js")
    @Scripts.Render("~/js/datepicker.js")
    @Scripts.Render("~/js/datepicker_navigation.js")
    @Scripts.Render("~/js/jquery.form.js")
    @Scripts.Render("~/js/jquery.watermark.js")
    @Scripts.Render("~/js/jquery.cookie.js")
    @Scripts.Render("~/js/jquery.jrumble.js")
    @Scripts.Render("~/js/jquery.jrumble.js")
    @Scripts.Render("~/js/globalize.js")
    @Scripts.Render("~/js/globalize.cultures.js")
    @Scripts.Render("~/js/Views/otp.common.js")
    @Scripts.Render("~/js/Views/Homeowner/homeowner.commonScripts.js")
    @Scripts.Render("~/js/jquery.preventDoubleSubmit.js")

    <script>
        jQuery(document).ready(function () {
            oth.common.init({
                defaultCulture: "@System.Threading.Thread.CurrentThread.CurrentCulture.Name",
                localizedDatePattern: "@Common.Helpers.DateTimeHelper.GetLocalizedDatePattern()",
                localizedTimePattern: "@Common.Helpers.DateTimeHelper.GetLocalizedTimePattern()",
                localizedDateTimePattern: "@Common.Helpers.DateTimeHelper.GetLocalizedDateTimePattern()"
            });
        });
    </script>

    <script>
        jQuery(document).ready(function () {
            otp.homeowner_commonScripts.init();
        });
    </script>


    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@GoogleAnaliticsHelper.GetGoogleAnaliticsTrackingCode()']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    @* Allow adding custom script file *@
    @RenderSection("Scripts", false)
</body>
</html>
