﻿@using ExtranetApp.Resources.Views;

@if (Request.IsAuthenticated) {
    <text>
        Welcome @User.Identity.Name!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) 
        {
            @Html.AntiForgeryToken()
            <a class="logout-link" href="javascript:void(0)">@Shared.Logout_Logoff</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink(@Shared.LoginButton_Link_LoginJoin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
