﻿@using ExtranetApp.Resources.Views;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Shared.Error_Title</title>
</head>
<body>
    <h2>
        @Shared.Error_Message
    </h2>
</body>
</html>