div.datepicker {
	position: relative;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
    
}

div.datepicker * {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 12px !important;
    line-height: normal;
}

div.datepicker td, div.datepicker th {
    padding: 2px !important;
    text-align: right;
}

div.datepicker td a, div.datepicker th a{
    padding: 0px !important;
    
}

div.datepicker td a span,  div.datepicker th a span{
    padding: 0px !important;
    margin: 0px !important;
}

.datepickerContainer {
	background: #121212;
	position: absolute;
	top: 10px;
	left: 10px;
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
	background: url(../images/dp/datepicker_t.png);
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
	background: url(../images/dp/datepicker_b.png);
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/dp/datepicker_l.png);
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/dp/datepicker_r.png);
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/dp/datepicker_tl.png);
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/dp/datepicker_tr.png);
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/dp/datepicker_bl.png);
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/dp/datepicker_br.png);
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
}
div.datepicker a span{
	color: #eee !important;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker th {
    text-align: center !important;
	color: #999 !important;
	font-weight: normal;
}
/*
div.datepicker tbody th {
	text-align: left !important;
}*/
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	line-height: 16px;
	height: 16px;
    width: 20px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 16px;
	height: 16px;
	text-align: center;
}
td.datepickerNotInMonth a span{
	color: #666 !important;
}
tbody.datepickerDays td.datepickerSelected{
	background: #136A9F;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #17384d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}
div.datepicker a:hover span,
div.datepicker a:hover span{
    color: #88c5eb !important;
}


div.datepicker td.datepickerNotInMonth a:hover span{
	color: #999 !important;
}
/*
div.datepicker tbody th {
	text-align: left !important;
}*/
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a span{
	color: #333 !important;
}
td.datepickerDisabled a:hover span{
	color: #333 !important;
}
td.datepickerSpecial a{
	background: #700 !important;
    /*background: rgb(119,0,0); /* Old browsers */
    /*background: -moz-linear-gradient(-45deg, rgba(119,0,0,1) 0%, rgba(119,0,0,1) 9%, rgba(196,0,0,1) 10%, rgba(196,0,0,1) 20%, rgba(119,0,0,1) 21%, rgba(119,0,0,1) 35%, rgba(196,0,0,1) 35%, rgba(196,0,0,1) 45%, rgba(119,0,0,1) 45%, rgba(119,0,0,1) 60%, rgba(196,0,0,1) 60%, rgba(196,0,0,1) 70%, rgba(119,0,0,1) 70%, rgba(119,0,0,1) 85%, rgba(196,0,0,1) 85%, rgba(196,0,0,1) 95%, rgba(119,0,0,1) 95%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(119,0,0,1)), color-stop(9%,rgba(119,0,0,1)), color-stop(10%,rgba(196,0,0,1)), color-stop(20%,rgba(196,0,0,1)), color-stop(21%,rgba(119,0,0,1)), color-stop(35%,rgba(119,0,0,1)), color-stop(35%,rgba(196,0,0,1)), color-stop(45%,rgba(196,0,0,1)), color-stop(45%,rgba(119,0,0,1)), color-stop(60%,rgba(119,0,0,1)), color-stop(60%,rgba(196,0,0,1)), color-stop(70%,rgba(196,0,0,1)), color-stop(70%,rgba(119,0,0,1)), color-stop(85%,rgba(119,0,0,1)), color-stop(85%,rgba(196,0,0,1)), color-stop(95%,rgba(196,0,0,1)), color-stop(95%,rgba(119,0,0,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(-45deg, rgba(119,0,0,1) 0%,rgba(119,0,0,1) 9%,rgba(196,0,0,1) 10%,rgba(196,0,0,1) 20%,rgba(119,0,0,1) 21%,rgba(119,0,0,1) 35%,rgba(196,0,0,1) 35%,rgba(196,0,0,1) 45%,rgba(119,0,0,1) 45%,rgba(119,0,0,1) 60%,rgba(196,0,0,1) 60%,rgba(196,0,0,1) 70%,rgba(119,0,0,1) 70%,rgba(119,0,0,1) 85%,rgba(196,0,0,1) 85%,rgba(196,0,0,1) 95%,rgba(119,0,0,1) 95%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(-45deg, rgba(119,0,0,1) 0%,rgba(119,0,0,1) 9%,rgba(196,0,0,1) 10%,rgba(196,0,0,1) 20%,rgba(119,0,0,1) 21%,rgba(119,0,0,1) 35%,rgba(196,0,0,1) 35%,rgba(196,0,0,1) 45%,rgba(119,0,0,1) 45%,rgba(119,0,0,1) 60%,rgba(196,0,0,1) 60%,rgba(196,0,0,1) 70%,rgba(119,0,0,1) 70%,rgba(119,0,0,1) 85%,rgba(196,0,0,1) 85%,rgba(196,0,0,1) 95%,rgba(119,0,0,1) 95%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(-45deg, rgba(119,0,0,1) 0%,rgba(119,0,0,1) 9%,rgba(196,0,0,1) 10%,rgba(196,0,0,1) 20%,rgba(119,0,0,1) 21%,rgba(119,0,0,1) 35%,rgba(196,0,0,1) 35%,rgba(196,0,0,1) 45%,rgba(119,0,0,1) 45%,rgba(119,0,0,1) 60%,rgba(196,0,0,1) 60%,rgba(196,0,0,1) 70%,rgba(119,0,0,1) 70%,rgba(119,0,0,1) 85%,rgba(196,0,0,1) 85%,rgba(196,0,0,1) 95%,rgba(119,0,0,1) 95%); /* IE10+ */
    /*background: linear-gradient(135deg, rgba(119,0,0,1) 0%,rgba(119,0,0,1) 9%,rgba(196,0,0,1) 10%,rgba(196,0,0,1) 20%,rgba(119,0,0,1) 21%,rgba(119,0,0,1) 35%,rgba(196,0,0,1) 35%,rgba(196,0,0,1) 45%,rgba(119,0,0,1) 45%,rgba(119,0,0,1) 60%,rgba(196,0,0,1) 60%,rgba(196,0,0,1) 70%,rgba(119,0,0,1) 70%,rgba(119,0,0,1) 85%,rgba(196,0,0,1) 85%,rgba(196,0,0,1) 95%,rgba(119,0,0,1) 95%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#770000', endColorstr='#660000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.containerForToolTip div.datepickerSpecial {
    background: url(../images/dp/toolTip_red.png) no-repeat;
}

td.datepickerUnavailable a{
	/*background: #700;*/
background: rgb(119,119,119) !important; /* Old browsers */
    /*background: -moz-linear-gradient(-45deg, rgba(230,230,230,0.7) 0%, rgba(230,230,230,0.7) 9%, rgba(240,240,240,0.8) 10%, rgba(240,240,240,0.8) 20%, rgba(230,230,230,0.7) 21%, rgba(230,230,230,0.7) 35%, rgba(240,240,240,0.8) 35%, rgba(240,240,240,0.8) 45%, rgba(230,230,230,0.7) 45%, rgba(230,230,230,0.7) 60%, rgba(240,240,240,0.8) 60%, rgba(240,240,240,0.8) 70%, rgba(230,230,230,0.7) 70%, rgba(230,230,230,0.7) 85%, rgba(240,240,240,0.8) 85%, rgba(240,240,240,0.8) 95%, rgba(230,230,230,0.7) 95%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(230,230,230,0.7)), color-stop(9%,rgba(230,230,230,0.7)), color-stop(10%,rgba(240,240,240,0.8)), color-stop(20%,rgba(240,240,240,0.8)), color-stop(21%,rgba(230,230,230,0.7)), color-stop(35%,rgba(230,230,230,0.7)), color-stop(35%,rgba(240,240,240,0.8)), color-stop(45%,rgba(240,240,240,0.8)), color-stop(45%,rgba(230,230,230,0.7)), color-stop(60%,rgba(230,230,230,0.7)), color-stop(60%,rgba(240,240,240,0.8)), color-stop(70%,rgba(240,240,240,0.8)), color-stop(70%,rgba(230,230,230,0.7)), color-stop(85%,rgba(230,230,230,0.7)), color-stop(85%,rgba(240,240,240,0.8)), color-stop(95%,rgba(240,240,240,0.8)), color-stop(95%,rgba(230,230,230,0.7))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(-45deg, rgba(230,230,230,0.7) 0%,rgba(230,230,230,0.7) 9%,rgba(240,240,240,0.8) 10%,rgba(240,240,240,0.8) 20%,rgba(230,230,230,0.7) 21%,rgba(230,230,230,0.7) 35%,rgba(240,240,240,0.8) 35%,rgba(240,240,240,0.8) 45%,rgba(230,230,230,0.7) 45%,rgba(230,230,230,0.7) 60%,rgba(240,240,240,0.8) 60%,rgba(240,240,240,0.8) 70%,rgba(230,230,230,0.7) 70%,rgba(230,230,230,0.7) 85%,rgba(240,240,240,0.8) 85%,rgba(240,240,240,0.8) 95%,rgba(230,230,230,0.7) 95%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(-45deg, rgba(230,230,230,0.7) 0%,rgba(230,230,230,0.7) 9%,rgba(240,240,240,0.8) 10%,rgba(240,240,240,0.8) 20%,rgba(230,230,230,0.7) 21%,rgba(230,230,230,0.7) 35%,rgba(240,240,240,0.8) 35%,rgba(240,240,240,0.8) 45%,rgba(230,230,230,0.7) 45%,rgba(230,230,230,0.7) 60%,rgba(240,240,240,0.8) 60%,rgba(240,240,240,0.8) 70%,rgba(230,230,230,0.7) 70%,rgba(230,230,230,0.7) 85%,rgba(240,240,240,0.8) 85%,rgba(240,240,240,0.8) 95%,rgba(230,230,230,0.7) 95%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(-45deg, rgba(230,230,230,0.7) 0%,rgba(230,230,230,0.7) 9%,rgba(240,240,240,0.8) 10%,rgba(240,240,240,0.8) 20%,rgba(230,230,230,0.7) 21%,rgba(230,230,230,0.7) 35%,rgba(240,240,240,0.8) 35%,rgba(240,240,240,0.8) 45%,rgba(230,230,230,0.7) 45%,rgba(230,230,230,0.7) 60%,rgba(240,240,240,0.8) 60%,rgba(240,240,240,0.8) 70%,rgba(230,230,230,0.7) 70%,rgba(230,230,230,0.7) 85%,rgba(240,240,240,0.8) 85%,rgba(240,240,240,0.8) 95%,rgba(230,230,230,0.7) 95%); /* IE10+ */
    /*background: linear-gradient(135deg, rgba(230,230,230,0.7) 0%,rgba(230,230,230,0.7) 9%,rgba(240,240,240,0.8) 10%,rgba(240,240,240,0.8) 20%,rgba(230,230,230,0.7) 21%,rgba(230,230,230,0.7) 35%,rgba(240,240,240,0.8) 35%,rgba(240,240,240,0.8) 45%,rgba(230,230,230,0.7) 45%,rgba(230,230,230,0.7) 60%,rgba(240,240,240,0.8) 60%,rgba(240,240,240,0.8) 70%,rgba(230,230,230,0.7) 70%,rgba(230,230,230,0.7) 85%,rgba(240,240,240,0.8) 85%,rgba(240,240,240,0.8) 95%,rgba(230,230,230,0.7) 95%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B6B6B6', endColorstr='#A7A7A7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.containerForToolTip div.datepickerUnavailable {
        background: url(../images/dp/toolTip_grey.png) no-repeat;
}

td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}

div.containerForToolTip div.datepickerSelected {
    background: url(../images/dp/toolTip_selected.png) no-repeat;
}

table.datepickerViewDays thead tr th.datepickerMonth a span {
    font-size:19px !important;
}

.datepickerNotInMonth.datepickerDisabled .price_calendar{
    color: white;
}

table.datepickerViewDays thead tr.datepickerDoW th span, table.datepickerViewDays tbody.datepickerDays tr td a span {
    font-size:14px !important;
}

.toolTipAvailability {
    display: none;
    overflow: hidden;
    background: url(../images/dp/toolTip_green.png) no-repeat;
    position: relative;
    height: 114px;
    left: -50px;
    top: -148px;
    width: 140px;
    font-size: 21px !important;
    position:absolute;
    margin: 5px;
}


.datepickerDays a:hover + div div.toolTipAvailability{
    display: block;
    position:absolute;
    left: -50px;
    top: -148px;
}

.toolTipAvailability p{
    float: left;
    /*margin-left: 30px !important;*/
    /*padding: 6px 5px 15px 10px !important;*/
    /*padding-top: 2px !important;*/
    text-align: center;
    width: 100%;
}

.toolTipAvailability p:first-child {
    margin: 3px 0 !important;
    padding: 14px 0 0 !important;
}

div#availabilityDate .toolTipAvailability p.stay{
    font-size: 0.75em !important;
    /*padding-top: 7px !important;
    border-left: 1px solid rgba(255,255,255,0.3);*/
    text-align: center;
}

div#availabilityDate div.datepicker * .toolTipAvailability > p {
    font-size: 18px !important;
}

.containerForToolTip .toolTipAvailability {
    font-size: 22px !important;
}
.containerForToolTip .toolTipAvailability p.stay{
    font-size: 0.75em !important;
    /*padding-top: 7px !important;
    border-left: 1px solid rgba(255,255,255,0.3);*/
    text-align: center;
}

.containerForToolTip .toolTipAvailability > p {
    font-size: 18px !important;
}


.containerForToolTip {
    width: 0px;
    height: 0px;
    position: relative;
}

.availableIcon{
    padding-left: 24px;
    margin-left: 10px;
    background: url(../images/dp/legend.png) no-repeat scroll 0 -40px transparent;
}

.unavailableIcon{
    padding-left: 24px;
    margin-left: 10px;
    background: url(../images/dp/legend.png) no-repeat scroll 0 -20px transparent;
}

.pastIcon{
    padding-left: 24px;
    margin-left: 10px;
    background: url(../images/dp/legend.png) no-repeat scroll 0 0px transparent;
    
}

.ctaIcon{
    padding-left: 24px;
    margin-left: 10px;
    background: url(../images/dp/legend.png) no-repeat scroll 0 -61px transparent;
}

.selectionIcon {
    padding-left: 24px;
    margin-left: 10px;
    background: url("../images/dp/legend.png") no-repeat scroll 0 -81px transparent;
}

#wrong-period-dialog {
    display:none;
}


div#availabilityDate .noMlos .toolTipAvailability span.mlos {
    display:none;
}

div#availabilityDate .noMlos .toolTipAvailability p.stay{
    height: 50px;
}

div#availabilityDate .stay span.mlos {
    font-size: 1em !important;
    color: white;
}

.stay span.mlos {
    font-size: 1em !important;
    color: white;
}

div.datepicker .datepickerDays a {
    text-align: center;
}