/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none; } 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { 

    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:0;
    left:0;
    
    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;

	zoom: 1; 
	z-index: -3;

}

.flexslider {
	height: 100%;
	bottom: 0;
    top: 0;
	right: 0;
	left: 0;
    position: fixed;
}

.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

.flexslider .slides li img { z-index: 1; }

.flexslider .slides li p.counter 
{ 
    padding: 20px; /*background-image: url(../images/transparent-bg.png);*/ z-index: 99; position: fixed; 
    bottom: 240px; margin-left: 60px; display: none;
    font-size: 30px;
    color: #ffffff;
}

.flexslider .slides li {
    
    text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.flexslider .slides li h4 
{ 
    padding: 20px; 
    /*background-image: url(../images/transparent-bg.png);*/
    z-index: 99; 
    position: fixed; 
    bottom: 60px; 
    margin-left: 60px; display: none; 
    font-size: 100px;
}
.flexslider .slides li p
{ 
    padding: 20px; 
    /*background-image: url(../images/transparent-bg.png);*/
    z-index: 99; position: fixed; 
    bottom: 110px; margin-left: 60px; display: none;
    font-size: 30px;
    color: #ffffff;
    margin-bottom:0px;
}

.scoreDetailsLink 
{
    color: #ffffff;
    cursor: pointer;
}

.flexslider .slides li p.price {
    bottom: 70px; 
    font-size: 24px;
}

.home .flexslider .slides li p, .home .flexslider .slides li h4 { display: inline; }

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: auto; padding: 10px; margin-bottom: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.7); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width: 34px; height: 34px; margin: -13px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; }
.flex-direction-nav li .next {background: url(../images/next-bttn.png) no-repeat top left; right: 20px; display: none;}
.flex-direction-nav li .prev {background: url(../images/prev-bttn.png) no-repeat top left; left: 20px; display: none;}
.flex-direction-nav li .next:hover {background-position: bottom left;}
.flex-direction-nav li .prev:hover {background-position: bottom left;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { width: 100%; position: fixed; bottom: 50px; text-align: left; z-index: 9999; display: none; margin-left: 80px; }
.home .flex-control-nav { display: inline; }
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../images/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}