/*
* Based on Skeleton by Dave Gamache (www.getskeleton.com)
*/


/* Table of Contents */

/* 

    Base 960 Grid
    Tablet (Portrait)
    Mobile (Portrait)
    Mobile (Landscape)
    Clearing 
	
*/



/* Base 960 Grid */
#content	           { margin: 0 auto; position:relative; z-index: 2;}
.boxed #content	   { margin: 30px auto; margin-top: 0; width: 990px; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3); box-shadow: 0 0 5px rgba(0,0,0,0.3);}
.container               { position: relative; width: 915px; margin: 0 auto; float: left; }
.column, .columns         { float: left; display: inline; margin-left: 30px; position:relative; }
.row                           { position:relative; margin-bottom: 20px; clear:both; }
.whole              { width: 100%; float: left; }
.centered           { margin: 0 auto 20px auto; width: 48%; }

/* Nested Column Classes */
body .column.alpha, body .columns.alpha, body .first       { margin-left: 0; clear: left;}

/* Base Grid */
.container .one.column                      	{ width: 50px;  }
.container .two.columns                     	{ width: 130px; }
.container .three.columns                   { width: 210px; }
.container .four.columns                    	{ width: 290px; }
.container .five.columns                    	{ width: 370px; }
.container .six.columns                     	{ width: 450px; }
.container .seven.columns                   { width: 530px; }
.container .eight.columns                   { width: 610px; }
.container .nine.columns                    	{ width: 690px; }
.container .ten.columns                     	{ width: 770px; }
.container .eleven.columns                 { width: 860px; }
.container .twelve.columns                 { width: 930px; margin-left:0}


/* Offsets */
#main-content .offset-by-one                   { padding-left: 80px;  }
#main-content .offset-by-two                   { padding-left: 160px; }
#main-content .offset-by-three               { padding-left: 240px; }
#main-content .offset-by-four                 { padding-left: 320px; }
#main-content .offset-by-five                 { padding-left: 400px; }
#main-content .offset-by-six                   { padding-left: 480px; }
#main-content .offset-by-seven               { padding-left: 560px; }
#main-content .offset-by-eight               { padding-left: 620px; }
#main-content .offset-by-nine                 { padding-left: 700px; }
#main-content .offset-by-ten                   { padding-left: 780px; }
#main-content .offset-by-eleven             { padding-left: 860px; }

.partners-title { padding: 10px; background: #12a4b3 url(../images/pattern.png); padding-left: 30px;	padding-top: 16px; padding-bottom: 16px;}

.partners .partners_images { float: left; }


#container-blog-two-col .one_half { overflow: hidden; margin-left: 20px; width: 295px; float: left; position: relative; margin-bottom: 60px; }
 
#template-blog-masonry #container-blog-two-col { width: 630px; position: relative; left: -20px; }


#container-blog-full .one_half { overflow: hidden; margin-left: 20px; width: 455px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }

#container-blog-full .one_third{ overflow: hidden; margin-left: 20px; width: 296px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
 
#template-blog-masonry #container-blog-full { width: 950px; position: relative; left: -20px; }


#container-blog-two-col .one_half .blog-image {	width: 295px; height: 94px; }

#container-blog-full .one_half .blog-image { width: 455px; height: 141px; }

#container-blog-full .one_third .blog-image {	width: 295px; height: 94px; }





/* Tablet (Portrait) */

/* Note: Design for a width of 768px, Gutter: 30px, column: 34px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.boxed #content					     { width: 766px; }
	.container                                       	     { width: 648px; }

	.container .one.column                   	     { width: 29px; }
	.container .two.columns                  	     { width: 88px; }
	.container .three.columns                	     { width: 147px; }
	.container .four.columns                 	     { width: 206px; }
	.container .five.columns                 	     { width: 265px; }
	.container .six.columns                  	     { width: 324px; }
	.container .seven.columns                	     { width: 383px; }
	.container .eight.columns                	     { width: 442px; }
	.container .nine.columns                 	     { width: 501px; }
	.container .ten.columns                  	     { width: 560px; }
	.container .eleven.columns               	     { width: 660px; }
	.container .twelve.columns               	     { width: 708px; }


	/* Offsets */
	#main-content .offset-by-one                   { padding-left: 59px; }
	#main-content .offset-by-two                   { padding-left: 118px; }
	#main-content .offset-by-three               { padding-left: 177px; }
	#main-content .offset-by-four                 { padding-left: 236px; }
	#main-content .offset-by-five                 { padding-left: 295px; }
	#main-content .offset-by-six                   { padding-left: 354px; }
	#main-content .offset-by-seven               { padding-left: 413px; }
	#main-content .offset-by-eight               { padding-left: 472px; }
	#main-content .offset-by-nine                 { padding-left: 531px; }
	#main-content .offset-by-ten                   { padding-left: 590px; }
	#main-content .offset-by-eleven             { padding-left: 649px; }
	
	.partners-title { padding: 10px; background: #12a4b3 url(../images/pattern.png); padding-left: 30px;	padding-top: 16px; padding-bottom: 16px;}
	
	.main_menu {	float: left; }
	
	.partners .partners_images { float: left; }
	
	.contactform textarea { max-width: 420px; }
	
	.widget { width: 160px; }
	
	#flickr_widget { width: 155px; }
	
	#search_field_block { width: 115px; }
	
	#template-blog-masonry .one_third	{ overflow: hidden; margin-left: 0; padding-right: 4%; width: 46%; float: left; position: relative; margin-bottom: 20px; }
	
	
	#container-blog-two-col .one_half { overflow: hidden; margin-left: 20px; width: 211px; float: left; position: relative; margin-bottom: 60px; }
 
	#template-blog-masonry #container-blog-two-col { width: 462px; position: relative; left: -20px; }
	
	
	#container-blog-full .one_half { overflow: hidden; margin-left: 20px; width: 344px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
	
	#container-blog-full .one_third { overflow: hidden; margin-left: 20px; width: 222px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
 
	#template-blog-masonry #container-blog-full { width: 728px; position: relative; left: -20px; }
	
	
	.post-v2 { width: 442px; }
	
	.post-meta { width: 442px; }
	
	.post-v2 .post-content { width: 442px; float: left; }
	
	
	.post-page-content { width: 442px; }
	
	.post-page-content .post-content { width: 442px; float: left; }
	
	.post-comments { width: 442px; float: left; }
	
	
	.project-page-content { width: 442px; }
	
	.project-page-content .post-content { width: 442px; float: left; }
	
	
	#comments { width: 442px; }
	
	.comments { width: 442px; }
	
	.comment_here { width: 442px; }
	
	.comment_here .contactform textarea{ width: 420px; }


	.inner_sidebar { width: 160px; }



	.one_fourth .portfolio-image img { width: 155px; height: 112px; }

	.one_third .portfolio-image img { width: 215px;	height: 155px; }

	.one_half .portfolio-image img { width: 339px; height: 244px; }


	#container-blog-two-col .one_half .blog-image {	width: 211px; height: 69px; }

	#container-blog-full .one_half .blog-image { width: 344px; height: 108px; }

	#container-blog-full .one_third .blog-image {	width: 222px; height: 90px; }




	#main_wrap { width: 660px; }

	.navigation, .nav-top, .content-center {	width: 720px; }

	.nav-top { margin-right: -360px; }
	

}


/*  Mobile (Portrait) */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
	.boxed #content  { width: 318px;  }
	.container { width: 260px; }
	.columns, .column { margin: 0; }

	.container .one.column,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	#main-content .one_fifth,			
	#main-content .one_fourth,		
	#main-content .one_third,			
	#main-content .two_fifth,			
	#main-content .one_half,			
	#main-content .three_fifth,		
	#main-content .two_third,			
	#main-content .three_fourth,		
	#main-content .four_fifth { margin-left: 0; margin-bottom: 20px; width: 260px; }

	/* Offsets */
	#main-content .offset-by-one,
	#main-content .offset-by-two,
	#main-content .offset-by-three,
	#main-content .offset-by-four,
	#main-content .offset-by-five,
	#main-content .offset-by-six,
	#main-content .offset-by-seven,
	#main-content .offset-by-eight,
	#main-content .offset-by-nine,
	#main-content .offset-by-ten,
	#main-content .offset-by-eleven{ padding-left: 0; }
	
	.partners {	text-align: center;	}
	
	.partners-title { padding: 10px; background: #12a4b3 url(../images/pattern.png); padding-left: 30px; margin-right: 20px;	padding-top: 16px; padding-bottom: 16px;}
	
	.partner-arrow { margin-right: 20px; }
	
	.top-info {float: left;}
	
	.top-info span {margin-left: 0; margin-right: 20px;}
	
	.partners .partners_images { float: none; }
	
	.contactform textarea, .input-textarea { max-width: 238px; }
	
	.widget { width: 260px; }
	
	#search_field_block { width: 200px; }
	
	#template-blog-masonry .one_third { overflow: hidden; margin-left: 0; padding-right: 0; width: 300px; float: left; position: relative; margin-bottom: 20px; }
	
	
	#container-blog-two-col .one_half { overflow: hidden; margin-left: 0; width: 300px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
 
	#template-blog-masonry #container-blog-two-col { width: 300px; float: left; left: 0; }
	
	
	#container-blog-full .one_half { overflow: hidden; margin-left: 0; width: 300px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
	
	#container-blog-full .one_third { overflow: hidden; margin-left: 0; width: 300px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
 
	#template-blog-masonry #container-blog-full { width: 300px; float: left; left: 0; }
	
	
	.post-v2 { width: 260px; }
	
	.post-meta { width: 260px; }
	
	.post-v2 .post-content { width: 260px; float: left; }
	
	
	.post-page-content { width: 260px; }
	
	.post-page-content .post-content { width: 260px; float: left; }
	
	.post-comments { width: 260px; float: left; }
	
	
	.project-page-content { width: 260px; }
	
	.project-page-content .post-content { width: 260px; float: left; }
	
	
	#comments { width: 260px; }
	
	.comments { width: 260px; }
	
	.comment_here { width: 260px; }
	
	.comment_here .contactform textarea{ width: 236px; }
	
	
	#price-table .pack { width: 100%; }


	.inner_sidebar { width: 270px; }



	.one_fourth .portfolio-image img { width: 300px; height: 216px; }

	.one_third .portfolio-image img { width: 300px;	height: 216px; }

	.one_half .portfolio-image img { width: 300px; height: 216px; }


	#container-blog-two-col .one_half .blog-image {	width: 300px; height: 95px; }

	#container-blog-full .one_half .blog-image { width: 300px; height: 95px; }

	#container-blog-full .one_third .blog-image {	width: 300px; height: 95px; }

	/* de aici */

	

	/* Homepage */

	.home #banner nav {	position: fixed; top: 150px; }

	.home #banner .mobileMenu {	position: relative; left: 50%; margin-left: -150px; }

	.home .flexslider .slides li p, .home .flexslider .slides li h4 { display: none; }

	.home #social-icons { position: fixed; top: 100px; left: 50%; margin-left: -98px; }

	

	/* Defaul Page */

	.default-page #logo{ width: 300px; position: relative; top: 20px; left: 50%; margin-right: 150px; float: left; }

	.default-page #social-icons { position: relative; top: 20px; left: 50%; margin-left: -98px; float: left; }

	.default-page #banner nav {	position: relative; float: left; top: 40px; }

	.default-page #banner {	position: relative; }

	.default-page #banner .mobileMenu {	position: relative; left: 50%; margin-left: -150px; }


	/* All Pages */

	.flexslider .slides li h4 { bottom: 90px; left: -20px; }

	#copyright {  float: left; position: relative; width: 300px; bottom: 10px; left: 50%; margin-left: -150px; text-align: center; }

	.flex-control-nav, .home .flex-control-nav { display: none; }

	#logo { position: fixed; top: 20px; left: 50%; margin-left: -55px; }

	#banner .mobileMenu {	left: 50%; margin-left: -220px; }

	#banner .mobileMenu { position: relative; width: 300px; margin: 20px auto; }

	.flexslider .slides li h4, .flexslider .slides li p { display: none }

	.settings { top: -78px; }

	#audio { right: 40px; }

	#main_wrap { float: right; padding: 20px; width: 260px; margin: 0; margin-top: 60px; right: 50%; margin-right: -150px; }


	/* Borders and Hello Bar */
	#top, #bottom, #left, #right, .settings, .flex-control-nav { display: none; }

	.navigation, .nav-top, .content-center { width: 100%; }

	.nav-top {
		position: relative;
		right: auto;
		margin-right: auto;
	}

}


/* Mobile (Landscape) */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.boxed #content   { width: 478px;  }
	.container { width: 380px; }
    .columns, .column { margin: 0; }

    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
	#main-content .full,	
    #main-content .one_fifth,			
	#main-content .one_fourth,		
	#main-content .one_third,			
	#main-content .two_fifth,			
	#main-content .one_half,			
	#main-content .three_fifth,		
	#main-content .two_third,			
	#main-content .three_fourth,		
	#main-content .four_fifth { width: 380px; margin-left: 0; margin-bottom: 20px; }
													   
    .partners {	text-align: center;	} 

	.partners-title { padding: 10px; background: #12a4b3 url(../images/pattern.png); padding-left: 30px; margin-right: 20px;	padding-top: 16px; padding-bottom: 16px;}
	
	.partner-arrow { margin-right: 20px; }
	
	.top-info {float: left;}
	
	.top-info span {margin-left: 0; margin-right: 20px;}
	
	.partners .partners_images { float: none; }
	
	.contactform textarea { max-width: 358px; }
	
	.widget { width: 380px; }
	
	#search_field_block { width: 320px; }
	
	#template-blog-masonry .one_third { overflow: hidden; margin-left: 0; padding-right: 0; width: 420px; float: left; position: relative; margin-bottom: 20px; }
	
	
	#container-blog-two-col .one_half { overflow: hidden; margin-left: 0; width: 420px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
 
	#template-blog-masonry #container-blog-two-col { width: 420px; float: left; left: 0; }
	
	
	#container-blog-full .one_half { overflow: hidden; margin-left: 0; width: 420px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
	
	#container-blog-full .one_third { overflow: hidden; margin-left: 0; width: 420px; float: left; position: relative; margin-bottom: 60px; padding-right: 0; }
 
	#template-blog-masonry #container-blog-full { width: 420px; float: left; left: 0; }
	
	
	.post-v2 { width: 380px; }
	
	.post-meta { width: 380px; }
	
	.post-v2 .post-content { width: 380px; float: left; }
	
	
	.post-page-content { width: 380px; }
	
	.post-page-content .post-content { width: 380px; float: left; }
	
	.post-comments { width: 380px; float: left; }
	
	
	.project-page-content { width: 380px; }
	
	.project-page-content .post-content { width: 380px; float: left; }
	
	
	#comments { width: 380px; }
	
	.comments { width: 380px; }
	
	.comment_here { width: 380px; }
	
	.comment_here .contactform textarea{ width: 348px; }
	
	
	#price-table .pack { width: 100%; }


	.inner_sidebar { width: 390px; }



	.one_fourth .portfolio-image img { width: 420px; height: 303px; }

	.one_third .portfolio-image img { width: 420px;	height: 303px; }

	.one_half .portfolio-image img { width: 420px; height: 303px; }


	#container-blog-two-col .one_half .blog-image {	width: 420px; height: 130px; }

	#container-blog-full .one_half .blog-image {	width: 420px; height: 130px; }

	#container-blog-full .one_third .blog-image {	width: 420px; height: 130px }

	/* de aici */




	/* Homepage */

	.home #banner nav {	position: fixed; top: 150px; }

	.home #banner .mobileMenu {	position: relative; left: 50%; margin-left: -210px; }

	.home .flexslider .slides li p, .home .flexslider .slides li h4 { display: none; }

	.home #social-icons { position: fixed; top: 100px; left: 50%; margin-left: -98px; }

	

	/* Defaul Page */

	.default-page #logo{ width: 420px; position: relative; top: 20px; left: 50%; margin-right: 150px; float: left; }

	.default-page #social-icons { position: relative; top: 20px; left: 50%; margin-left: -98px; float: left; }

	.default-page #banner nav {	position: relative; float: left; top: 40px; }

	.default-page #banner {	position: relative; }

	.default-page #banner .mobileMenu {	position: relative; left: 50%; margin-left: -210px; }


	/* All Pages */

	.flexslider .slides li h4 { bottom: 90px; left: -20px; }

	.home #copyright {  display: none; }

	.flex-control-nav, .home .flex-control-nav { display: none; }

	#logo { position: fixed; top: 20px; left: 50%; margin-left: -55px; }

	#banner .mobileMenu {	left: 50%; margin-left: -220px; }

	#banner .mobileMenu { position: relative; width: 420px; margin: 20px auto; }

	.flexslider .slides li h4, .flexslider .slides li p { display: none }

	.settings { top: -78px; }

	#audio { right: 40px; }

	#main_wrap { float: right; padding: 20px; width: 380px; margin: 0; margin-top: 60px; right: 50%; margin-right: -210px; }


	/* Borders and Hello Bar */
	#top, #bottom, #left, #right, .settings, .flex-control-nav { display: none; }


	.navigation, .nav-top, .content-center { width: 100%; }

	.nav-top {
		position: relative;
		right: auto;
		margin-right: auto;
	}


}


/* Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; 
}
.row:after,
.clearfix:after {
    clear: both; 
}
.row,
.clearfix {
    zoom: 1; 
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* Columns for better content separation */

.full       			       {	overflow: hidden; margin-left: 0; width:100%; float:left;	position:relative; margin-bottom: 20px; }
.one_fifth			{	overflow: hidden; margin-left: 4%; width:16.5%; float:left;	position:relative; margin-bottom: 20px; }
.one_fourth			{	overflow: hidden; margin-left: 4%; width:22%;  float:left; 	position:relative; margin-bottom: 20px; }
.one_third			{	overflow: hidden; margin-left: 4%; width:30.5%; float:left; position:relative; margin-bottom: 20px; }
.two_fifth			{	overflow: hidden; margin-left: 4%; width:38.5%; float:left;	position:relative; margin-bottom: 20px; }
.one_half			{	overflow: hidden; margin-left: 4%; width:48%; float:left; 	position:relative; margin-bottom: 20px; }
.three_fifth		        {	overflow: hidden; margin-left: 4%; width:57%; float:left; 	position:relative; margin-bottom: 20px; }
.two_third			{	overflow: hidden; margin-left: 4%; width:65.5%; float:left; position:relative; margin-bottom: 20px; } 
.three_fourth		{	overflow: hidden; margin-left: 4%; width:74%; float:left; 	position:relative; margin-bottom: 20px; }
.four_fifth			{	overflow: hidden; margin-left: 4%; width:79%; float:left; 	position:relative; margin-bottom: 20px; }
.msie7 .one_fourth		{ 	width:21.5%;  	}
.msie7 , .msie7 li	        {	zoom:1; 		}
