﻿form div.content h6.lock a {
    color: #868686;
    text-decoration:underline;
}

    form div.content h6.lock a:hover {
        color: #FFFFFF;
    }

div.left {
    /*width: 37%;*/
}

input.input-submit {
    width:100px !important
}