﻿div.inner_sidebar div.widget-content * {
    color: #868686;
}

div.inner_sidebar div.widget-content ul {
    list-style: none;
    margin: 1em 0 1.5em;
}

    div.inner_sidebar div.widget-content ul li {
        border-bottom: 1px ridge #666666;
        border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
        display: block;
        padding: 3px 0;
    }

        div.inner_sidebar div.widget-content ul li a {
            font-size: 16px;
        }

            div.inner_sidebar div.widget-content ul li a:hover {
                color: #FFFFFF;
            }

.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 120px;
    padding-top: 30px;
}

#c1, #c2, #c3, #c4 {
    /*padding-top: 140px;
    margin-top: -140px;*/
}

.forgot-password-link {
    font-size: 16px;
    position: relative;
    text-decoration: underline !important;
}

div#vsLoginOwner ul {
    margin: 0 0 0 1.5em;
}

div#vsLoginOwner {
    color:red;
    display:inline;
}


