﻿/* Layout styles */
#main_wrap {
    width: 975px; 
    padding-left: 0px; 
    padding-right: 0px;
}

/* Calendar legend styles*/

div.rates-legend {
    margin-top: 20px;
    width: 150px;
    float: left;
}

    div.rates-legend div.legend-box {
        font-size: 16px;
        margin-bottom: 7px;
        margin-left: 10px;
    }

        div.rates-legend div.legend-box > span {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            margin-right: 5px;
        }

.unavailable * {
    background-color: #777777 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.available * {
    background-color: #669900 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.availableRest * {
    background-color: #9bd42b !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.reservation * {
    background-color: #FE9A2D !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.notBookable * {
    background-color: #35C5EF !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ownerStay * {
    background-color: #E23C54 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.mlos * {
    background-color: #000000 !important;
    background-image: url('/images/horizontalLines-white.png');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cta * {
    background-color: #000000 !important;
    background-image: url('/images/diagonalLines-white.png');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.calendar-reservation {
    background-color: #FE9A2D !important;
}

div.rates-legend {
    width: 180px !important;
    float: left;
    margin-left: 95px;
    margin-top: 21px;
}

span.button {
    cursor: pointer;
    text-decoration:underline;
}

span.selected {
    color:white;
}

.legend-title {
    border-bottom: 1px solid;
    border-left: 1px solid;
    margin-bottom: 9px;
    margin-left: 10px;
    margin-right: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor:default;
}

.legend-hint-box span:first-child {
    border-bottom: 1px solid;
    display: block;
    font-size: 18px;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-right: 6px;
    cursor:default;
}

.legend-hint-box span:nth-child(2) {
    display:block;
    margin-left: 10px;
    padding-top: 10px;
    margin-right: 6px;
    font-size: 18px;
    cursor:default;
}

div.rates-legend a {
    text-decoration: underline;
    margin-left: 10px;
}


/* Calendar styles*/
div#reservation-calendar div.datepickerContainer table tbody tr td table.datepickerViewDays tbody.datepickerDays tr td {
    border: 2px #777777 ridge;
    text-align: center;
}

div#reservation-calendar div.datepicker * {
    font-size: 22px !important;
}

div#reservation-calendar .datepickerDays a {
    height: 40px;
    line-height: 16px;
    width: 28px;
}

    div#reservation-calendar .datepickerDays a span {
        font-size: 0.72em !important;
    }

div#availreservation-calendarabilityDate .datepickerDoW th span {
    font-size: 0.72em !important;
}

div#reservation-calendar p.price_calendar {
    font-size: 0.55em !important;
    color: #BBBBBB;
}

div#reservation-calendar .datepickerContainer {
    background-color: transparent;
}

div#reservation-calendar .datepickerBorderT, div#reservation-calendar .datepickerBorderB,
div#reservation-calendar .datepickerBorderL, div#reservation-calendar .datepickerBorderR,
div#reservation-calendar .datepickerBorderBL, div#reservation-calendar .datepickerBorderBR,
div#reservation-calendar .datepickerBorderTL, div#reservation-calendar .datepickerBorderTR {
    border: none;
    background-image: none;
}

td.datepickerUnavailable, td.datepickerUnavailable a {
    background: none repeat scroll 0 0 #777777 !important;
}

td.calendar-available, td.calendar-available a {
    background: none repeat scroll 0 0  #669900;
}

td.calendar-reservation, td.calendar-reservation a {
    background: none repeat scroll 0 0 #FE9A2D;
}

td.calendar-ownerStay, td.calendar-ownerStay a {
    background: none repeat scroll 0 0  #E23C54;
}

td.selected-ownerStay, td.selected-ownerStay a {
    background: none repeat scroll 0 0  #E23C54 !important;
}

td.selected-available, td.selected-available a {
    background: none repeat scroll 0 0 #3a5602 !important;
}


td.calendar-cta a {
    background-image: url('/images/diagonalLines-black.png') !important;
}

td.calendar-mlos a {
    background-image: url('/images/horizontalLines-black.png') !important;
}

td.calendar-mlosCta a {
    background-image: url('/images/horizontalDiagonalLines-black.png') !important;
}


/* tooltip */

div#reservation-calendar div.containerForToolTip * {
    font-size: 18px !important;
}

.toolTipDatePicker {
    display: none;
    overflow: hidden;
    background-color:black;
    position: relative;
    left: -50px;
    top: -148px;
    font-size: 12px !important;C:\Work\otp-rep\src\OTP\ExtranetApp\App_Performance\
    border: 1px solid #868686;
}


.datepickerDays a:hover + div div.toolTipDatePicker{
    display: block;
    position:absolute;
    left: 35px;
    top: -70px;
    z-index: 10000 !important;
}

div.popup-reservationDetails {
}

    div.popup-reservationDetails div.popup-header {
        border-bottom: 1px solid #868686;
        width: 250px;
        margin: 0 10px 0 10px !important;
        margin-bottom: 5px;
    }

    div.standart-popup div.popup-header {
        width: 150px !important;
    }

        div.popup-reservationDetails div.popup-header div.popup-user {
            float: left;
            width: 50%;
        }

        div.popup-reservationDetails div.popup-header div.popup-confirmation {
            float: left;
            width: 50%;
            text-align: right;
        }

    div.popup-reservationDetails div.popup-tripDates {
        text-align: center;
        margin-bottom: 15px;
    }

    div.popup-reservationDetails .price-desc {
        float: left;
        text-align: left;
        margin: 0 0 0 10px !important;
        width: 60%;
    }

    div.popup-reservationDetails .price-value {
        float: right;
        margin: 0 10px 0 0 !important;
        text-align: right;
    }

    div.popup-reservationDetails .popup-net {
        margin: 0 0 10px 0 !important;
    }

    div.popup-reservationDetails .popup-net .price-value {
        border-top: 1px solid #868686;
    }

    div.popup-reservationDetails .popup-information {
        margin: 0 0 5px 0 !important;
    }


/* Object modal form */

.objects-modal-form {
    z-index: 100000;
    display: none;
}
    .objects-modal-form h3 {
        font-weight: bold;
        float: left;
    }

    .objects-modal-form .year-control {
        margin-left: 5px;
        width: 75px;
        font-size: 13px;
        min-width: 75px;
        background: none;
        background-color: white;
        color: black;
    }

    .objects-modal-form input[type=text] {
        width: 97px;
        font-size:13px !important;
    }

    .objects-modal-form .objects table thead tr th.date, .objects-modal-form .objects table tbody tr td.date {
        width: 100px;
    }

    .objects-modal-form .objects table thead tr th.separator, .objects-modal-form .objects table tbody tr td.separator {
        width: 50px;
    }

    .objects-modal-form .objects table thead tr th.price, .objects-modal-form .objects table tbody tr td.price {
        width: 150px;
    }

    .objects-modal-form .objects table thead tr th.days, .objects-modal-form .objects table tbody tr td.days {
        width: 280px;
    }

    .objects-modal-form .objects table tbody tr td {
        text-align: center;
        padding: 5px;
    }

    .objects-modal-form .add-period {
        margin-left: 5px;
        margin-top: 15px;
    }

    .objects-modal-form td.delete > span {
        cursor: pointer;
    }

    .objects-modal-form td.delete > span:hover {
        color: white;
    }

.rates-modal-form {
    height:200px;
}

.rates-modal-form .objects-title {
    margin-left: 300px;
    margin-bottom: 10px;
}

.mlos-modal-form .objects-title {
    margin-left: 130px;
    margin-bottom: 10px;
}

.cta-modal-form .objects-title {
    margin-left: 140px;
    margin-bottom: 10px;
}

.owner-stay-form .objects-title {
    margin-left: 180px;
    margin-bottom: 10px;
}

.datepicker {
    z-index: 100001;
}

.objects-modal-form input[type="text"].required-field {
    border: 1px solid red;
}

.error-container {
    margin-top: 5px;
}

    .error-container p {
        color: red;
        margin-bottom: 0px;
    }