/*
Center Layout
*/

.body {
	width: 100%;
    
}


.nav-top, .content-center {
	margin: 0 auto;
	width: 975px;
}

.navigation {
    margin: 0px auto;
    text-align: center;
    display: table;
}

.nav-top {
	position: fixed;
	float: right;
	right: 50%;
	margin-right: -460px;
}

.default-page #banner nav ul { 
	float: left; 
	margin-left: -10px;
}

.default-page #banner nav li ul {
	margin-left: 10px;
}

#banner nav ul { 
	float: left; 
	margin-left: 50px;
}

#logo {
	margin-right: 60px;
	float: right;
	right: 0;
}

.home #social-icons {
	float: left;
	left: 60px;
}

.default-page #social-icons {
	position: relative;
	float: right;
}

.default-page #logo {
	position: relative;
	float: left;
	top: 50px;
}

#main_wrap {
	float: left;
	margin-left: 0;
}

#copyright {
	float: left;
	margin-left: 0;
}

.home #copyright {
	float: right;
    /* margin-right: 60px; */
}