﻿.propertyDetailsLink {
    cursor: pointer;
}

    .propertyDetailsLink.input-submit {
        text-shadow: -1px -1px 1px #444;
        background-color: #227fbd;
        font-weight: bold;
    }

div#loginBlockPopup {
    background-color: #2d2c2c;
    text-align: left;
    color: #ffffff;
    padding: 20px;
    display: none;
    width: 200px;
}

    div#loginBlockPopup > hgroup.title h1 {
        color: #d2d2d2;
        font-size: 140%;
        font-weight: 300;
    }


    div#loginBlockPopup h2 {
        font-size: 120%;
        color: #ffffff;
    }

    div#loginBlockPopup ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        list-style-position: inside;
    }

        div#loginBlockPopup ul li {
            padding-top: 10px;
            padding-bottom: 10px;
            color: #ffffff !important;
        }

            div#loginBlockPopup ul li label {
                color: #ffffff;
                width: 100px;
                display: inline-block;
            }

    div#loginBlockPopup a {
        color: #d2d2d2;
        border: none;
        padding: 0px;
        font-size: 16px;
        text-decoration: underline;
    }

    div#loginBlockPopup input#Email,
    div#loginBlockPopup input#Password {
        background-image: url("../images/gfx/input_lok_bg.png");
        background-repeat: repeat-x;
        background-position: bottom;
        padding: 5px;
        border: none;
    }

    div#loginBlockPopup input#LogIn {
        background-color: #214f74;
        border: 1px solid #d2d2d2;
        float: left;
        margin: 4px;
    }


    div#loginBlockPopup legend {
        color: #ffffff;
    }

/*About Us Menu*/


ul#aboutUsList a:link, ul#aboutUsList a:visited {
    color: #868686;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 300;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul#aboutUsList li span {
    padding: 5px 0px 5px 10px;
}

ul#aboutUsList a:hover, ul#aboutUsList a:active, ul#aboutUsList .active a:link, ul#aboutUsList .active a:visited {
    /*color: #19d7e3;
	text-shadow: none !important;
	font-family: 'Armata',"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-weight: lighter;*/
}


ul#aboutUsList {
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
    bottom: 30px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    list-style-type: none;
    background-color: none;
}

    ul#aboutUsList li {
        display: block;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        border: none;
    }

        ul#aboutUsList li:last-child {
            border: none;
        }

    ul#aboutUsList a:link, ul#aboutUsList a:visited {
        padding: 10px;
    }

    ul#aboutUsList a {
        width: 190px;
        float: left;
        text-align: left;
        line-height: 20px;
        font-size: 18px;
        color: #868686;
        display: block;
        height: 20px;
        padding-left: 10px;
        background-image: url("../images/gfx/menu_list_bg.png");
        background-repeat: repeat-x;
        border: none;
    }

        ul#aboutUsList a:hover, ul#aboutUsList a.current {
            background-image: url("../images/gfx/menu_list_bg_sel.png");
            color: #ffffff;
        }

/*
ul#aboutUsList a {
	width: 160px;
	height: auto;
	float: left;
	text-align: left;
	line-height: 23px;
	padding: 10px 0 8px 0;
	font-size: 12px;
	min-height: 23px;
	max-width: none;
	text-decoration: none;
}

ul#aboutUsList a:hover, ul#aboutUsList a.current {
	background: none;
	color: #19d7e3;
}
*/
/*Guests Menu*/
ul#guestsMenu li a {
    font-size: 100%;
}

ul#guestsMenu a:link, ul#guestsMenu a:visited {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Armata',"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-weight: lighter;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul#guestsMenu li span {
    padding: 5px 0px 5px 10px;
}

ul#guestsMenu a:hover, ul#guestsMenu a:active, ul#guestsMenu .active a:link, ul#guestsMenu .active a:visited {
    color: #19d7e3;
    text-shadow: none !important;
    /*font-family: 'Armata',"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;*/
    font-weight: lighter;
}


ul#guestsMenu {
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
    bottom: 22px;
    left: 65px;
    width: 190px;
    z-index: 2;
    cursor: pointer;
    border-bottom: 2px solid #19d7e3;
    background-color: #fff;
    -moz-box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    list-style-type: none;
}

    ul#guestsMenu li {
        display: block;
        height: 40px;
        margin: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid #d4d4d4;
    }

        ul#guestsMenu li:last-child {
            border: none;
        }

    ul#guestsMenu a:link, ul#guestsMenu a:visited {
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #484848;
    }

    ul#guestsMenu a {
        width: 160px;
        height: auto;
        float: left;
        text-align: left;
        line-height: 23px;
        padding: 10px 0 8px 0;
        font-size: 12px;
        min-height: 23px;
        max-width: none;
        text-decoration: none;
    }

        ul#guestsMenu a:hover, ul#guestsMenu a.current {
            background: none;
            color: #19d7e3;
        }

#banner > nav > ul > li#nv-return-search {
    display: none;
    background-image: none;
}

#banner > nav > ul > li > div.upper {
    top: auto;
    bottom: 80px;
}

    #banner > nav > ul > li > div.upper > div {
        /*border-bottom: 2px solid #19d7e3;*/
        border-top: 0px;
        text-align: center;
        background-color: #2d2c2c;
    }

        #banner > nav > ul > li > div.upper > div > ul {
            display: block;
            position: relative;
            top: auto;
            bottom: auto;
            border: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-align: center;
            width: 187px;
        }

        #banner > nav > ul > li > div.upper > div > input#localisationPhrase {
            background-image: url("../images/gfx/input_lok_bg.png");
            background-repeat: no-repeat;
            height: 20px;
            padding: 10px;
            width: 503px;
            border: none;
            margin-bottom: 10px;
            margin-top: 10px;
            color: #868686;
        }

        #banner > nav > ul > li > div.upper > div > ul.last {
            width: 185px;
        }

        #banner > nav > ul > li > div.upper > div > ul > li > a {
            background-image: url("../images/gfx/menu_loc_el_bg.png");
            background-repeat: no-repeat;
            height: 22px;
            width: 177px;
        }

            #banner > nav > ul > li > div.upper > div > ul > li > a:hover {
                background-color: #214f74;
            }

        #banner > nav > ul > li > div.upper > div > ul.last > li > a {
            width: 175px;
        }

    #banner > nav > ul > li > div.upper input {
        margin: auto;
    }

.propertyType {
    width: 690px !important;
    background-color: #868686;
}


    .propertyType li {
        width: 30%;
        float: left;
        display: inline;
    }

#banner nav li.groupped-item {
    display: none;
}

/*Guest Join popup*/
div#joinBlockPopup {
    background-color: #2D2C2C;
    padding: 20px;
    display: none;
    position: relative;
    z-index: 1000;
    width: 200px;
    text-align: left;
}

    div#joinBlockPopup > hgroup.title h1 {
        color: #FFFFFF;
        font-size: 140%;
        text-align: left;
    }


    div#joinBlockPopup h2 {
        font-size: 120%;
        color: #FFFFFF;
    }

    div#joinBlockPopup ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        list-style-position: inside;
    }

        div#joinBlockPopup ul li {
            padding-top: 10px;
            padding-bottom: 10px;
            color: #FFFFFF !important;
        }

            div#joinBlockPopup ul li label {
                color: #FFFFFF;
                width: 200px;
                display: inline-block;
            }

            div#joinBlockPopup ul li input {
                background-image: url("../images/gfx/input_lok_bg.png");
                background-position: center bottom;
                background-repeat: repeat-x;
                border: medium none;
                padding: 5px;
                margin-bottom: 0px;
            }

    div#joinBlockPopup legend {
        color: #484848;
    }

.field-validation-error > span {
    color: red;
}

#copyright {
    bottom: 0px;
    position: fixed;
    right: 10px !important;
    width: 400px;
    z-index: 1000;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
}

    #copyright a {
        border-left: 1px solid #d5d5d5;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: #2b2b2b;
    }

        #copyright a#showAboutUsLink {
            border-right: 1px solid #d5d5d5;
        }

        #copyright a#logoutLink {
            border-right: 1px solid #d5d5d5;
            border-left: none;
        }

        #copyright a:hover {
            color: #868686;
        }

/*Default page styles*/
.nav-top {
    z-index: 1000;
}

.default-page #logo {
    z-index: 9999;
    top: 50px;
}

.widget input {
    width: 85%;
}

.default-page #banner nav {
    top: 50px;
}

#main_wrap {
    margin-top: 120px;
}

.default-page {
    /*background-color: #454545;*/
    background: url(../images/background/bg.jpg) fixed center;
}

.left {
    float: left;
    width: 50%;
}

.clear {
    clear: both;
}

.watermark_container {
    max-height: 45px;
}

input#guestsCount, input#bedroomsCount, input#bathroomsCount {
    background-image: url("../images/gfx/input_bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    border: none;
    padding: 5px;
    color: #868686;
}

#banner > nav > ul {
    margin-top: 0px;
}

    #banner > nav > ul > li {
        display: block;
        border-right: 1px solid #1b1b1b;
        padding-right: 40px;
        height: 80px;
        background-image: url("../images/gfx/menu_ind.png");
        background-repeat: no-repeat;
        background-position: 90% 50%;
    }

        #banner > nav > ul > li > span {
            color: #868686;
            font-size: 14px;
            display: block;
            line-height: 16px;
        }


/* Homeowner common*/
header.body div.under-shadow {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 10px;
    background: url("/images/background/bg.jpg") repeat fixed center center rgb(0, 0, 0);
    z-index: 990;
}

nav div.navigation {
    margin-left: 10px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

    nav div.navigation div.homeowner-page-title {
        width: 70%;
        margin-top: 10px;
        float: left;
    }

/* HomeOwner Index*/

#homeowner_page_title {
    position: fixed;
    z-index: 9999;
    background-color: black;
    margin-top: 120px;
    padding: 10px 30px;
}

/* ForgotPassword */
#forgotpassword_page_title {
    position: fixed;
    z-index: 1000;
    background-color: black;
    margin-top: 120px;
    padding: 10px 30px;
}

div#forgotpassword_form input#Email {
    width: 350px;
    margin-top: 20px;
}

div#forgotpassword_form input#btnLogin, div#forgotpassword_form input#btnBackToWizard {
    width: 25% !important;
    margin-top: 40px;
}



div#forgotpassword_form div#info-box {
    margin-top: 20px;
    color: red;
}

div#forgotpassword_success_form a {
    margin-top: 20px;
    display: block;
}

/* ChangePassword */

#changepassword_page_title {
    position: fixed;
    z-index: 9999;
    background-color: black;
    margin-top: 120px;
    padding: 10px 30px;
}

div#changepassword_form input#btnLogin {
    width: 25% !important;
}

div#changepassword_form fieldset {
    margin-top: 20px;
}

div#changepassword_form ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    list-style-position: inside;
}

    div#changepassword_form ul li {
        /*padding-top: 10px;
    padding-bottom: 10px;*/
    }

li .input-textarea {
    padding: 7px;
}

div#changepassword_form ul li label {
    width: 200px;
    display: inline-block;
}

div#changepassword_form div#info-box {
    margin-top: 20px;
    color: red;
}

#inner_slider.fixed {
    position: fixed;
}

/* Regulations */
.regulations-page {
    position: fixed;
    z-index: 9999;
    background-color: black;
    margin-top: 120px;
    padding: 10px 30px;
}


/*Date and time picker from jQuery cusotmization*/
.ui-datepicker, .ui-datepicker-calendar, .ui-datepicker-header, .ui-datepicker table,
div.ui-datepicker-inline table.ui-datepicker-calendar tbody tr td, div.ui-datepicker-inline table.ui-datepicker-calendar tbody tr td a {
    font-size: 10px;
    background-color: #000000;
    color: #FFFFFF;
    background-image: none;
    border: 0px;
}

    .ui-datepicker-header .ui-state-hover, a.ui-datepicker-next-hover, a.ui-datepicker-prev-hover, a.ui-datepicker-next-hover span, a.ui-datepicker-prev-hover span {
        background-color: #000000;
        background-image: none;
        border: 0px;
        font-weight: bold;
        top: 2px;
    }

    div.ui-datepicker-inline table.ui-datepicker-calendar tbody tr td a {
        line-height: 16px;
    }

    div.ui-datepicker-inline table.ui-datepicker-calendar tbody tr td.ui-state-highlight a {
        background-color: #136A9F;
    }

ui-timepicker-div, div.ui-timepicker-div div.ui-widget-header div.ui-datepicker-title, div.ui-timepicker-div div.ui-widget-header {
    font-size: 10px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
    background-image: none;
}

ul.ui-autocomplete, ul.ui-widget-content {
    background-image: none;
    background-color: #2D2C2C;
    color: #868686;
}

    ul.ui-autocomplete li.ui-menu-item a {
        color: #868686 !important;
    }

        ul.ui-autocomplete li.ui-menu-item a:hover, ul.ui-autocomplete li.ui-menu-item a.ui-state-focus {
            background-color: #214F74;
            background-image: none;
            border: 1px solid #888888;
            color: #FFFFFF !important;
        }

/* uniform fixes */
div.checker span {
    padding: 0px !important;
    margin: 0px !important;
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}

/*Fix for first ul checbox element*/
#banner nav li ul ul li:first-child a {
    /*margin-left: -15px;*/
}

#banner nav li {
    cursor: pointer;
}

.refineSearchOkButton {
    float: right;
    display: none;
    background-color: #868686;
    border: 1px solid #D2D2D2;
    margin-right: 10px;
}

.refineSearchChecboxOkButton {
    background-color: #868686;
    border: 1px solid #D2D2D2;
    float: left;
    margin: 10px;
}

div.scroller {
    width: 120px;
    overflow-x: hidden;
    position: relative;
    height: 30px;
    overflow-y: hidden;
}

div.scrollingtext {
    position: absolute;
    white-space: nowrap;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight: 300;
    text-decoration: none;
}

#ajaxLoadingIndicator {
    display: none;
    position: absolute;
    right: 50%;
    top: 0px;
    text-align: center;
    background-color: #FFFFFF;
    /*border: 1px solid #4D4D4D;*/
    width: 80px;
    z-index: 1001;
    border-radius: 0px 0px 3px 3px;
}

#date-from-wrong-dialog, #date-until-wrong-dialog {
    display: none;
}

div.ui-dialog, div.ui-dialog-content, div.ui-dialog-buttonpane {
    background-color: #121212 !important;
    background-image: none;
    color: #FFFFFF;
}

div.ui-dialog-titlebar, .ui-button {
    background-color: #222222 !important;
    background-image: none !important;
    color: #FFFFFF;
    border: none;
}

    div.ui-dialog-titlebar ui-state-hover {
        background-image: none;
    }

a.ui-dialog-titlebar-close {
    background: url("images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
    border: 1px solid #999999;
    color: #212121;
    font-weight: normal;
    padding: 0px !important;
}

.ui-dialog-titlebar-close {
    visibility: hidden !important;
}

input.round_radio, input.round_checbox {
    width: auto !important;
}

span.field-validation-error {
    text-align: left;
    color: red;
}

/*Final Score Details*/
div.finalScoreDetails-dialog {
    display: none;
    background: none repeat scroll 0 0 #222222;
    max-width: 250px;
    position: absolute;
    border: 1px ridge rgba(100, 100, 100, 0.2);
    z-index: 998;
}

    div.finalScoreDetails-dialog table tr {
        border-bottom: 1px #777777 ridge;
        /*border-bottom: 1px thin rgba(100, 100, 100, 0.2);*/
    }

        div.finalScoreDetails-dialog table tr:last-child {
            border-bottom: none;
        }

        div.finalScoreDetails-dialog table tr td {
            padding: 5px;
            color: #CCCCCC;
        }

.finalScoreDetails {
    color: #FFFFFF;
    background-color: #000000;
    background-image: none;
}


/* Media Queries */

/* Smaller than standard 1180 (devices and browsers) IPAD */
@media only screen and (min-width: 959px) and (max-width: 1180px) {
    #banner > nav > ul#mobile-menu-1 li {
        background-image: none !important;
        background: none !important;
        padding-right: 10px;
    }
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
