﻿img#img-logo {
    background-color: transparent;
}

.default-page header#banner.body nav {
    position: absolute;
    top: 0px;
}

div#main_wrap.container {
    margin-top: 120px;
}

#banner > nav > ul > li > div.upper {
    top: 60px;
}


    #banner > nav > ul > li > div.upper > div {
        /*border-bottom: 2px solid #19d7e3;*/
        border-top: 0px;
        text-align: center;
        background-color: #2d2c2c;
    }

        #banner > nav > ul > li > div.upper > div > ul {
            display: block;
            position: relative;
            top: auto;
            bottom: auto;
            border: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-align: center;
            width: 187px;
        }

        #banner > nav > ul > li > div.upper > div > input#localisationPhrase {
            background-image: url("../images/gfx/input_lok_bg.png");
            background-repeat: no-repeat;
            height: 20px;
            padding: 10px;
            width: 503px;
            border: none;
            margin-bottom: 10px;
            margin-top: 10px;
            color: #868686;
        }

        #banner > nav > ul > li > div.upper > div > ul.last {
            width: 185px;
        }

        #banner > nav > ul > li > div.upper > div > ul > li > a {
            background-image: url("../images/gfx/menu_loc_el_bg.png");
            background-repeat: no-repeat;
            height: 22px;
            width: 177px;
        }

            #banner > nav > ul > li > div.upper > div > ul > li > a:hover {
                background-color: #214f74;
            }

        #banner > nav > ul > li > div.upper > div > ul.last > li > a {
            width: 175px;
        }

    #banner > nav > ul > li > div.upper input {
        margin: auto;
    }

#banner.body nav ul#mobile-menu-1 {
    margin-left: 10px;
}

#banner.body nav ul.logo_element {
    float: right;
    margin-right: 0px;
    padding-right: 40px;
    margin-left: 0px;
}

    #banner.body nav ul.logo_element li {
        /*margin-left:0px;*/
        border-right: 0px;
        background-image: none;
        padding-right: 0px;
    }

#banner.body nav ul#mobile-menu-1 li.logo {
    background-image: none;
    padding-right: 10px;
}

    #banner.body nav ul#mobile-menu-1 li.logo a img {
        background-color: transparent;
    }

ul#mobile-menu-1 li ul li ul#propertyList.propertyType {
    top: auto;
}

ul#mobile-menu-1 li ul li ul#amenitiesList.propertyType {
    top: auto;
}

ul#mobile-menu-1 li ul li ul#experienceList.propertyType {
    top: auto;
}


ul#mobile-menu-1 li#nv-sort-menu {
    display: none;
}

ul#mobile-menu-1 li.nv-change-view {
    display: none;
}


ul#mobile-menu-1 li#nav-view-list.nv-change-view {
    background-image: url('/images/gfx/gfx_nav_tiles.png');
}

ul#mobile-menu-1 li#nav-view-map.nv-change-view {
    background-image: url('/images/gfx/gfx_nav_map.png');
}

ul#mobile-menu-1 li#nav-view-home.nv-change-view {
    background-image: url('/images/gfx/gfx_nav_home.png');
}

ul#mobile-menu-1 li#nv-propertyName {
    background-image: none;
}


span.ui-icon-triangle-1-e {
    background-image: url("/images/gfx/ui-icons.png");
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    width: 10px;
}

span.ui-icon-triangle-1-s {
    background-image: url("/images/gfx/ui-icons.png");
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    background-position: -64px -16px;
    width: 10px;
}