﻿#TripDetails_page_title {
    background-image: url("../images/menu-bg.png");
    margin-top: 130px;
    padding: 30px 30px 0 30px;
    width: 940px;
}
#TripDetails {
    width: 1010px;
    font-size: 1.1em;
}

#TripDetails_main_wrap.container {
    width: 940px;
}


#TripDetails_main_wrap {
    background-image: url("../images/menu-bg.png");
    margin-top: 250px;
    padding: 0 30px 25px;
    position: relative;
    width: 940px;
    z-index: 99;
    float: left;
    margin-left: 0;
}

.page-title span {
    margin: 0 30px 0 0;
}

#TripDetails p {
    /*color: white;*/
    margin-bottom: 0.45em;
}

.toolTipEdit {
    color: white;
    display: none;
    font-size: 0.8em;
    line-height: 1em;
}


div.two input {
    width: 120px;
}

div.one input {
    width: 264px;
}

.input-select {
    width: 287px;
}


div.input-container {
    margin-bottom: 10px;
    width: 290px;
}

div.three input {
    width: 72px;
}

div.three.left  {
    width: 33%;
}

.input-textarea {
    margin-bottom: 0px;
}

.tripTitle {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
    height: 14px;
    float: left;
}

.datepickerDays a {
    line-height: 13px;
    height: 16px;
    width: 17px;
}

.tripInfo {
    float: left;
    margin: 4px 30px;  
}

.tripLinks {
    border-left: 1px solid white;
    padding: 0 0 0 25px;
    float: left;
}

.tripLinks a {
    color: #868686;
}
.tripLinks a:hover {
    color: white;
}

.propertyImage {
    float: left;
    width: 120px;
    height: 120px;
}

.bottom-line,.detailTripInfoBlock {
    border-bottom: 1px dotted #666;
}

.confirmationCode {
    float: right;
    margin: 5px 0 12px 0;
}


#trip-calendar-container {
    width: 200px;
    height: 200px;
}



.block {
    float: left;
    margin-bottom: 20px;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
}

.CheckDates .one_half {
    margin-bottom: 0.45em;
}

.CheckDates {
    padding-right: 20px;
}

.CheckDates span {
    /*color:white;*/
}

.one_eight {
    width: 17%;
}

.marginBottom,.detailTripInfoBlock {
    margin-bottom:20px;
}

.detailTripInfoBlock {
    clear: both;
}


.ui-icon {
    display: none;
}

.widget-row > div {
    float: right;
    margin-bottom: 0.2em;
}

.widget-row.collapse-section-trigger h4 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.widget-row > div:first-child {
    float: left;
}
.widget {
    font-size: 1.1em;
    margin-bottom: 0px;
}

.widget-section {
    padding: 0 8px;
}

.googlemap img,.googlemap a img {
    background: none;
    max-width: none;
}
.googlemap {
    margin-bottom: 20px;
}

.parkingInfo {
    margin-top: 30px;
}