#guestProfile_page_title {
    background-image: url("../images/menu-bg.png");
    margin-top: 105px;
    padding: 30px 30px 0 30px;
    width: 940px;
}
#guest {
    width: 1010px;
}

#guest_main_wrap.container {
    width: 940px;
}

#guest_main_wrap {
    margin-top: 120px;
}
#guest_main_wrap {
    background-image: url("../images/menu-bg.png");
    margin-top: 250px;
    padding: 30px;
    position: relative;
    width: 940px;
    z-index: 99;
}
#guest_main_wrap {
    float: left;
    margin-left: 0;
}

.extraborder {
    border: 1px solid white;
    height: 140px;
}

#guest p {
    margin-bottom: 0.35em;
}

#guest a {
    color: white;
    font-size: 0.9em;
}

#guest .desc {
    color: #868686;
    font-size: 0.9em;
    font-style: italic;
}

.creditcard {
    margin-top: 20px;
}
.editable {
    cursor:pointer;
}

.toolTipEdit {
    color: white;
    display: none;
    font-size: 0.8em;
    line-height: 1em;
}

/*
.editable:hover .toolTipEdit {
    display: inline;
}*/
.edit {
    display: none;
}
div.two input {
    width: 119px;
}

div.one input {
    width: 264px;
}

.input-select {
    width: 286px;
}

span.field-validation-error {
}

div.input-container {
    margin-bottom: 10px;
    width: 290px;
}

div.three input {
    width: 72px;
}

div.three.left  {
    width: 33%;
}

.input-textarea {
    margin-bottom: 0px;
}

.languageSelect {
    margin-top: 30px;
}