﻿ul#mobile-menu-1 li ul li ul#propertyList.propertyType {
    bottom:80px;
    top:auto;
}

ul#mobile-menu-1 li ul li ul#amenitiesList.propertyType {
    bottom:40px;
    top:auto;
}

ul#mobile-menu-1 li ul li ul#experienceList.propertyType {
    bottom:0px;
    top:auto;
}