﻿img {
    background-color: none !important;
    background: none;
}

.section-border {
    /*border-bottom: 2px #777777 ridge;
    border-bottom: 3px ridge rgba(100, 100, 100, 0.2);*/
}

.section-break {
    height: 30px;
    width: 100%;
}

#left, #right {
    z-index: 0;
}

section.content-center, #main_wrap {
    width: 100%;
    background-image: none;
}

#main_wrap {
    /*padding-left: 0px;*/
}

.container .eight.columns {
    width: 810px;
}


/* NavBar customization */
li#nv-destination, li#nv-refine, li#nv-change-view {
    display: none !important;
}

li#nv-return-search {
    display: block !important;
}

div#main_wrap.container div.full div.sidebar {
    width: 340px;
    background-image: url("../images/menu-bg.png");
    right: 40px;
    /*position: fixed;*/
}


#banner.body nav ul.sort_element {
    display: none;
}




/* Sidebar widgets */
span.propertyName {
    color: #FFFFFF;
}

p#tripDates {
    display: none;
}

.inner_sidebar {
    width: 100%;
    padding-left: 0px;
}

.widget-section {
    /*border-bottom: 2px #777777 ridge;
    border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
    margin-top: 7px;*/
}

.widget {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

.widget-content {
    margin-top: 10px;
}

    .widget-content ul {
        margin-top: 0px;
    }

    .widget-content > p {
        margin-bottom: 0px;
        font-size: 20px;
    }

div.widget div.widget-title h2 {
    font-weight: 400;
    margin-bottom: 5px;
    color: #868686;
}

div.widget div.widget-title h3 {
    font-weight: 400;
    /*font-size: 26px;*/
    margin-bottom: 5px;
    color: #868686;
}

div.widget div.widget-subtitle h4 {
    font-weight: 300;
    padding-top: 7px;    
    color: #868686;
}

div.widget-row {
    /*padding-bottom: 5px;*/
}

div.widget-section div.widget div.widget-content-links div.widget-row, div#widget-invoice.widget-section div.widget div.widget-sub-total .widget-row {
    /*border-bottom: 2px #777777 ridge;
    border-bottom: 3px ridge rgba(100, 100, 100, 0.2);*/
    margin-bottom: 7px;
}

div.widget-row div:first-child {
    float: left;
    width: 195px;
}

div.widget-row div:nth-child(2) {
    float: right;
    width: 120px;
    text-align: right;
}

div#widget-invoice {
    display: none;
}

div.widget div.collapse-section-trigger {
    cursor: pointer;
}

    div.widget div.collapse-section-trigger > div > h4, div.widget div.collapse-section-trigger > h2 {
        padding-left: 0em;
        position: relative;
    }


    div.widget div.collapse-section-trigger span.ui-icon-triangle-1-e {
        position: absolute;
        left: 6.5em;
        top: 50%;
        margin-top: -6px;
        height: 22px;
        background-image: url("/images/gfx/ui-icons.png");
    }

    div.widget div.collapse-section-trigger span.ui-icon-triangle-1-s {
        position: absolute;
        left: 6.5em;
        top: 50%;
        margin-top: -6px;
        height: 20px;
        padding: 0 5px 0 0;
        background-image: url("/images/gfx/ui-icons.png");
        background-position: -64px -16px;
    }

div#widget-invoice.widget-section div.widget div.widget-part-total {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 5px;
}

    div#widget-invoice.widget-section div.widget div.widget-part-total .widget-row div {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
    }

div#widget-invoice.widget-section div.widget div.widget-sub-total .widget-row * {
    padding-top: 5px;
    color: #FFFFFF;
    font-size: 20px;
}


div#widget-invoice.widget-section div.widget div.widget-total .widget-row {
    border-bottom: 4px double #FFFFFF;
    margin-bottom: 5px;
}

div.widget div.widget-total div.widget-row div h2 {
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 26px;
}

div#widget-invoice-accomodation, div#widget-invoice-others, div#widget-tripDetails-section, div#widget-invoice-taxes {
    display: none;
}

    div#widget-invoice-accomodation div.widget-content-links div.widget-row, div#widget-tripDetails-section div.widget-content, div#widget-invoice-accomodation div.widget-part-total {
        margin-left: 5px;
    }

div#btnBook {
    text-align:center;
}

.sidebar div.inner_sidebar {
    border: none;
}

.sidebar .widget .links {
    margin-left: 5px;
}

.sidebar .widget .links > ul {
    border: none;
}

    .sidebar .widget .links > ul > li:last-child {
        border: none;
    }

.sidebar .widget .links li {
    border-bottom: 2px #777777 ridge;
    border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
}

    .sidebar .widget .links li a {
        color: #868686;
    }

        .sidebar .widget .links li a.active {
            font-size: larger;
            color: #FFFFFF;
        }

        .sidebar .widget .links li a:hover {
            color: #FFFFFF;
        }

.sidebar div#widget-book.widget-section {
    /*border: none;*/
    margin-top: 0px;
}

.input-submit {
    background-color: #214F74;
    width: 60% !important;
}

    .input-submit:hover {
        background-color: #215FA4;
        color: #FFFFFF;
    }

a.section-nav-links {
    font-size: 18px;
}


/*VIEWS*/
.content-sections {
    display: none;
}

/*.content-sections .widget-section:first-child {
        margin-top: 0px !important;
    }*/

div.widget-section div.widget div.description-features div.widget-content p img {
    vertical-align: middle;
}


div#navigation-section {
    margin-top: 10px;
}

    div#navigation-section a {
        text-decoration: underline;
    }

    div#navigation-section div.description-features {
        text-align: left;
    }

    div#navigation-section div.second {
        text-align: right;
    }

/*MAIN VIEW*/
#mainPropertyDetailsView {
    height: auto;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.overlayBckg {
    background-image: url("../images/menu-bg.png");
    margin: 0px;
    width: 300px;
    padding: 5px;
}

    .overlayBckg * {
        color: #FFFFFF;
    }

    .overlayBckg > div {
        padding-left: 5px;
    }

        .overlayBckg > div#starRating {
        }

    .overlayBckg h1 {
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 5px;
    }

div#mainPropertyDetailsView-price.overlayBckg h1 {
    font-size: 30px;
}

/*DESCRIPTION VIEW*/
#descriptionPropertyDetailsView {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

    #descriptionPropertyDetailsView div, #descriptionPropertyDetailsView h1, #descriptionPropertyDetailsView h2, #descriptionPropertyDetailsView p, #descriptionPropertyDetailsView ul, #descriptionPropertyDetailsView li {
        color: #FFFFFF;
    }

div.content-sections div.widget-section div.widget div.description-features {
    width: 49%;
    float: left;
    /*border-right: 2px #777777 ridge;
    border-right: 3px ridge rgba(100, 100, 100, 0.2);*/
}

div.content-sections div.widget-section div.widget div.second {
    /*border-left: 2px #777777 ridge;
            border-left: 3px ridge rgba(100, 100, 100, 0.2);*/
    border: none;
    padding-left: 5px;
}

ul.list-widget-description {
    list-style: none;
}

    ul.list-widget-description li {
    }

div.widget-section div.table-like {
    /*display:table-row;*/
    overflow: hidden;
}

    div.widget-section div.table-like div.description-features {
        /*display:table-cell;*/
        margin-bottom: -1000px;
        padding-bottom: 1000px;
    }


a.appliance-group-link {
    text-decoration: underline !important;
}

div.appliance-dialog {
    display: none;
    background: none repeat scroll 0 0 #222222;
    margin-left: 146px;
    margin-top: -150px;
    position: absolute;
    border: 2px #777777 ridge;
    border: 3px ridge rgba(100, 100, 100, 0.2);
    z-index: 999;
}

    div.appliance-dialog h2 {
        margin: 5px;
        border-bottom: 2px #777777 ridge;
        border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
    }

    div.appliance-dialog table tr {
        border-bottom: 2px #777777 ridge;
        border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
    }

        div.appliance-dialog table tr:last-child {
            border-bottom: none;
        }

        div.appliance-dialog table tr td {
            padding: 5px;
        }

.appliancesDialog {
    color: #FFFFFF;
    background-color: #000000;
    background-image: none;
}

table.table-appliances th {
    font-size: 1.6em;
    font-weight: 400;
    padding: 5px 15px 5px 5px;
    text-align: left;
}

/* GALLERY SECTION */
#galleryPropertyDetailsView {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

    #galleryPropertyDetailsView div, #galleryPropertyDetailsView h1, #galleryPropertyDetailsView h2, #galleryPropertyDetailsView p, #galleryPropertyDetailsView ul, #galleryPropertyDetailsView li {
        color: #FFFFFF;
    }

div#galleryPropertyDetailsView.content-sections div.widget-section {
    margin-left: 10px;
    margin-right: 10px;
}

div#galleryPropertyDetailsView .portfolio_image {
    width: 500px;
    margin: auto;
    padding: 0px;
}

div#galleryPropertyDetailsView .thumbnail_container {
    width: inherit;
    height: inherit;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

div#galleryPropertyDetailsView .container_image_overlay_block {
    display: none;
    position: relative;
    z-index: 999;
    bottom: 200px;
}

div#galleryPropertyDetailsView .container_right_image_overlay_block {
    float: right;
    height: inherit;
    overflow: hidden;
    margin-left: 5px !important;
    margin-right: 5px !important;
    position: absolute;
    right: 0px;
}

div#galleryPropertyDetailsView .container_left_image_overlay_block {
    float: left;
    height: inherit;
    overflow: hidden;
    margin-left: 5px !important;
    margin-right: 5px !important;
    position: absolute;
    left: 0px;
}

div#galleryPropertyDetailsView div.portfolio_image div.image_overlay_block {
    height: inherit;
    left: 0px;
    display: block;
    overflow: hidden;
    position: relative;
    background: rgb(0, 0, 0);
    /*background: rgba(0, 0, 0, 0.7);*/
    color: #FFFFFF;
}

div#galleryPropertyDetailsView .container_progress_bar {
    height: 3px;
    position: relative;
    z-index: 999;
    bottom: 3px;
}

    div#galleryPropertyDetailsView .container_progress_bar #progressBar {
        height: 100%;
    }

/* Guest Reviews View */

#guestReviewsDetailsView {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

    #guestReviewsDetailsView img {
        background-color: transparent;
    }

    #guestReviewsDetailsView div, #guestReviewsDetailsView h1, #guestReviewsDetailsView h2, #guestReviewsDetailsView p, #guestReviewsDetailsView ul, #guestReviewsDetailsView li {
        color: #FFFFFF;
    }

div#guestReviewsDetailsView.content-sections div.widget-section {
    margin-left: 10px;
    margin-right: 10px;
}

    div#guestReviewsDetailsView.content-sections div.widget-section div.widget div.reviews-title {
        width: 49% !important;
        padding-top: 5px;
    }

    div#guestReviewsDetailsView.content-sections div.widget-section div.widget div.description-features {
        border: none;
        width: 33%;
    }


    div#guestReviewsDetailsView.content-sections div.widget-section div.widget div.second {
        width: 65%;
    }

div.guestReviewRatings {
    float: left;
    width: 33%;
}

    div.guestReviewRatings h3 {
        margin-bottom: 0.3em;
    }

div.guestStarRatingSection {
    padding-top: 10px;
}

div#review-sort-menu {
    float: right;
    width: 200px;
}

    div#review-sort-menu > ul {
        background-color: #214f74;
    }


    div#review-sort-menu ul {
        list-style: none outside none;
    }

    div#review-sort-menu > ul > li {
        background-image: url("../images/otp/bg_propertyDetails_sort.png");
        background-position: 90% 50%;
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        padding-right: 0;
        width: 160px;
        background-color: #214f74;
        color: #868686;
    }

    div#review-sort-menu li ul {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: none;
        margin: 0;
        top: 65px;
        position: absolute;
        width: 190px;
        z-index: 2;
    }

        div#review-sort-menu li ul li {
            background-image: url("../images/gfx/menu_list_bg.png");
            background-repeat: repeat-x;
        }

            div#review-sort-menu li ul li a:hover {
                font-weight: 400;
                background-color: #214F74;
            }

    div#review-sort-menu ul a {
        float: left;
        font-size: 18px;
        height: 20px;
        line-height: 20px;
        text-align: left;
        text-decoration: none;
        width: 190px;
        display: inline-block;
        font-family: 'Yanone Kaffeesatz',sans-serif;
        font-weight: 300;
        padding: 10px 10px 0;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        /*color: #868686;*/
        color: #FFFFFF;
        padding: 10px 10px;
    }



.review-sort-container {
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}

.review-dialog {
    background: none repeat scroll 0 0 #222222;
    border: 3px ridge rgba(100, 100, 100, 0.2);
    left: 300px;
    position: absolute;
    top: auto;
    width: 400px;
    z-index: 999;
    display: none;
}

/* Street View Local Area*/
#streetViewDetailsView {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

    #streetViewDetailsView div, #streetViewDetailsView h1, #streetViewDetailsView h2, #streetViewDetailsView p, #streetViewDetailsView ul, #streetViewDetailsView li {
        color: #FFFFFF;
    }

div#streetViewDetailsView.content-sections div.widget-section {
    margin-left: 10px;
    margin-right: 10px;
}

    div#streetViewDetailsView.content-sections div.widget-section:first-child {
        border-bottom: none;
    }

    div#streetViewDetailsView.content-sections div.widget-section:last-child {
        border-bottom: none;
        padding-bottom: 10px;
    }

#streetViewContainer {
    border: 3px solid #000000;
}

    #streetViewContainer img {
        border: none;
        padding: initial;
        margin: initial;
        display: block;
        max-width: none;
        height: auto;
        image-rendering: auto;
    }


.linkText {
    text-decoration: underline !important;
}

/*Amienities VIEW*/
#amenitiesPropertyDetailsView {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

    #amenitiesPropertyDetailsView div, #amenitiesPropertyDetailsView h1, #amenitiesPropertyDetailsView h2, #amenitiesPropertyDetailsView p, #amenitiesPropertyDetailsView ul, #amenitiesPropertyDetailsView li {
        color: #FFFFFF;
    }

/*Availability VIEW*/
#availabilityPropertyDetailsView {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

    #availabilityPropertyDetailsView div, #availabilityPropertyDetailsView h1, #availabilityPropertyDetailsView h2, #availabilityPropertyDetailsView p, #availabilityPropertyDetailsView ul, #availabilityPropertyDetailsView li {
        color: #FFFFFF;
    }

div#availabilityDate div.datepickerContainer table tbody tr td table.datepickerViewDays tbody.datepickerDays tr td {
    border: 2px #777777 ridge;
    /*border: 3px ridge rgba(100, 100, 100, 0.2);*/
    text-align: center;
}

div#availabilityDate div.datepicker * {
    font-size: 22px !important;
}

div#availabilityDate .datepickerDays a {
    height: 40px;
    line-height: 16px;
    width: 40px;
    background-color: #669900;
    padding: 2px !important;
}

    div#availabilityDate .datepickerDays a span {
        font-size: 0.72em !important;
    }

div.datepicker td, div.datepicker th {
    padding: 0px !important;
}

div#availabilityDate .datepickerDoW th span {
    font-size: 0.72em !important;
}

div#availabilityDate p.price_calendar {
    font-size: 0.55em !important;
    color: #BBB;
}

div#availabilityDate .datepickerContainer {
    background-color: transparent;
}

div#availabilityDate td.datepickerCTA a,div#datepickerFrom td.datepickerCTA a {
    background: #88ba32;
    /*background: rgb(0,255,0); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(102,153,0,1) 0%, rgba(102,153,0,1) 9%, rgba(136,186,50,1) 10%, rgba(136,186,50,1) 20%, rgba(102,153,0,1) 21%, rgba(102,153,0,1) 35%, rgba(136,186,50,1) 35%, rgba(136,186,50,1) 45%, rgba(102,153,0,1) 45%, rgba(102,153,0,1) 60%, rgba(136,186,50,1) 60%, rgba(136,186,50,1) 70%, rgba(102,153,0,1) 70%, rgba(102,153,0,1) 85%, rgba(136,186,50,1) 85%, rgba(136,186,50,1) 95%, rgba(102,153,0,1) 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(102,153,0,1)), color-stop(9%,rgba(102,153,0,1)), color-stop(10%,rgba(136,186,50,1)), color-stop(20%,rgba(136,186,50,1)), color-stop(21%,rgba(102,153,0,1)), color-stop(35%,rgba(102,153,0,1)), color-stop(35%,rgba(136,186,50,1)), color-stop(45%,rgba(136,186,50,1)), color-stop(45%,rgba(102,153,0,1)), color-stop(60%,rgba(102,153,0,1)), color-stop(60%,rgba(136,186,50,1)), color-stop(70%,rgba(136,186,50,1)), color-stop(70%,rgba(102,153,0,1)), color-stop(85%,rgba(102,153,0,1)), color-stop(85%,rgba(136,186,50,1)), color-stop(95%,rgba(136,186,50,1)), color-stop(95%,rgba(102,153,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* IE10+ */
    background: linear-gradient(135deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008300', endColorstr='#006100',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div#availabilityDate td.datepickerSpecial a {
    background: #700;
}

div#availabilityDate td.datepickerUnavailable a {
    /*background: #700;*/
    background: rgb(119,119,119)!important; /* Old browsers */
}

div#availabilityDate td.datepickerSpecial.datepickerSelected a {
    background: #a00;
}

.datepickerDays td , .datepickerDays td {
    background-color: #669900;
}

div#availabilityDate tbody.datepickerDays td.datepickerSelected a, tbody.datepickerDays td.datepickerSelected 
div#datepickerFrom tbody.datepickerDays td.datepickerSelected a{
    background: #136A9F;
}

div#availabilityDate tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected a, tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected,
div#datepickerFrom tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected a {
    background: #17384d;
}





div#availabilityDate .datepickerBorderT, div#availabilityDate .datepickerBorderB,
div#availabilityDate .datepickerBorderL, div#availabilityDate .datepickerBorderR,
div#availabilityDate .datepickerBorderBL, div#availabilityDate .datepickerBorderBR,
div#availabilityDate .datepickerBorderTL, div#availabilityDate .datepickerBorderTR {
    border: none;
    background-image: none;
}

/*Virtual floor plan VIEW*/
div#floorPlanPropertyDetailsView {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

#floorPlanPropertyDetailsView div, #floorPlanPropertyDetailsView h1, #floorPlanPropertyDetailsView h2, #floorPlanPropertyDetailsView p, #floorPlanPropertyDetailsView ul, #floorPlanPropertyDetailsView li {
    color: #FFFFFF;
}

div#floorPlanPropertyDetailsView.content-sections div.widget-section {
}

    div#floorPlanPropertyDetailsView.content-sections div.widget-section div.widget div.title {
        width: 49% !important;
        padding-top: 5px;
    }

    div#floorPlanPropertyDetailsView.content-sections div.widget-section div.widget div.description-features {
        border: none;
        width: 33%;
    }


    div#floorPlanPropertyDetailsView.content-sections div.widget-section div.widget div.second {
        width: 65%;
    }

div#floorPlanPropertyDetailsView .widget-title {
    padding-top: 6px;
}

div#floorPlanPropertyDetailsView .floor-plan-menu > ul {
    margin: 4px 0 1.5em 1.5em !important;
}

div.floor-plan-container {
    margin-bottom: -994px;
    padding-bottom: 1000px;
}

div.floor-plan-menu {
    float: right;
    width: 200px;
}

    div.floor-plan-menu > ul {
        background-color: #214f74;
    }


    div.floor-plan-menu ul {
        list-style: none outside none;
    }

    div.floor-plan-menu > ul > li {
        background-image: url("../images/otp/bg_propertyDetails_sort.png");
        background-position: 90% 50%;
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        padding-right: 0;
        width: 160px;
        background-color: #214f74;
        color: #868686;
    }

    div.floor-plan-menu li ul {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: none;
        margin: 0;
        top: 53px;
        position: absolute;
        width: 190px;
        z-index: 2;
    }

        div.floor-plan-menu li ul li {
            background-image: url("../images/gfx/menu_list_bg.png");
            background-repeat: repeat-x;
        }

            div.floor-plan-menu li ul li a:hover {
                font-weight: 400;
                background-color: #214F74;
            }

    div.floor-plan-menu ul a {
        float: left;
        font-size: 18px;
        height: 20px;
        line-height: 20px;
        text-align: left;
        text-decoration: none;
        width: 190px;
        display: inline-block;
        font-family: 'Yanone Kaffeesatz',sans-serif;
        font-weight: 300;
        padding: 10px 10px 0;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        /*color: #868686;*/
        color: #FFFFFF;
        padding: 10px 10px;
    }

#floor-plan-content {
    width: 640px;
    height: 570px;
    margin: auto;
}

#floor-plan-image-container {
    position: absolute;
    width: 640px;
    height: 480px;
    margin: auto;
    margin-top: 50px;
}

    #floor-plan-image-container > img {
        width: 640px;
        height: 480px;
    }

    #floor-plan-image-container > .marker {
        width: 40px;
        height: 40px;
        background: url("../images/floor-plan-marker.png");
        position: absolute;
        z-index: 100;
    }

div#availabilityDate .datepicker {
    height: 350px!important;
}

/* Media Queries */

/* Smaller than standard 1180 (devices and browsers) IPAD */
@media only screen and (min-width: 959px) and (max-width: 1180px) {

    div#availabilityDate div.datepicker {
        font-size: 20px !important;
    }

    div#availabilityDate .datepickerDays a {
        height: 30px;
        line-height: 0.72em;
        width: 30px;
    }

    div#availabilityDate .datepicker {
        height: 295px!important;
    }


    .datepickerDays a:hover + div div.toolTipAvailability {
        display: block;
        position: absolute;
        left: -55px;
        top: -137px;
    }

    .container .eight.columns {
        width: 635px;
    }

    div#main_wrap.container div.full div.sidebar {
        width: 300px;
    }

    div.widget-row div:first-child {
        width: 170px;
    }


    div.widget-row div:nth-child(2) {
        width: 100px;
    }
}



/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    /*logo and menu*/
    .logo {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 100%;
    }

        .logo a, .logo img {
            display: inline;
            float: none;
        }

    .main_menu {
        width: 100%;
    }

    .mobileMenu {
        width: 100%;
        margin: 0 0 10px 0;
        max-width: 767px;
        padding: 10px;
    }

    /*sidebar*/
    .inner_sidebar {
        border: none;
        padding: 0;
    }

    /*quotes*/
    .pullquote, .inner_quote {
        width: auto;
        margin: 1em 0 1em 50px;
        position: relative;
        left: 0;
        top: 0;
    }

    div .pullquote_left::before {
        left: -54px;
    }

    .inner_quote {
        padding: 0;
        margin: 0;
    }

    .pullquote_boxed {
        margin: 1em 0;
    }

    /*blog post*/
    .sidebar_left .post-title.offset-by-three {
        padding: 0;
    }

    .blog-inner-meta {
        border: none;
        padding: 0;
    }

    .minor-meta {
        display: inline-block;
    }

    .blog-meta .text-sep {
        display: inline-block;
    }

    .single-portfolio-entry .blog-meta .text-sep {
        display: none;
    }

    .post-format .flag-diamond {
        display: none;
    }

    .js_active .main_menu ul {
        display: none;
    }

    /*footer*/
    #socket .social_bookmarks {
        position: relative;
        top: 0;
    }

    /*slideshow*/
    .slideshow_inner_caption {
        padding: 3%;
        height: 100%;
        width: 94%;
        font-size: 13px;
        line-height: 1.5em;
    }

    div .slideshow_caption {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .slideshow_inner_caption h1 {
        font-size: 14px;
    }
}
