﻿#myTrips_page_title {
    background-image: url("../images/menu-bg.png");
    margin-top: 130px;
    padding: 30px 30px 0 30px;
    width: 940px;
}
#myTrips {
    width: 1010px;
}

#myTrips_main_wrap.container {
    width: 940px;
}


#myTrips_main_wrap {
    background-image: url("../images/menu-bg.png");
    margin-top: 250px;
    padding: 0 30px 25px;
    position: relative;
    width: 940px;
    z-index: 99;
    float: left;
    margin-left: 0;
}

.page-title span {
    margin: 0 30px 0 0;
}


#myTrips .grey a  {
    color: #868686;
}

#myTrips .grey a:hover  {
    color: #fff;
}

.extraborder {
    border: 1px solid white;
    height: 140px;
}

#myTrips p {
    color: white;
    margin-bottom: 0.45em;
}


#myTrips .desc {
    color: #868686;
    font-size: 0.9em;
    font-style: italic;
}

.creditcard {
    margin-top: 20px;
}
.editable {
    cursor:pointer;
}

.toolTipEdit {
    color: white;
    display: none;
    font-size: 0.8em;
    line-height: 1em;
}

/*
.editable:hover .toolTipEdit {
    display: inline;
}*/
.edit {
    display: none;
}
div.two input {
    width: 120px;
}

div.one input {
    width: 264px;
}

.input-select {
    width: 287px;
}

span.field-validation-error {
}

div.input-container {
    margin-bottom: 10px;
    width: 290px;
}

div.three input {
    width: 72px;
}

div.three.left  {
    width: 33%;
}

.input-textarea {
    margin-bottom: 0px;
}

.tripTitle {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
    height: 14px;
    float: left;
}

.tripInfo {
    float: left;
    margin: 28px 30px;  
}

.tripLinks {
    border-left: 1px solid white;
    padding: 0 0 0 25px;
    float: left;
    margin-top:28px;
}

.tripLinks a {
    color: #868686;
}
.tripLinks a:hover {
    color: white;
}

.propertyImage {
    float: left;
    width: 225px;
    height: 169px;
}
.trip {
    border-bottom: 1px dotted #868686;
}

.trip:last-child {
border-bottom: 0px;
}

.thumbnail_container {
    float: left;
    width: 225px;
    height: 169px;
}

.datepickerDays a:hover + div div.toolTipAvailability{
    display: block;
    position:absolute;
    left: -60px;
    top: -118px;
}



.hidden {
    display: none;
}

.bottom-line{
    border-bottom: 1px dotted #666;
}

.button {
    background-color: #214F74;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    height: 40px;
    margin-top: 15px;
    padding: 0;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 22% !important;
}

.button > a {
    line-height: 40px;
    display: block;
}

.button:hover {
    background-color: #215FA4;
    color: #FFFFFF;
    transition: all 0.2s ease 0s;
}

#myTrips .greyp p {
    color: #868686;
}





/*ChangeDate VIEW*/
#tripCalendarArrival .datepickerDays a, #tripCalendarDeparture .datepickerDays a {
    width: 31px;
    height: 31px;
    line-height: 16px;
}

.datepickerDays a{
    background-color: #669900;
}




div#tripCalendarArrival td.datepickerCTA a,div#tripCalendarDeparture td.datepickerCTA a{
	background: #88ba32;
    /*background: rgb(0,255,0); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(102,153,0,1) 0%, rgba(102,153,0,1) 9%, rgba(136,186,50,1) 10%, rgba(136,186,50,1) 20%, rgba(102,153,0,1) 21%, rgba(102,153,0,1) 35%, rgba(136,186,50,1) 35%, rgba(136,186,50,1) 45%, rgba(102,153,0,1) 45%, rgba(102,153,0,1) 60%, rgba(136,186,50,1) 60%, rgba(136,186,50,1) 70%, rgba(102,153,0,1) 70%, rgba(102,153,0,1) 85%, rgba(136,186,50,1) 85%, rgba(136,186,50,1) 95%, rgba(102,153,0,1) 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(102,153,0,1)), color-stop(9%,rgba(102,153,0,1)), color-stop(10%,rgba(136,186,50,1)), color-stop(20%,rgba(136,186,50,1)), color-stop(21%,rgba(102,153,0,1)), color-stop(35%,rgba(102,153,0,1)), color-stop(35%,rgba(136,186,50,1)), color-stop(45%,rgba(136,186,50,1)), color-stop(45%,rgba(102,153,0,1)), color-stop(60%,rgba(102,153,0,1)), color-stop(60%,rgba(136,186,50,1)), color-stop(70%,rgba(136,186,50,1)), color-stop(70%,rgba(102,153,0,1)), color-stop(85%,rgba(102,153,0,1)), color-stop(85%,rgba(136,186,50,1)), color-stop(95%,rgba(136,186,50,1)), color-stop(95%,rgba(102,153,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* IE10+ */
    background: linear-gradient(135deg, rgba(102,153,0,1) 0%,rgba(102,153,0,1) 9%,rgba(136,186,50,1) 10%,rgba(136,186,50,1) 20%,rgba(102,153,0,1) 21%,rgba(102,153,0,1) 35%,rgba(136,186,50,1) 35%,rgba(136,186,50,1) 45%,rgba(102,153,0,1) 45%,rgba(102,153,0,1) 60%,rgba(136,186,50,1) 60%,rgba(136,186,50,1) 70%,rgba(102,153,0,1) 70%,rgba(102,153,0,1) 85%,rgba(136,186,50,1) 85%,rgba(136,186,50,1) 95%,rgba(102,153,0,1) 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008300', endColorstr='#006100',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

 p.price_calendar {
     color: #BBB;
}

div#tripCalendarArrival tbody.datepickerDays td.datepickerSelected a, tbody.datepickerDays td.datepickerSelected,
div#tripCalendarDeparture tbody.datepickerDays td.datepickerSelected a{
	background: #136A9F;
}
div#tripCalendarDeparture tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected a, div#tripCalendarDeparture tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
    background: #17384d;
}
div#tripCalendarArrival tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected a, div#tripCalendarArrival tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected{
	background: #17384d;
}

#calendarsToChangeDate {
    margin: 0 auto;
}

#changeArrival, #changeDeparture {
    float: left;
}

div#tripCalendarArrival div.datepickerContainer table tbody tr td table.datepickerViewDays tbody.datepickerDays tr td ,
div#tripCalendarDeparture div.datepickerContainer table tbody tr td table.datepickerViewDays tbody.datepickerDays tr td{
    border: 2px #777777 ridge;
    /*border: 3px ridge rgba(100, 100, 100, 0.2);*/
    text-align: center;
}


div#tripCalendarArrival p.price_calendar, div#tripCalendarDeparture p.price_calendar {
    font-size: 0.75em !important;
    color: #bbb;
}

div#tripCalendarArrival .datepickerContainer , div#tripCalendarDeparture .datepickerContainer{
    background-color: transparent;
}

div#tripCalendarArrival .datepickerBorderT, div#tripCalendarArrival .datepickerBorderB,
div#tripCalendarArrival .datepickerBorderL, div#tripCalendarArrival .datepickerBorderR,
div#tripCalendarArrival .datepickerBorderBL, div#tripCalendarArrival .datepickerBorderBR,
div#tripCalendarArrival .datepickerBorderTL, div#tripCalendarArrival .datepickerBorderTR,
div#tripCalendarDeparture .datepickerBorderT, div#tripCalendarDeparture .datepickerBorderB,
div#tripCalendarDeparture .datepickerBorderL, div#tripCalendarDeparture .datepickerBorderR,
div#tripCalendarDeparture .datepickerBorderBL, div#tripCalendarDeparture .datepickerBorderBR,
div#tripCalendarDeparture .datepickerBorderTL, div#tripCalendarDeparture .datepickerBorderTR
 {
    border: none;
    background-image: none;
    background: none;
}

#calendarsToChangeDate {
    width: 615px;
    float:left;
}


/* Invoice widget*/
.widget-row > div {
    float: right;
    margin-bottom: 0.2em;
}

.widget-row.collapse-section-trigger h4 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.widget-row > div:first-child {
    float: left;
}
.widget {
    font-size: 1.1em;
    margin-bottom: 0px;
}

.widget-section {
    padding: 0 8px;
}

#widget-invoice {
    width: 300px;
    float: left;
}

/*div.widget div.collapse-section-trigger {
    cursor: pointer;
}

    div.widget div.collapse-section-trigger > div > h4, div.widget div.collapse-section-trigger > h2 {
        padding-left: 1.5em;
        position: relative;
    }


    div.widget div.collapse-section-trigger span.ui-icon-triangle-1-e {
        position: absolute;
        left: 0.1em;
        top: 50%;
        margin-top: -6px;
        height: 22px;
        background-image: url("/images/gfx/ui-icons.png");
    }

    div.widget div.collapse-section-trigger span.ui-icon-triangle-1-s {
        position: absolute;
        left: 0.1em;
        top: 50%;
        margin-top: -6px;
        height: 20px;
        background-image: url("/images/gfx/ui-icons.png");
        background-position: -64px -16px;
    }*/




