﻿div#main_wrap {
    background: none;
}

.default-page header#banner.body nav {
    position: fixed !important;
    top: 0px;
}

ul#mobile-menu-1 li#nv-sort-menu {
    display: inline !important;
}

ul#mobile-menu-1 li.nv-change-view {
    display: inline;
}

/* IMAGES OVERLAY */
#listViewContainer {
    padding-top: 20px;
}

#lv-date-container, #lv-result-destination-container {
    display: none;
}

.lv-search-info-bar {
    font-size: 18px;
    position: absolute;
    top: 5px;
}

.propertyDetailsLink {
    cursor: pointer;
}

    .propertyDetailsLink .input-submit {
        -webkit-text-shadow: -1px -1px 1px #444;
        text-shadow: -1px -1px 1px #444;
        background-color: #227fbd;
        font-weight: bold;
    }

div.one_half {
    margin-bottom: 30px;
    overflow: visible;
}

.portfolio_image {
    width: 414px !important;
    height: 310px !important;
    -moz-box-shadow: 20px -16px 18px -7px #000000;
    -webkit-box-shadow: 20px -16px 18px -7px #000000;
    box-shadow: 20px -16px 18px -7px #000000;
    -webkit-transition: all 1s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -kthtml-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

    .portfolio_image:hover {
        width: 414px !important;
        height: 310px !important;
        -moz-box-shadow: 16px -10px 18px -7px #000000;
        -webkit-box-shadow: 16px -10px 18px -7px #000000;
        box-shadow: 16px -10px 18px -7px #000000;
    }

    .portfolio_image img {
        width: inherit;
        height: inherit;
    }

.thumbnail_container {
    width: inherit;
    height: inherit;
    padding: 0px;
    margin: 0px;
}

.container_image_overlay_block {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 75px;
    z-index: 999;
}

.container_right_image_overlay_block {
    float: left;
    width: 210px !important;
    height: inherit;
    overflow: hidden;
    margin-left: 1px;
}

.container_left_image_overlay_block {
    float: left;
    width: 110px !important;
    margin-left: 0px !important;
    height: inherit;
    overflow: hidden;
}

.container_score_image_overlay_block {
    float: left;
    width: 95px !important;
    height: inherit;
    overflow: hidden;
    margin-left: 1px;
}

    .container_score_image_overlay_block .input-submit {
        margin-top: 5px;
        width: 80% !important;
    }

div.portfolio_image div.image_overlay_block {
    height: inherit;
    left: 0px;
    display: block;
    overflow: hidden;
    position: relative;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    font-family: 'tahoma';
    color: #FFFFFF;
}

div.portfolio_image div.third {
    height: inherit;
    width: inherit;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

div.portfolio_image div.second {
    margin-top: 1px !important;
    height: 40px;
}

div.portfolio_image div.image_overlay_block div.image_overlay_content {
    padding-left: 10px;
    padding-top: 5px;
}

div.portfolio_image div.third .image_overlay_content {
    height: inherit;
    width: inherit;
    display: table-cell;
    vertical-align: middle;
    color: inherit;
}

div.portfolio_image div.third > .image_overlay_content {
    padding-left: 0px !important;
    padding-top: 0px !important;
}

div.portfolio_image div.third .image_overlay_content > div {
    color: inherit;
    font-family: Armata,sans-serif;
    font-size: 16px;
}

div.portfolio_image div.third .image_overlay_content > span {
    color: inherit;
}

div.portfolio_image div.image_overlay_block div.image_overlay_content div.image_overlay_title {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.list-view-person-icon {
    background-color: transparent;
    vertical-align: middle;
}

#lazyLoading {
    display: none;
    position: relative;
    width: 100%;
    text-align: center;
}
