﻿html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

ul#mobile-menu-1 li.nv-change-view {
    display:inline;
}

.map-container {
    overflow: hidden;
    margin-top: 80px;
    width: 100%;
}

#banner.body nav ul.sort_element {
    display: none;
}

.map-container img {
    background: none;
}

.map-container .remove-rect {
    padding: 5px;
}

    .map-container .remove-rect > div {
        background-color: white;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        text-align: center;
        height: 24px;
    }

        .map-container .remove-rect > div:hover {
            background: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6) repeat scroll 0 0 transparent;
            background: -webkit-linear-gradient(center top, #FFFFFF, #E6E6E6) repeat scroll 0 0 transparent;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E6E6E6');
        }

        .map-container .remove-rect > div > div {
            font-family: Arial,sans-serif;
            font-size: 19px;
            padding-left: 4px;
            padding-right: 4px;
            width: 16px;
            height: 24px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        }

.property-details {
    top: 20px;
    left: 20px;
    background-color:#343434;
    background-image: url('../images/menu-bg.png');
    padding: 10px;
    z-index: 100;
    min-width:200px;    
    /*position:absolute;*/
}
