﻿#TripDetails_page_title {
    background-image: url("../images/menu-bg.png");
    margin-top: 145px;
    padding: 30px 30px 0 30px;
    width: 940px;
}
#TripDetails {
    width: 1010px;
}

#TripDetails_main_wrap.container {
    width: 940px;
}


#TripDetails_main_wrap {
    background-image: url("../images/menu-bg.png");
    margin-top: 250px;
    padding: 0 30px 25px;
    position: relative;
    width: 940px;
    z-index: 99;
    float: left;
    margin-left: 0;
}