﻿/* NavBar customization */
li#nv-destination, li#nv-refine, li#nv-change-view, li#nv-return-search {
    display: none !important;
}

.datepicker {
    z-index: 1001;
}

div.datepicker * {
    font-size: 16px !important;
}

img {
    background-color: none !important;
    background: none;
}

.section-border {
    /*border-bottom: 2px #777777 ridge;*/
    /*border-bottom: 3px ridge rgba(100, 100, 100, 0.2);*/
}

#left, #right {
    z-index: 0;
}

section.content-center, #main_wrap {
    width: 100%;
    background-image: none;
}

#main_wrap {
    /*padding-left: 0px;*/
}

.container .eight.columns {
    /*width: 810px;*/
}


div#main_wrap.container div.full div.sidebar {
    width: 340px;
    background-image: url("../images/menu-bg.png");
    right: 40px;
}


#banner.body nav ul.sort_element {
    display: none;
}

/* Sidebar widgets */
span.propertyName {
    color: #FFFFFF;
}

p#tripDates {
    display: none;
}

.inner_sidebar {
    width: 100%;
    padding-left: 0px;
}

.widget-section {
    /*border-bottom: 2px #777777 ridge;*/
    /*border-bottom: 3px ridge rgba(100, 100, 100, 0.2);*/
    margin-top: 7px;
}

.widget {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.widget-content > p {
    margin-bottom: 5px;
    font-size: 20px;
}

div.widget div.widget-title h2 {
    font-weight: 400;
    margin-bottom: 5px;
    color: #868686;
}

div.widget div.widget-title h3 {
    font-weight: 400;
    /*font-size: 26px;*/
    margin-bottom: 5px;
    color: #868686;
}

div.widget div.widget-subtitle h4 {
    font-weight: 300;
    padding-top: 7px;
    margin-bottom: 7px;
    color: #868686;
}

div.widget-row {
    padding-bottom: 5px;
}

div.widget-section div.widget div.widget-content-links div.widget-row, div#widget-invoice.widget-section div.widget div.widget-sub-total .widget-row {
    /*border-bottom: 2px #777777 ridge;*/
    /*border-bottom: 3px ridge rgba(100, 100, 100, 0.2);*/
    margin-bottom: 7px;
}

div.widget-row div:first-child {
    float: left;
    width: 195px;
}

div.widget-row div:nth-child(2) {
    float: right;
    width: 120px;
    text-align: right;
}

div#widget-invoice-accomodation, div#widget-invoice-others, div#widget-tripDetails-section, div#widget-invoice-taxes {
    /*display: none;*/
}

    div#widget-invoice-accomodation div.widget-content-links div.widget-row, div#widget-tripDetails-section div.widget-content, div#widget-invoice-accomodation div.widget-part-total {
        margin-left: 5px;
    }

div.widget div.collapse-section-trigger {
    cursor: pointer;
}

    div.widget div.collapse-section-trigger > div > h4, div.widget div.collapse-section-trigger > h2 {
        padding-left: 0em;
        position: relative;
    }


    div.widget div.collapse-section-trigger span.ui-icon-triangle-1-e {        
        position: absolute;
        left: 6.5em;
        top: 50%;
        margin-top: -6px;
        height: 22px;
        background-image: url("/images/gfx/ui-icons.png");        
    }

    div.widget div.collapse-section-trigger span.ui-icon-triangle-1-s {
        position: absolute;
        left: 6.5em;
        top: 50%;
        margin-top: -6px;
        height: 20px;
        background-image: url("/images/gfx/ui-icons.png");
        background-position: -64px -16px;
        padding: 0 5px 0 0;        
    }

div#widget-invoice {
}

    div#widget-invoice.widget-section div.widget div.widget-part-total {
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 5px;
    }

        div#widget-invoice.widget-section div.widget div.widget-part-total .widget-row div {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 18px;
        }

    div#widget-invoice.widget-section div.widget div.widget-sub-total .widget-row * {
        padding-top: 5px;
        color: #FFFFFF;
        font-size: 20px;
    }

    div#widget-invoice.widget-section div.widget div.widget-total .widget-row {
        border-bottom: 4px double #FFFFFF;
        margin-bottom: 5px;
    }

div.widget div.widget-total div.widget-row div h2 {
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 5px;
}

.sidebar div.inner_sidebar {
    border: none;
}

.sidebar .widget .links > ul {
    border: none;
}

    .sidebar .widget .links > ul > li:last-child {
        border: none;
    }

.sidebar .widget .links li {
    border-bottom: 2px #777777 ridge;
    border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
}

    .sidebar .widget .links li a {
        color: #868686;
    }

        .sidebar .widget .links li a.active {
            font-size: larger;
            color: #FFFFFF;
        }

        .sidebar .widget .links li a:hover {
            color: #FFFFFF;
        }

.sidebar div#widget-book.widget-section {
    /*border: none;*/
    margin-top: 0px;
}

.input-submit {
    background-color: #214F74;
    width: 200px !important;
    font-weight: 400;
    font-size: 16px;
    margin-right: 25px;
}

    .input-submit:hover {
        background-color: #215FA4;
        color: #FFFFFF;
    }

a.section-nav-links {
    font-size: 18px;
}

.content-sections {
}

    .content-sections .widget-section:first-child {
        margin-top: 0px !important;
    }

div.widget-section div.widget div.description-features div.widget-content p img {
    vertical-align: middle;
}

.sectionBooking {
    background-image: url("../images/menu-bg.png");
    width: inherit;
}

    .sectionBooking div, .sectionBooking h1, .sectionBooking h2, .sectionBooking h3, .sectionBooking p, .sectionBooking ul, .sectionBooking li {
        color: #FFFFFF !important;
    }

    .sectionBooking > .widget-section:first-child {
        border-bottom: 2px #777777 ridge;
        border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
    }

div.content-sections div.widget-section div.widget div.description-features {
    width: 49%;
    float: left;
    /*border-right: 2px #777777 ridge;*/
    /*border-right: 3px ridge rgba(100, 100, 100, 0.2);*/
}

div.content-sections div.widget-section div.widget div.second {
    /*border-left: 2px #777777 ridge;
            border-left: 3px ridge rgba(100, 100, 100, 0.2);*/
    border: none;
    padding-left: 5px;
}

ul.list-widget-description {
    list-style: none;
}

    ul.list-widget-description li {
    }

div.widget-section div.table-like {
    /*display:table-row;*/
    overflow: hidden;
}

    div.widget-section div.table-like div.description-features {
        /*display:table-cell;*/
        margin-bottom: -1000px;
        padding-bottom: 1000px;
    }


#loginFormWelcome, #joinSectionWelcome {
    /*width: 550px;*/
}

    #loginFormWelcome .full, #joinSectionWelcome .left {
        margin-left: 0px;
        margin-bottom: 5px;
    }

    #loginFormWelcome .full {
        /*width: 550px;*/
    }

    #joinSectionWelcome .left {
        width: 290px;
    }

    #loginFormWelcome .watermark_container {
        margin-left: 15px;
        width: 550px;
    }

    #joinSectionWelcome .watermark_container {
        margin-left: 15px;
        width: 275px;
    }

    #loginFormWelcome .input-textarea {
        max-width: none;
        width: 520px;
    }

    #joinSectionWelcome .input-textarea {
        max-width: none;
        width: 235px;
    }

a#btnPrivacyTerms, a#btnPolicyInfo, a#btnForgotPassword {
    color: #868686;
    text-decoration: underline;
}

section#loginFormWelcome form fieldset span a {
    color: #868686;
}

div.widget-title h2 span.active {
    color: #FFFFFF;
}

#book-nav-steps img {
    vertical-align: middle;
    background-color: transparent;
}

.image-middle {
    vertical-align: middle;
    background-color: transparent;
}

div.input-container {
    width: 555px;
    margin-bottom: 10px;
    margin-left: 15px;
}

    div.input-container input {
        padding-right: 0px;
        margin-right: 0px;
        max-width: none;
    }


div.one input {
    width: 540px;
}


div.two input {
    width: 250px;
}

div.three {
    width: 184px;
}

    div.three input {
        width: 150px !important;
    }

.input-select {
    width: 360px;
    min-width: 0px;
    margin-right: 0px;
}

input#ExpirationDate {
    width: 150px !important;
}

div.widget-content .round_checbox {
    width: auto;
}

div.widget-content ul#confirmation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    div.widget-content ul#confirmation-list li {
        color: #868686 !important;
    }


div#credit-holeder-combo {
}

    div#credit-holeder-combo ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    div#credit-holeder-combo > ul > li {
        background-image: url("../images/otp/bg_propertyDetails_sort.png");
        background-position: 90% 50%;
        background-repeat: no-repeat;
        display: block;
        height: 50px;
        padding-right: 0;
        width: 100%;
        color: #868686;
    }

    div#credit-holeder-combo ul li div.input-textarea {
        padding: 10px;
    }

        div#credit-holeder-combo ul li div.input-textarea img {
            vertical-align: middle;
        }

    div#credit-holeder-combo ul li div {
        margin: 0px;
    }


    div#credit-holeder-combo ul li ul {
        display: none;
        position: absolute;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        width: 240px;
        z-index: 2;
    }

        div#credit-holeder-combo ul li ul li {
            margin: 0;
            padding-left: 0;
            background-image: url("../images/gfx/menu_list_bg.png");
            background-repeat: repeat-x;
        }

    div#credit-holeder-combo li ul li a:hover {
        font-weight: 400;
        background-color: #214F74;
    }

    div#credit-holeder-combo ul a {
        float: left;
        font-size: 18px;
        height: 20px;
        line-height: 20px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        font-family: 'Yanone Kaffeesatz',sans-serif;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        /*color: #868686;*/
        color: #FFFFFF;
    }

    div#credit-holeder-combo ul li ul a {
        padding-top: 10px;
        padding: 10px 0px 10px 0px;
    }

    div#credit-holeder-combo ul a img {
        vertical-align: middle;
        margin-left: 5px;
    }

div#credit-card-container.widget-content {
}

.input-container > table tr > td {
    vertical-align: top;
    padding-right: 5px;
}

.input-textarea-no-watermark {
    margin-bottom: 0px;
}

ul.identity-ver-list {
    list-style: none;
    text-align: left;
}

    ul.identity-ver-list li {
        text-align: left;
        color: #868686 !important;
        font-size: 18px;
    }

        ul.identity-ver-list li input {
            width: auto !important;
        }

div.validation-summary-errors * {
    color: red !important;
}

p#account-blocked-info {
    color: red !important;
}

    p#account-blocked-info img {
        vertical-align: middle;
    }

.confiramtion-section p, .confiramtion-section div {
    margin-bottom: 0px;
    font-size: 17px;
}


#trip-detail-container {
}

    #trip-detail-container h3 {
        font-weight: 400;
    }

#credit-card-container {
    padding-bottom: 10px;
}

#existing-creditCard-container {
    display: none;
}

    #existing-creditCard-container select {
        width: 100px;
        min-width: 0px;
    }

#user-initials-container {
    display: none;
}

div.nextButton {
    text-align: right;
    margin-bottom: 5px;
    /*margin-right: 195px;*/
}

/* Media Queries */

/* Smaller than standard 1180 (devices and browsers) IPAD */
@media only screen and (min-width: 959px) and (max-width: 1180px) {

    div#availabilityDate div.datepicker {
        font-size: 20px !important;
    }

    div#availabilityDate .datepickerDays a {
        height: 30px;
        line-height: 0.72em;
        width: 30px;
    }

    div#availabilityDate .datepicker {
        height: 295px!important;
    }


    .datepickerDays a:hover + div div.toolTipAvailability {
        display: block;
        position: absolute;
        left: -55px;
        top: -137px;
    }

    .container .eight.columns {
        width: 635px;
    }

    div#main_wrap.container div.full div.sidebar {
        width: 300px;
    }

    div.widget-row div:first-child {
        width: 170px;
    }


    div.widget-row div:nth-child(2) {
        width: 100px;
    }

    div.nextButton {
        margin-right: 0px;
    }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
