﻿span.check-state-notchecked, span.check-state-checked {
    background-repeat: no-repeat;
    cursor:pointer;
    /*padding: 0px 15px;*/
}

span.check-state-notchecked {
    background-image: url("/images/gfx/gfx_checkbox_off.png");
}

span.check-state-checked {
    background-image: url("/images/gfx/gfx_checkbox_on.png");
}