﻿span.radio-state-notchecked, span.radio-state-checked {
    background-repeat: no-repeat;
    cursor:pointer;
    /*padding: 0px 15px;*/
}

span.radio-state-notchecked {
    background-image: url("/images/gfx/gfx_radio_off.png");
}

span.radio-state-checked {
    background-image: url("/images/gfx/gfx_radio_on.png");
}