﻿@model ExtranetApp.Models.Booking.IdentityVerificationQuestionModel

<div class="widget-section">
    <div class="widget">
        <div class="widget-title">
            <h3>@Model.QuestionText</h3>
            @Html.HiddenFor(m=>m.QuestionType)
        </div>
        <div class="widget-content">
            <ul class="identity-ver-list">
                @foreach (var answer in Model.Answers)
                {
                    <li>@Html.RadioButtonFor(m=>m.SelectedAnswer, answer.AnswerId ,  new { @class = "round_radio" })  @answer.AnswerText</li>
                }
            </ul>
        </div>
    </div>
</div>
