﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models
@model ExtranetApp.Models.Account.JoinModel

@{
    Layout = null;
    var inputClassName = "input-textarea";
}

<div class="left">
    @Html.TextBoxFor(m => m.FirstName, new { @class = @inputClassName, defaultText = UserProfile.UserProfileModel_FirstName })
    <br />
    @Html.ValidationMessageFor(m => m.FirstName)
</div>
<div class="left">
    @Html.TextBoxFor(m => m.LastName, new { @class = @inputClassName, defaultText = UserProfile.UserProfileModel_LastName })
    <br />
    @Html.ValidationMessageFor(m => m.LastName)
</div>
<div class="clear">&nbsp;</div>
<div class="left">

    @Html.TextBoxFor(m => m.Email, new { @class = @inputClassName, defaultText = UserProfile.UserProfileModel_Email })
    <br />
    @Html.ValidationMessageFor(m => m.Email)

</div>