﻿@using ExtranetApp.Resources.Guest;
@model ExtranetApp.Models.Guest.InvoiceDetailsModel


@{
    System.Globalization.CultureInfo currentCulture = Model.invoiceDetail.Culture;
}


<div>
@{
 decimal diffrence= Model.invoiceDetail.InvoiceTotal-Model.originalReservationTotalPrice;
 
 if(diffrence>0)
 {
    @Html.Action("GetInvoiceDetailsByInvoice", "PropertyDetail", new {invoice = Model.invoiceDetail})
    <h3>@String.Format(ChangeTripDate.DiffrenceToCurrent,diffrence.ToString("c", currentCulture))</h3>
 } else
 {
    <h3>@String.Format(ChangeTripDate.DiffrenceToCurrent,0.ToString("c", currentCulture))</h3>
 }
}
   
</div>
