﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

.markedDay * {
    background-color: #007700 !important;
    background-color: rgba(50, 250, 10, 0.6) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.markedDayOwner * {
    background-color: #770000 !important;
    background-color: rgba(250, 10, 10, 0.5) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rangeSelection {
    background-color: rgb(30, 80, 200) !important;
    background-color: rgba(30, 80, 200, 0.9) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.ui-datepicker-title {
    font-size: 18px;
}

table.ui-datepicker-calendar * {
    font-size: 16px !important;
}

div#reservation-calendar {
    width: 700px !important;
    float: left;
}

div#reservation-legend {
    margin-top: 20px;
    width: 150px;
    float: left;
}

    div#reservation-legend div.legend-box {
        font-size: 18px;
        margin-bottom: 7px;
    }

        div#reservation-legend div.legend-box > span {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            margin: 0 10px 0 10px;
        }

div#popup-reservationDetails {
}

    div#popup-reservationDetails div#popup-header {
        border-bottom: 1px solid #868686;
        width: 250px;
        margin-bottom: 5px;
    }

        div#popup-reservationDetails div#popup-header div#popup-user {
            float: left;
            width: 50%;
        }

        div#popup-reservationDetails div#popup-header div#popup-confirmation {
            float: left;
            width: 50%;
            text-align: right;
        }

    div#popup-reservationDetails div#popup-tripDates {
        text-align: center;
        margin-bottom: 5px;
    }

    div#popup-reservationDetails .price-desc {
        float: left;
        width: 60%;
    }

    div#popup-reservationDetails .price-value {
        float: right;
        text-align: right;
    }

    div#popup-reservationDetails #popup-net .price-value {
        border-top: 1px solid #868686;
    }

.ui-tooltip {
    background-image: url("/images/menu-bg.png") !important;
    background-color: #454545;
    background-repeat: repeat;
}
