﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

img, a img {
    background-color: transparent;
}

p {
    margin-bottom: 0em;
}

h2 {
    margin-bottom: 0.2em;
}

div.guestReviewRatings h3 {
    margin-bottom: 0.3em;
}

div.widget-section div.widget div.description-features div.widget-content p img {
    vertical-align: middle;
}

#guestReviewsDetailsView div, #guestReviewsDetailsView h1, #guestReviewsDetailsView h2, #guestReviewsDetailsView p, #guestReviewsDetailsView ul, #guestReviewsDetailsView li {
    color: #FFFFFF;
}

div.widget-section {
    margin-left: 10px;
    margin-right: 10px;
}

    div.widget-section div.widget div.reviews-title {
        width: 49% !important;
        padding-top: 5px;
    }


    div.widget-section div.widget div.second {
        width: 65% !important;
        float: left;
    }

    div.widget-section div.widget div.description-features {
        border: medium none;
        width: 33%;
        float: left;
    }

div.guestReviewRatings {
    float: left;
    width: 33%;
}

    div.guestReviewRatings h2 {
        margin-bottom: 10px;
    }

div.guestStarRatingSection {
    padding-top: 10px;
}

div#review-sort-menu {
    float: right;
    width: 200px;
}

    div#review-sort-menu > ul {
        background-color: #214f74;
    }


    div#review-sort-menu ul {
        list-style: none outside none;
    }

    div#review-sort-menu > ul > li {
        background-image: url("/images/otp/bg_propertyDetails_sort.png");
        background-position: 90% 50%;
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        padding-right: 0;
        width: 160px;
        background-color: #214f74;
        color: #868686;
    }

    div#review-sort-menu li ul {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: none;
        margin: 0;
        top: 65px;
        position: absolute;
        width: 190px;
        z-index: 2;
    }

        div#review-sort-menu li ul li {
            background-image: url("/images/gfx/menu_list_bg.png");
            background-repeat: repeat-x;
        }

            div#review-sort-menu li ul li a:hover {
                font-weight: 400;
                background-color: #214F74;
            }

    div#review-sort-menu ul a {
        float: left;
        font-size: 18px;
        height: 20px;
        line-height: 20px;
        text-align: left;
        text-decoration: none;
        width: 190px;
        display: inline-block;
        font-family: 'Yanone Kaffeesatz',sans-serif;
        font-weight: 300;
        padding: 10px 10px 0;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        /*color: #868686;*/
        color: #FFFFFF;
        padding: 10px 10px;
    }



.review-sort-container {
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}


.review-dialog {    
    background: none repeat scroll 0 0 #222222;
    border: 3px ridge rgba(100, 100, 100, 0.2);
    left: 350px;
    position: absolute;
    top: auto;
    width: 400px;
    z-index: 999;
    display:none;
}