﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

table#keyManagementData {
    width: 98%;
    text-align: center;
    border-collapse: collapse;
}

    table#keyManagementData thead tr * {
        color: #FFFFFF;
    }

    table#keyManagementData thead tr td div {
        /*padding: 10px 8px;*/
        margin-left: 5px;
        border-bottom: 2px solid #FFFFFF;
    }

    table#keyManagementData thead tr th {
        padding: 5px 8px;
        border-bottom: 1px solid #FFFFFF;
        vertical-align: middle;
    }

        table#keyManagementData thead tr th.noborder {
            padding: 10px 8px;
            border-bottom: none;
        }


    table#keyManagementData tbody tr * {
        color: #FFFFFF;
    }

    table#keyManagementData tbody tr {
        height: 40px;
    }

        table#keyManagementData tbody tr.alternateRow {
            background-color: #373737;
        }

        table#keyManagementData tbody tr td {
            padding: 5px 5px 5px 5px;
        }

div input.input-submit {
    width: 90px !important;
    margin-top: 0px;
}


div#filter-menu {
    text-align:left;
    margin-bottom:15px;
}

div#filter-menu div.input-container {
    margin-right:8px;
    float:left;
}

input.input-textarea {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 7px 0px 7px 0px;
}

.watermark_container {
    width: 100%;
}