﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

div.section-place {
    width: 95%;
    margin-bottom: 10px;
}

div.image-place {
    width: 600px;
    float: left;
}

div.links-place {
    width: 250px;
    float: right;
}

div.image-container {
    /*height: 400px;
    width: 600px;*/
}

div.thumbnail_container {
    height: 400px;
    width: 600px;
}

div.overlayBlock {
    bottom: 80px;
    color: #FFFFFF;
    font-family: 'tahoma';
    height: 40px;
    padding-left: 10px;
    position: relative;
    width: 250px;
    z-index: 999;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

.editable {
    cursor:pointer;
}

.toolTipEdit {
    color: white;
    display: none;
    font-size: 0.8em;
    line-height: 1em;
}

.edit {
    display: none;
}
div.two input {
    width: 120px;
}

div.one input {
    width: 264px;
}

.input-select {
    width: 287px;
}

span.field-validation-error {
}

div.input-container {
    margin-bottom: 10px;
    width: 290px;
}

div.three input {
    width: 72px;
}

div.three.left  {
    width: 33%;
}

.input-textarea {
    margin-bottom: 0px;
}