﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

div.section-place {
    width: 95%;
    margin-bottom: 10px;
}

div.image-place {
    width: 300px;
    float: left;
}

div.description-place {
    width: 340px;
    float: left;
    padding-left: 10px;
}

    div.description-place h2 a {
        color: #FFFFFF;
        text-decoration: underline;
        font-weight: 400;
    }

div.links-place {
    width: 150px;
    float: right;
}

p {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
}

div.links-place ul * {
    font-size: 18px;
}

div.links-place ul {
    list-style: none;
}

    div.links-place ul li {
        border-bottom: 2px ridge #868686;
        padding-bottom: 5px;
        padding-top: 5px;
    }


div.lock-image {
    float: left;
}

    div.lock-image img {
        background-color: transparent;
    }

#info-dialog {
    display: none;
}

.thumbnail_container {
    height:200px;
    width:300px;
}

.thumbnail_container img {
    height:200px;
    width:300px;
}
