﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

.watermark_container {
    height:auto;
    max-height:none;
    width:auto;
    max-width:none;
}

.input-textarea {
    max-width:none;
    max-height:none;
    height:auto;   
}

.submit-container {
    text-align:right;
}

    .submit-container input#btnSend {
        width:200px !important;
    }
