﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

table#reservations {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}

    table#reservations thead tr * {
        color: #FFFFFF;
    }

    table#reservations thead tr th {
        padding: 10px 8px;
        border-bottom: 2px solid #FFFFFF;
    }


    table#reservations tbody tr * {
        color: #FFFFFF;
    }

    table#reservations tbody tr {
        height: 40px;
    }

        table#reservations tbody tr.alternateRow {
            background-color: #373737;
        }

        table#reservations tbody tr td {
            padding: 5px 5px 5px 5px;
        }
