﻿.page-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#main_wrap {
    margin-top: 180px;
    padding-top: 10px;
}

.watermark_container {
    height:auto;
    max-height:none;
    width:auto;
    max-width:none;
}

.input-textarea {
    max-width:none;
    max-height:none;
    height:auto;   
}

.submit-container {
    text-align:right;
}

    .submit-container input#btnSend {
        width:200px !important;
    }

div.overlayBlock {
    bottom: 40px;
    color: #FFFFFF;
    font-family: 'tahoma';
    height: 40px;
    padding-left: 10px;
    position: absolute;
    width: 250px;
    z-index: 999;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}
.image-place {
    position: relative;
}

#main_wrap {
    font-size: 22px;
}

#Rows td{
    min-width: 7em;
    height: 1.6em;
}

.marginB-1 {
    margin-bottom: 0.6em;
}

.image-place {
    margin-bottom: 1.25em;
}

#links {

}

.name a {
     color: #868686;
}

.preview img {
    width: 80px;
}

