﻿.errorInForm
{
	color:Red;
	background:#fef3e7 no-repeat 15px 15px;
	border:solid 2px #690033;
	font-size:larger;
	margin:10px 0 10px 0;

}
.amountTo,
.dateTo
{
    margin-left: 1px;
    margin-top: 3px;   
}

.amountLabel
{
    margin-top: 2px;
}

.detailsHeader
{
    font-size: small;
    font-weight: bold;
}

.detailsRow
{
    height: 10px !important;   
}
.detailsHeaderRow
{
    height: 30px !important;
}

.detailsHeaderCell
{
    width: 90px !important;
}

.detailsContentCell
{
    width: 220px !important;
}

.inputDetails
{
    width: 160px !important;
}

.paramLabelCell
{
    width: 150px !important;
    padding-left : 10px !important;
    padding-top: 3px;
    padding-bottom: 4px;
}
.paramInputCell
{
    width:250px;
}

.bottomAlignedButton
{
    position: absolute !important;
    bottom: 0px;
    left: 302px;
}
.bottomAlignedButtonEditForm
{
    position: absolute !important;
    bottom: 0px;
    left: 205px;
}

h1.FormHeader
{
    padding-top:0.4em !important;
    padding-bottom:0.5em !important;
}

.ContentPanel, .ContentPanel > .PanelBackground, .ContentPanel > .PanelContent 
{ 
    display: block; 
}

div.ContentPanel
{
    position:relative;
}

.ContentPanel > .PanelBackground 
{
    position: absolute;
    width: 100%; height: 100%;
    top: auto; bottom: auto; left: -10px; right: auto;
}

.ContentPanel > .PanelContent 
{
    position: relative;
    z-index: 10;
}

.ui-progressbar-value {
    background: url("../../images/ui-bg_highlight-soft_75_cccccc_1x100_green.png") repeat-x scroll 50% 50% #CCCCCC !important;
}

.ruFileWrap {
    display: inline !important;
}