.loginPanel
{
	margin: 1.5em auto;
	width: 400px;
}

.loginContent
{
	border: 1px solid #C5D6E2;
	padding: 1.2em 0;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 6px 6px 6px 6px;
}

.loginContent > table
{
	margin: 0 auto;
}

.loginPane table
{
	display: block;
}
.loginPane table td
{
	text-align: left;
	padding: 0.4em;
}
.loginPane table input[type="text"],
.loginPane table input[type="password"]
{
	width: 20em;
}
.loginPane table .buttonLoginCell
{
	text-align: right;
}

.loginPane .forgotPassContainer
{
	margin-top: 2em;
}
.loginPane .forgotPassContainer div
{
	display: inline-block;
	float: right;
}
.loginPane .forgotPassContainer a
{
	background: url("./images/button_arrow.gif") no-repeat scroll right center transparent;
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 17px;
	margin-top: 0.5em;
	padding-right: 25px;
	text-transform: uppercase;
}