﻿img
{
	border: 0;
}

.inspection_activity .rsAptContent
{
  background: #F2F1ED !important;
  border-color: #666 !important;
}

.inspection_activity .rsAptIn,
.inspection_activity .rsAptMid,
.inspection_activity .rsAptContent
{
	border-color: #666 !important;
}

a:link,
a:visited,
a:active
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
a
{
	color: #00497E;
}

body
{
	padding: 0;
	margin: 0;
	font: 11px Arial,Verdana,Helvetica,sans-serif;
}

.topBorder
{
	height: 14px;
	background: url("./images/body_top_border.gif") repeat-x scroll 0 0 transparent
}

.centerWrapper
{
	margin: 0 auto;
	width: 1270px;
	min-height: 400px;
}

.centerPadded
{
	position: relative;
	margin: 0 17px;
}

.detailsLabel
{
	font: 11px Arial,Verdana,Helvetica,sans-serif;
	font-weight: bold;
	vertical-align: top;
}

.detailsLabelPadded
{
	font-weight: bold;
	padding-left: 15px;
	vertical-align: top;
}

.detailsValue
{
	font: 11px Arial,Verdana,Helvetica,sans-serif;
	padding-left:10px;
	vertical-align: top;
}

/* ****************** general styles ****************** */
.flowDivider
{
	padding: 0 5px;
}

.clear
{
	clear: both;
}

/* ****************** header ****************** */
.header
{
	position: relative;
	margin-bottom: 1px;
}

.header .headerLogo
{
	margin: 0 0 9px 0;
	height: 50px;
}

.header .headerRightTop
{
	position: absolute;
	top: 0;
	right: 0;
	color: #00497E;
	line-height: 1.5em;
	text-align: right;
}

.header .headerBottom
{
	height: 0;
	border-bottom: 6px solid #C1022B;
}

/* ****************** footer ****************** */
.footerWrapper
{
	width: 100%;
	background-color: #690033;
}

.footer
{
	margin: 0 auto;
	width: 1244px;
	height: 40px;
	color: #ffffff;
}

.footerTop
{
	line-height: 37px;
}

.footerMain
{
	height: 60px;
	margin: 0 9px;
	padding: 12px 10px;
}

.footer .footerCopyrightLine
{
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #89ACC4;
	margin: 0 170px;
	height:0px;
}
.footer .footerCopyright
{
	text-align: center;
	margin: 0 9px;
}

/* ****************** banner ****************** */
.contentBanner
{
	padding-bottom: 13px;
	border-bottom: 3px solid #666;
	position: relative;
	height: 70px;
    background-color: #616493;
}

.contentBanner img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.contentBanner .contentBannerTextWrapper
{
	position: absolute;
	top: 13px;
	right: 0;
	background: url("./images/top_mask.png") no-repeat scroll right bottom transparent;
	height: 52px;
	width: 100%;
}

.contentBanner .contentBannerText
{
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 20px;
	text-align: right;
}

/* ****************** top menu ****************** */
.topMenu
{
	border-bottom: 3px solid #C1022B;
	padding: 4px 4;
}

.topMenu .RadMenu .rmRootGroup
{
	background: none !important;
	background-color: transparent !important;
	border: 0 none !important;
}

.topMenu a.rmRootLink .rmText
{
	font-size: 10pt;
}

.topMenu .RadMenu .menuLink
{
	cursor: pointer !important;
}

.topMenu .RadMenu a.rmDisabled .rmText
{
	color: #888888 !important;
}

/* ****************** content ****************** */
.rightContent
{
	float: left;
	width: 100%;
	position: relative; /* IE6 */
}

.rightContent .siteMapPath
{
	margin: 13px 35px;
	font-size: 9px;
}

.content
{
	margin: 20px 10px 10px 10px;
	min-height: 300px;
}

#leftColumn
{
	float: left;
	height: 100%;
	display: none;
	margin-top: 20px;
	position: relative;
}

#rightColumn
{
	float: right;
	height: 100%;
	display: none;
	margin-top: 20px;
	position: relative;
}

/* lce/lcc/rce/rcc = left/right column expanded/collapsed */
.rightContent.lce #leftColumn  { display: block; width: 200px; }
.rightContent.lcc #leftColumn  { display: block; width: 20px; }
.rightContent.rce #rightColumn { display: block; width: 200px; }
.rightContent.rcc #rightColumn { display: block; width: 20px; }

/* limit main content width if side columns are visible */
.rightContent.lce .content,
.rightContent.rce .content     { width: 990px; float: left; }
.rightContent.lcc .content,
.rightContent.rcc .content     { width: 1170px; float: left; }
.rightContent.lce.rce .content { width: 790px; }
.rightContent.lce.rcc .content,
.rightContent.lcc.rce .content { width: 970px; }
.rightContent.lcc.rcc .content { width: 1150px; }

#leftColumn .columnContent,
#rightColumn .columnContent { clear: both; }

/* collapsed column content */
.rightContent.lcc #leftColumn .columnContent,
.rightContent.rcc #rightColumn .columnContent { display: none; }
/* exp/coll buttons */
.rightContent #leftColumn .expandCollapse { position: absolute; top: -20px; right: 0; }
.rightContent #rightColumn .expandCollapse { position: absolute; top: -20px; left: 0; }

.content h1
{
	padding-left: 15px;
	margin-left: -15px;
	color: #00497E;
	font-size: 1.5em;
}

/* ****************** within main content ****************** */
.error
{
	color: #FF0000;
}

.success
{
	color: #00FF00;
}

/* ****************** other ****************** */
.progressText
{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
	position: absolute;
	left: 0; /* IE 7 fix */
	bottom: 15%;
}

/******************* tab strip ***************/
.tabStrip > div
{
	padding: 10px 5px;
}

/******************* audit list ****************/
a.auditLink
{
	padding-left: 26px;
	background: url('images/icons/email.png') no-repeat;
}

/**************** contact history ****************/

 .list
 {
	list-style-type: none;
	padding-left: 0;
 }

 .subItem
 {
	color: Gray;
 }

 .leftStyle
 {
	float: left;
	position: relative;
	padding: 5px;
	width: 20%;
 }

  .rightStyle
 {
	float: right;
	position: relative;
	padding: 5px;
	width: 77%;
 }

 .centerText
 {
	text-align: center;
 }

 .sortFilterInfo
 {
	margin: 0 auto;
	width: 35%;
	padding-bottom: 10px;
 }

 .fileList
 {
	list-style-type: none;
	padding-left: 0;
 }
 
 /**************** Documents ************/
 img.fileIcon
 {
	width: 13px;
	height: 15px;
 }
 
 div.docs
 {
	margin-bottom: 5px;
 }
 
 div.docs a,
 div.doc img
 {
	vertical-align: top;
 }
 
div.docs table
 {
	width: 100%;
 }
 
 div.docs td
 {
	padding: 1px !important;
 }
 
 td.docImg
 {
	width: 16px;
 }

 /************ content-container *********/
.content-container {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 6px 6px 6px 6px;
    padding: 15px 15px 15px 15px;
    table-layout: auto;
}

.radTab {
    border: 1px solid #AAAAAA;
    border-radius: 0 6px 6px 6px;
    padding: 20px;
    width: 1140px !important;
}

.RadMenu {
    z-index: 100 !important;
}

.radTabSmall {
    border: 1px solid #AAAAAA;
    border-radius: 0 6px 6px 6px;
    padding: 20px;
    width: 560px !important;
}

.centerWrapperSmall { 
	width: 500px;
	min-height: 400px;
}

#modalDialog {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

.radTabSmall2 {
    border: 1px solid #AAAAAA;
    border-radius: 0 6px 6px 6px;
    padding: 20px;
    width: 520px !important;
}