﻿#floorPlanControl {
    float: left;
    width:640px;
    height: 480px;
}

#imageContainer {
    background-color: black;
    width:640px;
    height: 480px;
    position:absolute;
}

#floorPlanEditForm {
    width: 261px;
    height: 100%;
    float:left;
    padding-left: 10px;
    border-top: dotted 1px black;
    border-bottom: dotted 1px black;
}

#floorPlanProperties {
    margin-bottom: 20px;

}

#floorPlanProperties label {
    font-weight: bold;
}

.panorama-form, #floorPlanEditForm {
    margin-bottom:20px;
}

#SaveButtonContainer {
    margin: 10px;
}

.form-panel {
    padding-left: 10px;
    margin-bottom:20px;
}

.marker {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("../../images/floorPlanMarker.png");
    z-index: 100;
}

.marker.selected {
    border: solid 1px green;
}

.upload-panel .RadUpload .ruInputs, .panorama-form .RadUpload .ruInputs {
    float: left;
    width: 120px !important;
}

.panoramaEditor {
    font: 11px Arial,Verdana,Helvetica,sans-serif;
    color: #696969;
}

.content {
    margin: 5px 5px 5px !important;
    min-height: 20px !important;
}

.RadAsyncUpload {
    width: 220px !important;
}

.errorInForm {
    background: none no-repeat scroll 15px 15px #FEF3E7;
    border: 1px solid #690033;
    color: Red;
    font-size: small;
    margin: 1px 0;
    min-height: 5px;
    padding: 1px;
}

