﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@model ExtranetApp.Models.HomeOwner.ActivateOwnerBankAccountRelatedModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
    string inputClassName = "input-textarea input-texarea-homeowner";
    int maxLength = 255;
}

@section Styles 
{
}

@section Scripts
{
    @Scripts.Render("~/js/Views/homeowner.join.js")

}

<style type="text/css">
    .full {
        width: 70%;
    }
</style>

<section class="content-center">

    <div class="container" id="main_wrap">
        <div class="content alpha columns">

            <h3 class="page-title">@HomeOwner.Activate_BankAccount_Header</h3>

            <div class="content alpha columns">

                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form" }))
                {                    
                    @Html.HiddenFor(m => m.ActivationToken)
                    <div class="left">
                        @Html.TextBoxFor(m => m.BankName, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_BankName })
                        <br />
                        @Html.ValidationMessageFor(m => m.BankName)
                    </div>                    
                    <div class="left">

                        @Html.TextBoxFor(m => m.RoutingNumber, new { @class = @inputClassName, maxlength = 9, defaultText = UserProfile.UserProfileModel_RoutingNumber })
                        <br />
                        @Html.ValidationMessageFor(m => m.RoutingNumber)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.AccountNumber, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_AccountNumber })
                        <br />
                        @Html.ValidationMessageFor(m => m.AccountNumber)

                    </div>
                    <div style="clear: both"></div>                  
                    <div class="left">
                        &nbsp;
                    </div>
                    <div class="left" style="text-align:right;width:297px">
                        <input type="submit" class="input-submit" value="@HomeOwner.ListYourHome_Button_Submit" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>
