﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using ExtranetApp.Extensions;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
    string inputClassNameOne = "input-textarea one";
}

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.contact.css")
}

@section Scripts
{

    <script>

        jQuery(document).ready(function () {

            var x = '@ViewBag.isPostBack';
            if (x == 'True') {

                jQuery("form").find('.input-textarea').each(function () {
                    jQuery(this).val('');
                });

                jQuery('<div id="dialog" title="@Contact.Dialog_Title"><p>@Contact.Dialog_Content</p></div>').dialog({
                    modal: true,
                    buttons: {
                        Ok: function () {
                            jQuery(this).dialog("close");
                        }
                    }
                });
            }

            jQuery("form").find('.input-textarea').each(function () {
                var defValue = jQuery(this).attr("defaultText");
                jQuery(this).watermark(defValue);
            });
        });

    </script>
}

<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@Contact.View_Title</h1>
    </div>
    <div id="main_wrap" class="container">
        <h3>@Contact.OTP</h3>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form" }))
        {
            <div class="input-container">
                <div class="one" style="float: left;">
                    @Html.TextArea("message", null, 10, 62, new { @class = @inputClassNameOne, defaultText = Contact.Textbox_initialText })
                    <br />
                    <div class="submit-container">
                        <input type="submit" id="btnSend" value="@Contact.Button_Send" class="input-submit" onclick="javascript:void(0);" />
                    </div>
                </div>
                <div class="clear">&nbsp;</div>

            </div>
        }

    </div>
</section>
