﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using ExtranetApp.Extensions;
@model ExtranetApp.Models.HomeOwner.ContentUpdateModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
    string inputClassNameOne = "input-textarea one";
}

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.contentUpdate.css")
    @Styles.Render("~/css/uniform.default.css")
    @Styles.Render("~/css/jquery.fileupload-ui.css")
}

@section Scripts
{
    @Scripts.Render("~/js/jquery.uniform.js")
    @Scripts.Render("~/js/Views/Homeowner/homeowner.contentUpdate.js")    

    @Scripts.Render("~/js/FileUpload/tmpl.min.js");
    @Scripts.Render("~/js/FileUpload/canvas-to-blob.min.js");
    @Scripts.Render("~/js/FileUpload/load-image.min.js");

    @Scripts.Render("~/js/FileUpload/jquery.iframe-transport.js");
    @Scripts.Render("~/js/FileUpload/jquery.fileupload.js");
    @Scripts.Render("~/js/FileUpload/jquery.fileupload-ip.js");
    @Scripts.Render("~/js/FileUpload/jquery.fileupload-ui.js");
    <script>
        jQuery(document).ready(function () {
            oth.contentUpdateViewModel.init({
                cancelButton: "@Rates.Cancel",
                closeButton: "Close",
                attachButton: "@ContentUpdate.attach",
                attachFile: "@ContentUpdate.attachFile",
                browse: "@ContentUpdate.browse",
                upload: "@ContentUpdate.uploadImage",
                selectorPopUp: "#uploadPopUp"
            });
        });
        window.locale = {
            "fileupload": {
                "errors": {
                    "maxFileSize": "File is too big",
                    "minFileSize": "File is too small",
                    "acceptFileTypes": "Filetype not allowed",
                    "maxNumberOfFiles": "Max number of files exceeded",
                    "uploadedBytes": "Uploaded bytes exceed file size",
                    "emptyResult": "Empty file upload result"
                },
                "error": "Error",
                "start": "Start",
                "cancel": "Remove",
                "destroy": "Delete"
            }
        }
    </script>
}



<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@Contact.View_Title</h1>
    </div>
    <div id="main_wrap" class="container">


        <div id="content" style="width: 600px;">
            @using (Html.BeginForm("ContentUpdate","HomeOwner",FormMethod.Post, new { id = "formContentUpdate" }))
            {
            <div class="image-place">
                <div class="image-container">

                    <div class="thumbnail_container">
                        <img src="@Model.propWithImages.FullScreenImage" alt="@Model.propWithImages.Property.PropertyNameCurrentLanguage" style="width: 600px;" />
                    </div>


                    <div class="overlayBlock" id="imageOverlay">
                        <h2>@Model.propWithImages.Property.PropertyNameCurrentLanguage</h2>
                    </div>

                </div>
            </div>

            <table id="Rows">
                <tr><td>@ContentUpdate.owner</td><td colspan="3">@Model.propWithImages.Property.User.FullName</td></tr>
                <tr class="hide">
                    <td>@ContentUpdate.updateFor</td>
                    <td>
                    @Html.RadioButtonFor(m => m.updateContentCode, DataAccess.Enums.ContentUpdateRequestDetailContentType.Image, new { @class = "fancy_checkbox" })@ContentUpdate.images
                    </td>
                    @* ToDo Add Info about non image files for IE
                    <td>@Html.RadioButtonFor(m => m.updateContentCode, ExtranetApp.Models.HomeOwner.ContentUpdateModel.ContentUpdateType.images, new { @class = "fancy_checkbox" })@ContentUpdate.images</td>
                    <td>@Html.RadioButtonFor(m => m.updateContentCode, ExtranetApp.Models.HomeOwner.ContentUpdateModel.ContentUpdateType.other, new { @class = "fancy_checkbox" })@ContentUpdate.other</td>
                    <td>@Html.RadioButtonFor(m => m.updateContentCode, ExtranetApp.Models.HomeOwner.ContentUpdateModel.ContentUpdateType.both, new { @class = "fancy_checkbox" })@ContentUpdate.both</td>
                    *@
                </tr>
                <tr>
                    <td><a id="openPopUp" href="#" >@ContentUpdate.uploadImage</a></td>
                    <td colspan="3" ><span class="noImages">@ContentUpdate.noImages</span><div id="links"></div></td>
                </tr>
            </table>

            

            
                <div class="input-container">
                    <div class="one" style="float: left;">
                        @Html.TextAreaFor(m => m.message, 10, 68, new { @class = @inputClassNameOne, defaultText = ContentUpdate.textForTextBox })
                        <br />
                        <div class="submit-container">
                            <input type="submit" id="btnSend" value="@Contact.Button_Send" class="input-submit"/>
                        </div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                    @Html.HiddenFor(m => m.storageLinks)
                    @Html.HiddenFor(m => m.propertyId)
            }
                
                <div id="uploadPopUp">
                    <h2>@ContentUpdate.uploadImage</h2>
                    <form id="fileupload" action="@Url.Action("UploadFiles")" method="POST" enctype="multipart/form-data">
                        @Html.HiddenFor(m => m.propertyId)
                        
                        <div class="row fileupload-buttonbar">
                            <div class="span7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="icon-plus icon-white"></i>
                                    <span>Browse</span>
                                    <input type="file" name="files[]" multiple accept="image/*">
                                </span>
                                <span class="error hide">
                                    Error in uploading:
                                    <span class="filesList"></span>
                                </span>
                                <button id="attach" type="submit" class="btn btn-primary start hide">
                                    <i class="icon-upload icon-white"></i>
                                    <span>Attach</span>
                                </button>
                            </div>
                        </div>
                        <!-- The loading indicator is shown during image processing -->
                        <div class="fileupload-loading"></div>
                        <br>
                        <!-- The table listing the files available for upload/download -->
                        <div class="table table-striped" style="width: 590px;"><div class="files"></div></div>
                    </form>
                    <div class="clear"></div>
                </div>
            


            


        </div>



    </div>
</section>




    

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload fade">
        <div class="preview"><span class="fade"></span></div>
        <div class="name"><span>{%=file.name%}</span></div>
        <div class="size hide"><span>{%=o.formatFileSize(file.size)%}</span></div>
        {% if (file.error) { %}
            <div class="error hide" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</div>
        {% } else if (o.files.valid && !i) { %}
            <div>
                <div class="progress progress-success progress-sdiviped active hide"><div class="bar" style="width:0%;"></div></div>
            </div>
            <div class="start hide">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</div>
        {% } else { %}
            <div colspan="2"></div>
        {% } %}
        <div class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</div>
    </div>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-download fade">
        {% if (file.error) { %}
            <div></div>
            <div class="name"><span>{%=file.name%}</span></div>
            <div class="size hide"><span>{%=o.formatFileSize(file.size)%}</span></div>
            <div class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</div>
        {% } else { %}
            <div class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</div>
            <div class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </div>
            <div class="size hide"><span>{%=o.formatFileSize(file.size)%}</span></div>
            <div colspan="2"></div>
        {% } %}
        <div class="delete hide">
@*            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-divash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>*@
        </div>
    </div>
{% } %}
</script>

