﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@model ExtranetApp.Models.Account.LoginModel
@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

@section Styles 
{
    @Styles.Render("~/css/homeowner.index.css")
}

@section Scripts
{
    @Scripts.Render("~/js/Views/homeowner.wizard.js")
    @Scripts.Render("~/js/Views/homeowner.scripts.js")
    @Scripts.Render("~/js/Views/Homeowner/homeowner.index.js")
    @Scripts.Render("~/js/jquery.scrollto.js")
    @Scripts.Render("~/js/jquery.datetimepicker.js")
    @Scripts.Render("~/js/jquery.multidatespicker.js")

    <script>
        jQuery(document).ready(function () {
            otp.homeowner_index.init();
        });
</script>
}

<style type="text/css">
    .input-textarea {
        min-width: 145px;
        max-width: 145px;
        width: 145px;
    }

    .input-select {
        min-width: 167px;
        max-width: 167px;
        width: 167px;
    }
</style>

<section class="content-center">
    <div id="main_wrap" class="container">
        <div class="content eight alpha columns">
            <div class="one_half first column_container">
                <h3 style="margin-bottom: 0px;">@Shared.JoinPopup_Header</h3>
                <input type="button" onclick="javacript: window.location = '@Url.RouteUrl(new { controller = "HomeOwner", action="ListYourHome" })';" value="@HomeOwner.Index_Button_Join" class="input-submit ignore-input" />
            </div>
            <div class="one_half column_container">
                <h3 style="margin-bottom: 5px;">@Shared.Login_Header</h3>
                @using (Ajax.BeginForm("LoginAsOwner", "Account", new AjaxOptions { OnSuccess = "otp.homeowner_index.onLoginComplete" }))
                {                                                           
                    <div style="width: 60%; float: left">                        
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-textarea", defaultText = @UserProfile.UserProfileModel_Email })<br />
                        @Html.ValidationMessageFor(m => m.Email)
                        @Html.PasswordFor(m => m.Password, new { @class = "input-textarea", defaultText = @UserProfile.UserProfileModel_Password })<br />
                        @Html.ValidationMessageFor(m => m.Password)
                        <select name="LoginRole" id="LoginRole" class="input-select">
                                <option>@HomeOwner.LoginRole</option>
                        </select>
                        <div id="vsLoginOwner"></div>
                    </div>
                    <div style="width: 40%; float: right;">
                        <div style="margin-left:5px;">
                            <input type="submit" id="btnLogin" style="margin-top:0px;" class="input-submit" value="@HomeOwner.Index_Button_Login" />
                            <br />
                            @Html.ActionLink(Shared.Login_ForgotPassword, "ForgotPassword", "Account", null, new { @class = "forgot-password-link" })
                        </div>
                    </div>
                    
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="whole">
                <div class="centered">
                    <h5 class="graph1">@HomeOwner.Index_Header_1</h5>
                    <p>@Html.Raw(HomeOwner.Index_Paragraph_1)</p>
                </div>
            </div>
            <div class="one_half first column_container">
                <h5 class="graph2">@HomeOwner.Index_Header_2</h5>
                <p>@Html.Raw(@HomeOwner.Index_Paragraph_2)</p>
            </div>
            <div class="one_half column_container">
                <h5 class="cloud">@HomeOwner.Index_Header_3</h5>
                <p>@Html.Raw(@HomeOwner.Index_Paragraph_3)</p>
            </div>
            <div class="one_half first column_container">
                <h5 class="wallet">@HomeOwner.Index_Header_4</h5>
                <p>@Html.Raw(@HomeOwner.Index_Paragraph_4)</p>
            </div>
            <div class="one_half column_container">
                <h5 class="cloud">@HomeOwner.Index_Header_5</h5>
                <p>@Html.Raw(@HomeOwner.Index_Paragraph_5)</p>
            </div>
            <div class="one_half first column_container">
                <h5 class="wallet">@HomeOwner.Index_Header_6</h5>
                <p>@Html.Raw(@HomeOwner.Index_Paragraph_6)</p>
            </div>
            <div class="one_half column_container">
                <h5 class="cloud">@HomeOwner.Index_Header_7</h5>
                <p>@Html.Raw(@HomeOwner.Index_Paragraph_7)</p>
            </div>
            <div id="scrolledContent">
                <div id="c1" class="content eight alpha columns">
                    <h4 class="blue-print1">@HomeOwner.Index_OwnerContract</h4>
                    <div class="full">
                        @Html.Raw(String.Format(HomeOwner.Index_Paragraph_OwnerContract, "OwnerAgreement"))
                    </div>
                </div>

                <div id="c2" class="content eight alpha columns">
                    <h4 class="blue-print1">@HomeOwner.Index_OwnerGuestContract</h4>
                    <div class="full">
                        @Html.Raw(String.Format(HomeOwner.Index_Paragraph_OwnerGuestContract, "ShortTermRentalAgreement"))
                    </div>
                </div>

                <div id="c3" class="content eight alpha columns">
                    <h4 class="blue-print1">@HomeOwner.Index_SecurityInsurance</h4>
                    <div class="full">
                        @Html.Raw(HomeOwner.Index_Paragraph_SecurityInsurance)
                    </div>
                </div>

                <div id="c4" class="content eight alpha columns">
                    <h4 class="blue-print1">@HomeOwner.Index_PrivacyPolicy</h4>
                    <div class="full">
                        @Html.Raw(HomeOwner.Index_Paragraph_PrivacyPolicy)
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar columns sidebar_right three" id="slider_menu_container">
            <div id="inner_slider" class="fixed">
                <div class="inner_sidebar">
                    <div class="widget-content links">
                        <ul>
                            @if(!String.IsNullOrEmpty(@ViewBag.ExamplePropertyUrl)) {
                                <li><a href="@ViewBag.ExamplePropertyUrl">@HomeOwner.Index_ExampleProperty</a></li>
                            }
                            <li><a href="javascript:void();" id="ownerContract">@HomeOwner.Index_OwnerContract</a></li>
                            <li><a href="javascript:void();" id="ownerGuestContract">@HomeOwner.Index_OwnerGuestContract</a></li>
                            <li><a href="javascript:void();" id="insurance">@HomeOwner.Index_SecurityInsurance</a></li>
                            <li><a href="javascript:void();" id="privacyPolicy">@HomeOwner.Index_PrivacyPolicy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
