﻿@using ExtranetApp.Resources.Views;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

<section class="content-center">

    <div class="container" id="main_wrap">
        <h3 class="page-title">@HomeOwner.JoinConfirmation_Title</h3>
        <div class="content eleven alpha columns">
            <h4 class="page-title">@String.Format(HomeOwner.JoinConfirmation_Message, ViewBag.Email)</h4>
        </div>
        <p>
            <button onclick="window.location.href='@Url.Action("Index", "Home")' " class="input-submit" style="width:250px!important">@HomeOwner.JoinConfirmation_Button_Back</button>
        </p>
    </div>
</section>
