﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using Common.Extensions;
@using DataAccess.Enums;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
}

@model ExtranetApp.Models.HomeOwner.KeyManagementModel

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.keyManagement.css")
}

@section Scripts
{
    @Scripts.Render("~/js/Views/Homeowner/homeowner.keymanagement.js")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            otp.homeowner_keymanagement.init();
        });
    </script>
}

<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@KeyManagement.KeyManagement_Title</h1>
    </div>
    <div id="main_wrap" class="container">
        <div id="filter-menu">
            <h3>@KeyManagement.KeyManagement_Filter_Title:</h3>
            <div class="input-container">
                <input type="text" class="input-textarea" id="txtConfirmation" defaultText="@KeyManagement.KeyManagement_ConfirmationId" />
            </div>
            <div class="input-container">
                <input type="text" class="input-textarea" id="txtGuestName" defaultText="@KeyManagement.KeyManagement_GuestLastName" />
            </div>
            <div class="input-container">
                <input type="text" class="input-textarea" id="txtPropertyName" defaultText="@KeyManagement.KeyManagement_PropertyName" />
            </div>
            <div class="input-container">
                <input type="submit" class="input-submit" id="submitFilter" value="@KeyManagement.KeyManagement_Filter_Title" />
            </div>
            <div style="clear:both"></div>
        </div>

        <table id="keyManagementData">
            <thead>
                <tr>
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td colspan="2">
                        <div>@KeyManagement.KeyManagementArrival</div>
                    </td>
                    <td>
                        <div>@KeyManagement.KeyManagement_Departure</div>
                    </td>
                    <td class="noborder"></td>
                    <td colspan="2">
                        <div>@KeyManagement.KeyManagement_Keys</div>
                    </td>
                </tr>
                <tr>
                    <th>@KeyManagement.KeyManagement_PropertyName</th>
                    <th>@KeyManagement.KeyManagement_UnitName</th>
                    <th>@KeyManagement.KeyManagement_GuestLastName</th>
                    <th>@KeyManagement.KeyManagement_ConfirmationId</th>
                    <th>@KeyManagement.KeyManagement_Date</th>
                    <th>@KeyManagement.KeyManagement_Time</th>
                    <th>@KeyManagement.KeyManagement_Date</th>
                    <th>@KeyManagement.KeyManagement_GuestConfirmKeyDrop</th>
                    <th>@KeyManagement.KeyManagement_DeliveredToGuest</th>
                    <th>@KeyManagement.KeyManagement_RecievedFromGuest</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("Partial/KeyManagentListView", Model.KeyManagementList)
            </tbody>

        </table>
    </div>
</section>
