﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@model ExtranetApp.Models.UserProfileModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
    string inputClassName = "input-textarea input-texarea-homeowner";
    string selectClassname = "input-select";
    int maxLength = 255;  
}

@section Styles 
{
    @Styles.Render("~/css/homeowner.listYourHome.css")
}

@section Scripts
{
    @Scripts.Render("~/js/Views/homeowner.join.js")

}
<style type="text/css">
    .full {
        width: 70%;
    }
</style>

<section class="content-center">

    <div class="container" id="main_wrap">
        <div class="content alpha columns">

            <h3 class="page-title">@HomeOwner.ListYourHome_Header</h3>

            <div class="content alpha columns">

                @using (Html.BeginForm("ListYourHome", "Homeowner"))
                {
                    <div class="full">
                        <h6 class="lock">@Html.Raw(String.Format(HomeOwner.ListYourHome_ContactPrivacy, Html.ActionLink(HomeOwner.ListYourHome_PrivacyPolicy, "Index", "Homeowner", null, null, "c4", null, null)))</h6>
                    </div>
                    <div style="clear: both"></div>
                    <div class="full">
                        <div class="entry-title">
                            <h5>@HomeOwner.ListYourHome_ContactRequest</h5>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.FirstName, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_FirstName })
                        <br />
                        @Html.ValidationMessageFor(m => m.FirstName)

                    </div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.LastName, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_LastName })
                        <br />
                        @Html.ValidationMessageFor(m => m.LastName)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.Email, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_Email })
                        <br />
                        @Html.ValidationMessageFor(m => m.Email)

                    </div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_PhoneNumber })
                        <br />
                        @Html.ValidationMessageFor(m => m.PhoneNumber)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.TCInitials, new { @class = @inputClassName, maxlength = 4, defaultText = UserProfile.UserProfileModel_TCInitials })
                        <br />
                        @Html.ValidationMessageFor(m => m.TCInitials)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div>
                        <br />
                    </div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.SignUpCode,
                        (string.IsNullOrEmpty(Model.SignUpCode) == true ?
                        (object)new { @class = @inputClassName, maxlength = 255, defaultText = UserProfile.UserProfileModel_SignUpCode } :
                        (object)new { @class = @inputClassName, maxlength = 255, defaultText = UserProfile.UserProfileModel_SignUpCode, @readonly = "readonly" })
                            )

                        <br />
                        @Html.ValidationMessageFor(m => m.SignUpCode)
                    </div>
                    
@*<div class="left">

                        @Html.TextBoxFor(m => m.BankName, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_BankName })
                        <br />
                        @Html.ValidationMessageFor(m => m.BankName)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.RoutingNumber, new { @class = @inputClassName, maxlength = 9, defaultText = UserProfile.UserProfileModel_RoutingNumber })
                        <br />
                        @Html.ValidationMessageFor(m => m.RoutingNumber)

                    </div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.AccountNumber, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_AccountNumber })
                        <br />
                        @Html.ValidationMessageFor(m => m.AccountNumber)

                    </div>*@
                    <div style="clear: both"></div>
                    <br />
                    <div class="content alpha columns">
                        <h6 class="lock">@Html.Raw(String.Format(HomeOwner.ListYourHome_PlacePrivacy, Html.ActionLink(HomeOwner.ListYourHome_PrivacyPolicy, "Index", "Homeowner", null, null, "c4", null, new { target = "_blank" })))</h6>
                    </div>
                    
                    <div class="full">
                        <div class="entry-title">
                            <h5>@HomeOwner.ListYourHome_PlaceRequest</h5>
                        </div>
                    </div>       
                    <div style="clear: both"></div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_AddressLine1 })<br />
                        @Html.ValidationMessageFor(m => m.AddressLine1)

                    </div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_AddressLine2 })<br />
                        @Html.ValidationMessageFor(m => m.AddressLine2)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.City, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_City })<br />
                        @Html.ValidationMessageFor(m => m.City)

                    </div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.State, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_State })<br />
                        @Html.ValidationMessageFor(m => m.State)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">

                        @Html.TextBoxFor(m => m.ZIPCode, new { @class = @inputClassName, maxLength = @maxLength, defaultText = UserProfile.UserProfileModel_ZIPCode })<br />
                        @Html.ValidationMessageFor(m => m.ZIPCode)

                    </div>
                    <div class="left">

                        @Html.DropDownListFor(m => m.CountryCode2Letters, (SelectList)ViewBag.Countries, UserProfile.UserProfileModel_Country, new { @class = @selectClassname })<br />
                        @Html.ValidationMessageFor(m => m.CountryCode2Letters)

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">
                        &nbsp;
                    </div>
                    <div class="left" style="text-align: right; width: 297px">
                        <input type="submit" class="input-submit" value="@HomeOwner.ListYourHome_Button_Submit" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>
