﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using ExtranetApp.Extensions;
@using ExtranetApp.Resources.Models;
@model ExtranetApp.Models.HomeOwner.MyAccountModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
}

@{
    string inputClassNameOne = "input-textarea one";
    string inputClassNameTwo = "input-textarea two";
    string inputClassNameThree = "input-textarea three";
    string selectClassname = "input-select";
}

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.myaccount.css")
}

@section Scripts
{
    @Scripts.Render("~/js/jquery.cycle.all.js")
    @Scripts.Render("~/js/jquery.tools.js")

    <script>
        jQuery(document).ready(function () {
            jQuery('.thumbnail_container').each(function (index, element) {
                jQuery(this).cycle({
                    fx: 'fade',
                    timeout: 2000,
                    after: afterChange,
                }).cycle("pause");
            });

            //change thumbnails on hover
            jQuery(".image-container").each(function (index, element) {
                jQuery(this).hover(
                    function () {
                        jQuery(this).find(".thumbnail_container").cycle("resume");
                    },
                    function () {
                        jQuery(this).find(".thumbnail_container").cycle("pause");
                    }
                );
            });

            jQuery(".lock-image img[title]").tooltip();
        });


        function afterChange() {
            jQuery("#imageOverlay").html("<h2>" + this.alt + "</h2>");
        }

        jQuery(document).ready(function () {
            jQuery(".editable").hover(mouseOverShowEdit, mouseExitsHideEdit);
            jQuery(".editable").mousedown(function (ev) {
                jQuery(this).hide();
                jQuery(".edit").show();
                ev.stopPropagation();
                //jQuery("#creditCardContainer").addClass("first");
            });

            jQuery('.edit').mousedown(function (ev) {
                ev.stopPropagation();
            });

            jQuery('body').mousedown(function (ev) {
                jQuery('.editable').show();
                jQuery(".edit").hide();
            });

            jQuery("form").find('.input-textarea').each(function () {
                var defValue = jQuery(this).attr("defaultText");
                jQuery(this).watermark(defValue);
            });
        });

        function mouseOverShowEdit(event) {
            jQuery(".toolTipEdit").css("display", "inline");
        }

        function mouseExitsHideEdit(ev) {
            jQuery(".toolTipEdit").hide();
        }
    </script>
}

<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@MyAccount.View_Title</h1>
    </div>
    <div id="main_wrap" class="container">
        <div class="section-place">
            <div class="image-place">
                <div class="image-container">
                    <div class="thumbnail_container">
                        @foreach (var propWithImages in Model.PropertyWithImages)
                        {
                            <img src="@propWithImages.FullScreenImage" alt="@propWithImages.Property.PropertyNameCurrentLanguage" style="height: 400px; width: 600px;" />
                        }
                    </div>

                    @if(Model.PropertyWithImages.Count() > 0) {
                    <div class="overlayBlock" id="imageOverlay">
                        <h2>@Model.PropertyWithImages.ElementAt(0).Property.PropertyNameCurrentLanguage</h2>
                    </div>
                    }
                </div>
            </div>
            <div class="links-place">
                <h4>@MyAccount.ContactInformation</h4>


                <div class="editable">
                    <p>
                        @Model.Owner.FirstName @Model.Owner.LastName<span class="toolTipEdit"> @MyAccount.ClickToEdit</span>
                    </p>
                    <p>
                        <span id="Address1" class="editeble">
                            @Model.Owner.AddressLine1
                        </span>
                        @if (@Model.Owner.AddressLine2 != null)
                        {

                            <span id="Address2" class="editeble">
                                <br />@Model.Owner.AddressLine2
                            </span>
                        }
                        <br />
                        <span id="City" class="editeble">
                            @Model.Owner.City,
                        </span>
                        <span id="State" class="editeble">
                            @Model.Owner.State
                        </span>
                        <span id="ZIPCode" class="editeble">

                            @Model.Owner.ZIPCode
                        </span>

                        <br />
                        <span id="CountryName" class="editeble">
                            @Model.Owner.CountryName

                        </span>
                    </p>
                    <span id="CellPhone" class="editeble">
                        @if (@Model.Owner.PhoneNumber != "")
                        {

                            <p>@Model.Owner.PhoneNumber</p>
                        }
                    </span>
                    <p>@Model.Owner.Email</p>

                    <h4>@MyAccount.DirectDeposit</h4>

                    <span id="BankName" class="editeble">
                        @if (@Model.Owner.BankName != "")
                        {

                            <p>@MyAccount.BankName: @Model.Owner.BankName</p>
                        }
                    </span>
                    <span id="RoutingNumber" class="editeble">
                        @if (@Model.Owner.RoutingNumber != "")
                        {

                            <p>@MyAccount.ABA #: @Model.Owner.RoutingNumber</p>
                        }
                    </span>
                    <span id="AccountNumber" class="editeble">
                        @if (@Model.Owner.AccountNumber != "")
                        {
                            <p>@MyAccount.Account #: @Model.Owner.AccountNumber</p>
                        }
                    </span>
                </div>
                <div class="edit">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form" }))
                    {
                        <div class="input-container">
                            <div class="one">
                                @Html.HiddenFor(m => m.Owner.UserId)
                                @Html.TextBoxFor(m => m.Owner.FirstName, new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_FirstName })
                                <br />
                                @Html.ValidationMessageFor(m => m.Owner.FirstName)
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.Owner.LastName, new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_LastName })
                                <br />
                                @Html.ValidationMessageFor(m => m.Owner.LastName)
                            </div>
                        </div>
                        
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.Owner.AddressLine1, new { @class = @inputClassNameOne, defaultText = UserProfile.UserProfileModel_AddressLine1 })<br />
                                @Html.ValidationMessageFor(m => m.Owner.AddressLine1)
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="left three">
                                @Html.TextBoxFor(m => m.Owner.City, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_City })<br />
                                @Html.ValidationMessageFor(m => m.Owner.City)
                            </div>
                            <div class="left three">
                                @Html.TextBoxFor(m => m.Owner.State, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_State })<br />
                                @Html.ValidationMessageFor(m => m.Owner.State)
                            </div>
                            <div class="left three">
                                @Html.TextBoxFor(m => m.Owner.ZIPCode, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_ZIPCode })<br />
                                @Html.ValidationMessageFor(m => m.Owner.ZIPCode)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.DropDownListFor(m => m.Owner.CountryCode2Letters, (SelectList)ViewBag.Countries, UserProfile.UserProfileModel_Country, new { @class = @selectClassname })<br />
                                @Html.ValidationMessageFor(m => m.Owner.CountryCode2Letters)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.Owner.PhoneNumber, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_PhoneNumber })<br />
                                @Html.ValidationMessageFor(m => m.Owner.PhoneNumber)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <h4>@MyAccount.DirectDeposit</h4>
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.Owner.BankName, new { @class = @inputClassNameThree, defaultText = MyAccount.BankName })<br />
                                @Html.ValidationMessageFor(m => m.Owner.BankName)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.Owner.RoutingNumber, new { @class = @inputClassNameThree, defaultText = MyAccount.ABA })<br />
                                @Html.ValidationMessageFor(m => m.Owner.RoutingNumber)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.Owner.AccountNumber, new { @class = @inputClassNameThree, defaultText = MyAccount.Account })<br />
                                @Html.ValidationMessageFor(m => m.Owner.AccountNumber)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        @Html.HiddenFor(m => m.Owner.Email)
                        @Html.Hidden("Owner_Password", "1111")
                        @Html.Hidden("Owner_ConfirmPassword", "1111")

                        <input type="submit" id="btnSave" value="Save" class="input-submit" />
                    }
                </div>

            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</section>
