﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using ExtranetApp.Extensions;
@model IEnumerable<ExtranetApp.Models.HomeOwner.PlacesModel>

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
}

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.places.css")
}

@section Scripts
{
    @Scripts.Render("~/js/jquery.cycle.all.js")

    <script>
        jQuery(document).ready(function () {
            jQuery('.thumbnail_container').each(function (index, element) {
                jQuery(this).cycle({
                    fx: 'fade',
                    timeout: 2000
                }).cycle("pause");
            });

            //change thumbnails on hover
            jQuery(".image-container").each(function (index, element) {
                jQuery(this).hover(
                    function () {
                        jQuery(this).find(".thumbnail_container").cycle("resume");
                    },
                    function () {
                        jQuery(this).find(".thumbnail_container").cycle("pause");
                    }
                );
            });

            jQuery(".lock-image img[title]").tooltip();
        });

    </script>
}

<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@Places.View_Title</h1>
    </div>
    <div id="main_wrap" class="container">
        @foreach (var item in Model)
        {
            <div class="section-place">
                <div class="image-place">
                    <div class="image-container">
                        <div class="thumbnail_container">
                            @foreach (var thumbnail in item.Thumbnails)
                            {
                                <img src="@thumbnail" />
                            }
                        </div>
                    </div>
                </div>
                <div class="description-place">
                    <h2>@Html.ActionLink(item.Property.PropertyNameCurrentLanguage, "Units", new { id = item.Property.PropertyID })</h2>
                    <div class="lock-image">
                        <img src="/images/small-icons/lock.png" title="@Places.Address_Popup" />
                    </div>
                    <div style="float: left; padding-top: 3px; padding-left: 3px;">
                        <p>@item.Property.Address1</p>
                        <p>@item.Property.State, @item.Property.City @item.Property.ZIPCode</p>
                        <p>@item.Property.DictionaryCountry.CountryNameCurrentLanguage</p>
                    </div>
                </div>
                <div class="links-place">
                    <ul>
                        <li>@Html.ActionLink(Places.Link_Reservations, "ReservationsList", new { id = item.Property.PropertyID })</li>
                        @*<li>@Html.ActionLink(Places.Link_Service, "ServiceProviders", new { id = item.Property.PropertyID })</li>*@
                        <li>@Html.ActionLink(Places.Link_Reviews, "Reviews", new { id = item.Property.PropertyID })</li>
                        <li>@Html.ActionLink(ContentUpdate.contentUpdateRequest, "ContentUpdate", new { propertyId = item.Property.PropertyID })</li>
                    </ul>
                </div>
                <div style="clear: both"></div>
            </div>
        }
    </div>
</section>
