﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;

@model ExtranetApp.Models.HomeOwner.RatesModel

@{
    ViewBag.Title = @HomeOwner.RatesAndAvailability_Title;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
}

@section Styles 
{
    @Styles.Render("~/css/homeowner.index.css")
    @Styles.Render("~/css/homeowner.rates.css")
    @Styles.Render("~/css/Homeowner/homeowner.reservationCalendar.css")
}

@section Scripts
{
    @Scripts.Render("~/js/jquery.scrollto.js")
    @Scripts.Render("~/js/jquery.datetimepicker.js")
    @Scripts.Render("~/js/jquery.multidatespicker.js")
    @Scripts.Render("~/js/Views/homeowner.ratesDatepicker.js")
    @Scripts.Render("~/js/date.js")
    @Scripts.Render("~/js/Views/homeowner.rates.js")

    <script>      
        jQuery(document).ready(function () {
            oth.ratesViewModel.init(
                {
                    unitId: @Model.Unit.UnitID,

                    getUnitBlockingsAction: "@Url.Action("GetUnitBlockings", "Homeowner")",
                    getRatesAction: "@Url.Action("GetRates", "Homeowner")",
                    getMlosAction: "@Url.Action("GetMlos", "Homeowner")",
                    addUnitBlockadeAction: "@Url.Action("AddUnitBlockade", "Homeowner")",
                    getCtaAction: "@Url.Action("GetCta", "Homeowner")",
                    changeRatesAction: "@Url.Action("ChangeRates", "Homeowner")",
                    changeMlosesAction: "@Url.Action("ChangeMloses", "Homeowner")",
                    changeCtasAction: "@Url.Action("ChangeCtas", "Homeowner")",
                    propertyCultureName: '@Model.Property.DictionaryCulture.CultureInfo.Name',

                    resources : {
                        grossDue: "@Rates.GrossDue",
                        transactionFee: "@Rates.TransactionFee",
                        ownerNet: "@Rates.OwnerNet",
                        confirmation: "@Rates.Confirmation",
                        nightsText: "@ExtranetApp.Resources.Home.PropertyDetails.Section_Invoice_NumberOfNights",
                        mlosText: "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityMLOS",
                        pernightText: "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityPerNight",
                        availableText: "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityAvailable",
                        unavailableText: "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityUnvailable",
                        inPastText: "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityPast",
                        available: "@Rates.Available",
                        reservation: "@Rates.Reservation",
                        ownerStay: "@Rates.OwnerStay",
                        applyButton: "@Rates.Apply",
                        cancelButton: "@Rates.Cancel",
                        noArrivalsThisDay: "@Rates.NoArrivalsThisDay",
                        fieldsAreInvalid: "@Rates.FieldsAreInvalid",
                        ratesCannotOverlap: "@Rates.RatesCannotOverlapEachOther",
                        confirmationText: "@Rates.Confirmation:"
                    }
                }
            );
        });
    </script>
}
<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@ViewBag.Title - @Model.Property.PropertyNameCurrentLanguage / @Model.Unit.UnitTitleCurrentLanguage</h1>
    </div>
    <div id="main_wrap" class="container">
        <h4 style="margin-left:7px;">
            @Html.Raw(Rates.Comment)
        </h4>

        <div id="reservation-calendar"></div>
        <div class="rates-legend">
            <div class="legend-title">@Rates.AvailabilityTitle.ToUpper()</div>
            <div class="legend-box available" selection-type="available"><span></span>@Rates.Available</div>
            <div class="legend-box reservation"><span></span>@Rates.Reservations</div>
            <div class="legend-box ownerStay" selection-type="ownerStay"><span></span>@Rates.OwnerStay</div>
        </div>
        <div class="rates-legend">
            <div class="legend-title">@Rates.Restrictions.ToUpper()</div>
            <div class="legend-box cta"><span></span>@Rates.NoArrivals</div>
            <div class="legend-box mlos"><span></span>@Rates.Mlos</div>

            <a href="#" class="edit-rates">@Rates.EditRates</a>
        </div>
    </div>

    <div id="Rates" class="rates-modal-form objects-modal-form">
        <div class="objects-title">
            <h3>@Rates.EditRates</h3>
        </div>
        <div style="clear:both"></div>
        <div class="objects">
            <table>
                <thead>
                    <tr>
                        <th class="date">@Rates.DateFrom</th>
                        <th class="date">@Rates.DateUntil</th>
                        <th class="days">@Rates.DaysOfWeek</th>
                        <th class="price">@Rates.RateNight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="modal-row" object-id="{objectId}">
                    <td class="date">
                        <input type="text" class="date-from date" />
                    </td>
                    <td class="date">
                        <input type="text" class="date-until date" />
                    </td>
                    <td class="days">
                        <input type="checkbox" class="sunday" checked /> @Rates.Sunday
                        <input type="checkbox" class="monday" checked /> @Rates.Monday
                        <input type="checkbox" class="tuesday" checked /> @Rates.Tuesday
                        <input type="checkbox" class="wednesday" checked /> @Rates.Wednesday
                        <input type="checkbox" class="thursday" checked /> @Rates.Thursday
                        <input type="checkbox" class="friday" checked /> @Rates.Friday
                        <input type="checkbox" class="saturday" checked /> @Rates.Saturday
                    </td>
                    <td class="price"><input type="text" class="rate number" /> &nbsp;@Model.PropertyCurrency</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="OwnerStayModal" class="owner-stay-form objects-modal-form">
        <div class="objects-title">
            <h3>@Rates.OwnerStay</h3>           
        </div>
        <div style="clear:both"></div>
        <div class="objects">
            @Rates.OwnerStayCommentInfo<br />
            <textarea name="txtOwnerComment" rows="3" cols="30"></textarea>
        </div>
    </div>

    <div id="Mloses" class="mlos-modal-form objects-modal-form">
        <div class="objects-title">
            <h3>@Rates.EditMlosesFor</h3>
            <select class="year-control">
                @for (var i = DateTime.Now.Year - 20; i < DateTime.Now.Year + 20; i++)
                {
                    <option value="@i" @(i == DateTime.Now.Year ? "selected" : String.Empty)>@i</option>
                }
            </select>
        </div>
        <div style="clear:both"></div>
        <div class="objects">
            <table>
                <thead>
                    <tr>
                        <th class="date">@Rates.DateFrom</th>
                        <th class="date">@Rates.DateUntil</th>
                        <th class="separator"></th>
                        <th class="price">@Rates.Mlos</th>
                        <th>@Rates.DeletePeriod</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <button class="add-period">@Rates.AddPeriod</button>


            <script type="text/x-tmpl"> 
                <tr class="modal-row" object-id="{objectId}">
                    <td class="date">
                        <input type="text" class="date-from date" value="{dateFrom}" />
                    </td>
                    <td class="date">
                        <input type="text" class="date-until date" value="{dateUntil}" />
                    </td>
                    <td class="separator"></td>
                    <td class="price"><input type="text" class="mlos number" value="{mlos}" /></td>
                    <td class="delete"><span>X</span></td>
                </tr>
            </script>
        </div>
    </div>

    <div id="CTAs" class="cta-modal-form objects-modal-form">
        <div class="objects-title">
            <h3>@Rates.EditCTAFor</h3>
            <select class="year-control">
                @for (var i = DateTime.Now.Year - 20; i < DateTime.Now.Year + 20; i++)
                {
                    <option value="@i" @(i == DateTime.Now.Year ? "selected" : String.Empty)>@i</option>
                }
            </select>
        </div>
        <div style="clear:both"></div>
        <div class="objects">
            <table>
                <thead>
                    <tr>
                        <th class="date">@Rates.DateFrom</th>
                        <th class="date">@Rates.DateUntil</th>
                        <th class="days">@Rates.DaysOfWeek</th>
                        <th>@Rates.DeletePeriod</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <button class="add-period">@Rates.AddPeriod</button>


            <script type="text/x-tmpl"> 
                <tr class="modal-row" object-id="{objectId}">
                    <td class="date">
                        <input type="text" class="date-from date" value="{dateFrom}" />
                    </td>
                    <td class="date">
                        <input type="text" class="date-until date" value="{dateUntil}" />
                    </td>
                    <td class="days">
                        @Rates.Sunday <input type="checkbox" class="sunday day-of-week"  {sunChecked} />
                        @Rates.Monday <input type="checkbox" class="monday day-of-week"  {monChecked} />   
                        @Rates.Tuesday <input type="checkbox" class="tuesday day-of-week"  {tueChecked} />   
                        @Rates.Wednesday <input type="checkbox" class="wednesday day-of-week"  {wedChecked} />   
                        @Rates.Thursday <input type="checkbox" class="thursday day-of-week"  {thuChecked} />   
                        @Rates.Friday <input type="checkbox" class="friday day-of-week"  {friChecked} />   
                        @Rates.Saturday <input type="checkbox" class="saturday day-of-week"  {satChecked} />                          
                    </td>
                    <td class="delete"><span>X</span></td>
                </tr>
            </script>
        </div>
    </div>
</section>