﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@model ExtranetApp.Models.HomeOwner.ReservationsModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
}

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.reservationCalendar.css")
}

@section Scripts
{
    @Scripts.Render("~/js/date.js")
    @Scripts.Render("~/js/Views/Homeowner/homeowner.reservationCalendar.js")

    <script>                
        var calendarData = [];

                    @foreach (var item in Model.Reservations)
                    {
                        CultureInfo cInfo = new CultureInfo(item.CultureCode);                        
                <text>
        calendarData.push(
            {
                dateArrival: new Date('@item.CheckIn.ToString("yyyy/MM/dd")').clearTime(),
                dateLeave: new Date('@item.CheckOut.ToString("yyyy/MM/dd")').clearTime(),
                grossAmount: '@item.GrossDue.ToString("c", cInfo)',
                transactionFee: '@item.TransactionFee.ToString("c", cInfo)',
                ownerNet: '@item.OwnerNet.ToString("c", cInfo)',
                confirmation: '@item.ConfirmationId',
                guest: '@(item.User == null ? String.Empty : item.User.FullName)',
                propertyId: @item.PropertyId
                }
                    );
        </text>
                    }

        jQuery(document).ready(function () {
            oth.homeowner_reservationCalendar.init(
                {
                    resources : {
                        GrossDue: "@ReservationList.GrossDue",
                        TransactionFee: "@ReservationList.TransactionFee",
                        OwnerNet: "@ReservationList.OwnerNet",
                        Confirmation: "@ReservationList.Confirmation"
                    }
                }
                );
        });
    </script>
}

<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@HomeOwner.Reservations_Title - @Model.Property.PropertyNameCurrentLanguage / @Model.Unit.UnitTitleCurrentLanguage</h1>
    </div>
    <div id="main_wrap" class="container">
        <div id="reservation-calendar"></div>
        <div id="reservation-legend">

            <div class="legend-box markedDay"><span></span>@ReservationList.CalendarLegend_Reservation</div>
            <div class="legend-box"><span class="rangeSelection"></span>@ReservationList.CalendarLegend_ReservPeriod</div>
            <div class="legend-box markedDayOwner"><span></span>@ReservationList.CalendarLegend_Owner</div>
        </div>
    </div>
</section>
