﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using ExtranetApp.Resources.Home;
@model ExtranetApp.Models.HomeOwner.GuestReviewsModel


@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
}

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.reviews.css")
}

@section Scripts
{
    @Scripts.Render("~/js/Views/Homeowner/homeowner.reviews.js")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            otp.homeowner_reviews.init(
                {
                    PropertyId: @Model.Property.PropertyID
                    }
                );
    });
    </script>
}

<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@Model.Property.PropertyNameCurrentLanguage @Model.GuestReviews.Count() @PropertyDetails.Section_AdditionInformation_Reviews
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= Model.PropertyRating)
                {
                <img src="@Url.Content("~/images/otp/star_full.png")" />
                }
                else
                {
                <img src="@Url.Content("~/images/otp/star_empty.png")" />
                }
            }</h1>
    </div>
    <div id="main_wrap" class="container">


        <div class="widget-section">
            <div class="widget table-like review-sort-container">
                <div class="description-features reviews-title">
                    <div class="widget-title">
                    </div>
                </div>
                <div class="description-features reviews-title">
                    <div class="widget-content review-sort-container">
                        <div id="review-sort-menu">
                            <ul>
                                <li><a href="javascript:void();" id="sortByExpressionReviews">@PropertyDetails.ViewGuestReviews_SortNewest</a>
                                    <ul>
                                        <li><a href="javascript:void();" class="sort_type" data-sort="TimeDesc">@PropertyDetails.ViewGuestReviews_SortNewest</a></li>
                                        <li><a href="javascript:void();" class="sort_type" data-sort="RatingDesc">@PropertyDetails.ViewGuestReviews_SortHighest</a></li>
                                        <li><a href="javascript:void();" class="sort_type" data-sort="RatingAsc">@PropertyDetails.ViewGuestReviews_SortLowest</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="review-list-container">
            @Html.Partial("Partial/GuestReviews_ReviewList", Model.GuestReviews)
        </div>

    </div>
</section>
