﻿@using ExtranetApp.Resources.Views;
@model ExtranetApp.Models.SchedulingMeeting

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

@section Styles {
    @Styles.Render("~/css/homeowner.scheduleMeeting.css")
}

@section Scripts
{
    @Scripts.Render("~/js/Views/homeowner.scripts.js")
    @Scripts.Render("~/js/jquery.datetimepicker.js")
    @Scripts.Render("~/js/jquery.multidatespicker.js")
}

<section class="content-center">

    <div class="container" id="main_wrap">
        <div class="content eleven alpha columns">
            <h4 class="page-title">@HomeOwner.SchedulingMeeting_Thanks</h4>

            @using (Ajax.BeginForm("ScheduleMeeting", "Homeowner", new AjaxOptions() { OnSuccess = "OnScheduleSubmit" }))
            {
                <div class="">
                    <div class="entry-title">
                        <h5>@HomeOwner.SchedulingMeeting_DateRequest</h5>
                    </div>
                </div>
                <br />
                <br />
                <br /> 
                
                <div class="left">
                    <p>
                        @HomeOwner.SchedulingMeeting_Days
                    </p>
                    <div>
                        <div>
                            <div id="DatesCtrl"></div>
                        </div>
                    </div>
                    <div id="vsScheduleMeeting"></div>
                    @Html.HiddenFor(m => m.Dates)
                    @Html.ValidationMessageFor(m => m.Dates)
                </div>
                <div class="left">
                    <p>
                        @HomeOwner.SchedulingMeeting_Time
                    </p>
                    <p>
                        @HomeOwner.SchedulingMeeting_Time_Between
                    </p>
                    @Html.TextBoxFor(m => m.DateFrom)
                    @Html.ValidationMessageFor(m => m.DateFrom)
                    <p>
                        @HomeOwner.SchedulingMeeting_Time_And
                    </p>
                    @Html.TextBoxFor(m => m.DateTo)
                    @Html.ValidationMessageFor(m => m.DateTo)
                </div>             
                <div class="clear">&nbsp;</div>             
                <div class="left">
                    &nbsp;
                </div>
                <div class="left" style="text-align:right;width:297px;">
                    <input type="submit" class="input-submit" value="@HomeOwner.SchedulingMeeting_Button_Submit" />
                </div>
                
            }
        </div>
    </div>
</section>
