﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using Common.Extensions;

@model ExtranetApp.Models.HomeOwner.TransactionModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml";
}

@section Styles 
{
    @Styles.Render("~/css/Homeowner/homeowner.reservationList.css")
}
<section class="content-center">

    <div id="homeowner_page_title" class="container">
        <h1 class="page-title">@Transactions.View_Title</h1>
    </div>
    <div id="main_wrap" class="container">
        <table id="reservations">
            <thead>                
                <tr>
                    <th>@ReservationList.Confirmation</th>
                    <th>@ReservationList.Booked</th>
                    <th>@ReservationList.CheckIn</th>
                    <th>@ReservationList.CheckOut</th>
                    <th>@ReservationList.Guest</th>
                    <th>@ReservationList.GrossDue</th>
                    <th>@ReservationList.TransactionFee</th>
                    <th>@ReservationList.OwnerNet</th>
                    <th>@ReservationList.Taxes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ReservationsList.Count(); i++)
                {
                    var item = Model.ReservationsList.ElementAt(i);
                    string stripeClass = "";
                    CultureInfo cInfo = new CultureInfo(item.CultureCode);

                    if (i % 2 != 0 && i != 0)
                    {
                        stripeClass = "alternateRow";
                    }
                    <tr class="@stripeClass">
                        <td>@item.ConfirmationId</td>
                        <td style="text-align: center">@item.Booked.ToLocalizedDateString()</td>
                        <td style="text-align: center">@item.CheckIn.ToLocalizedDateString()</td>
                        <td style="text-align: center">@item.CheckOut.ToLocalizedDateString()</td>
                        <td>@item.User.FullName</td>
                        <td style="text-align: right">@item.GrossDue.ToString("c", cInfo)</td>
                        <td style="text-align: right">@item.TransactionFee.ToString("c", cInfo)</td>
                        <td style="text-align: right">@item.OwnerNet.ToString("c", cInfo)</td>
                        <td style="text-align: right">@item.TaxValue.ToString("c", cInfo)</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>
