﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Homeowner;
@using System.Globalization;
@using Common.Extensions;
@using DataAccess.Enums;

@model IEnumerable<DataAccess.CustomObjects.KeyManagementData>

@for (int i = 0; i < Model.Count(); i++)
{
    DataAccess.CustomObjects.KeyManagementData item = Model.ElementAt(i);
    string stripeClass = "";

    if (i % 2 != 0 && i != 0)
    {
        stripeClass = "alternateRow";
    }
    <tr class="@stripeClass">
        <td>@item.Property.PropertyNameCurrentLanguage</td>
        <td>@item.Unit.UnitTitleCurrentLanguage</td>
        <td>@item.Guest.Lastname</td>
        <td>@item.Reservation.ConfirmationID</td>
        <td>@item.Reservation.DateArrival.ToLocalizedDateString()</td>
        <td>
            @if (item.Reservation.EstimatedArrivalTime.HasValue)
            { 
                @(((ArrivalTimeRange)@item.Reservation.EstimatedArrivalTime.Value).GetTextRepresentation())                                
            }
        </td>
        <td>@item.Reservation.DateDeparture.ToLocalizedDateString()</td>
        <td style="width: 70px">
            @if (item.Reservation.GuestConfirmedKeyDropOff.HasValue && item.Reservation.GuestConfirmedKeyDropOff.Value == true)
            { 
                @KeyManagement.GuestConfirmKeyDrop
            }
        </td>
        <td>
            @if (item.Property.KeyProcessType == (int)KeyProcessType.KeyHandler)
            {
                if (item.Reservation.KeysDeliveredToGuestDateTime.HasValue)
                {
                @item.Reservation.KeysDeliveredToGuestDateTime.Value
                }
                else
                {
                    using (Ajax.BeginForm("KeyManagementSetKeysDeliveredToGuest", new AjaxOptions { UpdateTargetId = "keysDelivered_" + @i }))
                    {
                @Html.AntiForgeryToken()
                @Html.Hidden("reservationId", item.Reservation.ReservationID)                                
                <div id="keysDelivered_@i">
                    <input type="submit" class="input-submit" value="Confirm" />
                </div>
                    }
                }
            }
        </td>
        <td>
            @if (item.Property.KeyProcessType == (int)KeyProcessType.KeyHandler)
            {
                if (item.Reservation.KeysReceivedFromGuestDateTime.HasValue)
                {
                @item.Reservation.KeysReceivedFromGuestDateTime.Value
                }
                else
                {
                    using (Ajax.BeginForm("KeyManagementSetKeysRecievedFromGuest", new AjaxOptions { UpdateTargetId = "keysRecived_" + @i }))
                    {
                @Html.AntiForgeryToken()
                @Html.Hidden("reservationId", item.Reservation.ReservationID)                                
                <div id="keysRecived_@i">
                    <input type="submit" class="input-submit" value="Confirm" />
                </div>
                    }
                }
            }
        </td>
    </tr>
}