﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@model ExtranetApp.Models.Account.ChangePasswordModel


@{
    ViewBag.Title = Shared.PageTitle;
}

@section Scripts
{
    @Scripts.Render("~/js/Views/account.changePassword.js")    


    <script type="text/javascript">
        $(document).ready(function () {
            oth.changePasswordViewModel.init({
                resources: {
                    info: "@Shared.Info_Message"
                }
            });        
        });
    </script>

    @if(ViewBag.ShouldChangePassword)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                oth.changePasswordViewModel.showInfoDialog("@Account.ChangePassword_TempPassword");
            });
        </script>
    }
}

<section class="content-center">
    <div id="changepassword_page_title" class="container">
        <h1 class="page-title">Change Password</h1>
    </div>

    <div id="main_wrap" class="container" style="margin-top: 227px;">
        <div id="changepassword_form">
        @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { OnSuccess = "oth.changePasswordViewModel.onPasswordChangeRequestComplete" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            @Account.ChangePassword_Message

            <div id="info-box" style="display:none;"></div>
            
            <fieldset>
                <ul>
                    <li>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @Value = ViewBag.Email, @class = "input-textarea", defaultText = @ChangePassword.ChangePasswordModel_Email })
                        @Html.ValidationMessageFor(m => m.Email)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.CurrentPassword)
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "input-textarea", defaultText = @ChangePassword.ChangePasswordModel_CurrentPassword })
                        @Html.ValidationMessageFor(m => m.CurrentPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "input-textarea", defaultText = @ChangePassword.ChangePasswordModel_NewPassword })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmNewPassword)
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "input-textarea", defaultText = @ChangePassword.ChangePasswordModel_ConfirmNewPassword })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </li>
                </ul>
            </fieldset>
            
            <input type="submit" id="btnLogin" class="input-submit" value="@Account.ChangePassword_Change" />            
        }
        </div>

        <div id="forgotpassword_success_form" style="display:none;">
            <span class="message"></span>

            @Html.ActionLink(Account.ForgotPassword_Link_GoBack, "Index", "Home")
        </div>
    </div>

</section>
