﻿@using ExtranetApp.Resources.Account;
@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@section Styles 
{
    @Styles.Render("~/css/homeowner.listYourHome.css")
}


<style type="text/css">
    .navigation {
        margin-left: 10px;
        margin-top: 10px;
        text-align: left;
        vertical-align: middle;
        width: 100%;
    }

    .full {
        width: 70%;
    }
</style>

<section class="content-center">

    <div class="container" id="main_wrap">
        <div class="content alpha columns">
            <h3>@ErrorLogin.ErrorLogin_Description</h3>
            <button onclick="window.location.href='@Url.Action("Index", "Home")' " class="input-submit" style="width:250px!important">@HomeOwner.JoinConfirmation_Button_Back</button>
        </div>
    </div>
</section>
