﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@model ExtranetApp.Models.Account.ForgotPasswordModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

@section Scripts
{
    @Scripts.Render("~/js/Views/account.forgotPassword.js")   
    
    <script type="text/javascript">
        jQuery(document).ready(function () {
            oth.forgotPasswordViewModel.init({
                resources: {
                    info: "@Shared.Info_Message"
                }
            });
        });
    </script>
}

<section class="content-center">
    <div id="forgotpassword_page_title" class="container">
        <h1 class="page-title">@Account.ForgotPassword_Title</h1>
    </div>

    <div id="main_wrap" class="container" style="margin-top: 227px;">
        <div id="forgotpassword_form">
        @using (Ajax.BeginForm("SendNewPassword", "Account", new AjaxOptions { OnSuccess = "oth.forgotPasswordViewModel.onPasswordResetRequestComplete" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.Hidden("workingMode", (ExtranetApp.Models.ViewWorkingMode)ViewBag.WorkMode)   
            
            @Account.ForgotPassword_Message

            <div id="info-box" style="display:none;"></div>
            
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "input-textarea", defaultText = @ForgotPassword.ForgotPasswordModel_Email })
                @Html.ValidationMessageFor(m => m.Email)
            </div>                     
            
            if (ViewBag.WorkMode == ExtranetApp.Models.ViewWorkingMode.BookingWizard)
            {
                <input type="button" id="btnBackToWizard" class="input-submit" value="@Account.ForgotPassword_Wizard_Back" />                    
            }            
            <input type="submit" id="btnLogin" class="input-submit" value="@Account.ForgotPassword_SendNewPassword" />                        
        }
        </div>
    </div>

</section>
