﻿@using ExtranetApp.Resources.Models;
@using ExtranetApp.Resources.Views;

@model ExtranetApp.Models.Account.JoinModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainOTP.cshtml"; 
}

@section Scripts
{
    @Scripts.Render("~/js/Views/join.js")
}

<section class="content-center">

		<div class="container" id="main_wrap">
			<h1 class="page-title">@Join.JoinModel_Title</h1>

			<div class="content eight alpha columns">


				<div class="full">
				</div>	

				<div class="full column_container">
						
					<div class="contact_form">
		    
						<form class="contactform" method="post">
					            
							<input type="text" id="bname" value="@Join.JoinModel_Input_Name" class="input-textarea" name="name" onblur="if(this.value=='')this.value='@Join.JoinModel_Input_Name';" onfocus="if(this.value=='@Join.JoinModel_Input_Name')this.value='';">
						              
						    <input type="text" id="bemail" value="@Join.JoinModel_Input_Email" class="input-textarea" name="email" onblur="if(this.value=='')this.value='@Join.JoinModel_Input_Email';" onfocus="if(this.value=='@Join.JoinModel_Input_Email')this.value='';">
						              
						    <input type="submit" class="input-submit" value="@Join.JoinModel_Button_Submit" name="Submit">
									
							<span class="alignright required">@Join.JoinModel_FieldRequired</span>

						</form>
					              
					</div>								
				</div>
					
			</div>
			
		</div>	

	</section>