﻿@using ExtranetApp.Resources.Models;
@using ExtranetApp.Resources.Views;

@model ExtranetApp.Models.Account.LoginModel

@{
    ViewBag.Title = Shared.PageTitle;
}

<hgroup class="title">
    <h1>@Login.LoginModel_Title</h1>
</hgroup>

<section id="loginForm">
<h2>@Login.LoginModel_Header</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Login.LoginModel_Form_Title</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>
        <input type="submit" value="@Login.LoginModel_Button_Submit" />
    </fieldset>
    <p>
        @Html.ActionLink(Login.LoginModel_Link_ForgotPassword, "ForgotPassword", "Acount")
    </p>
    <p>
        @Html.ActionLink(Login.LoginModel_Link_Join, "Join", "Account")
    </p>
}
</section>