﻿@using ExtranetApp.Resources.Home
@using Common.Extensions;

@model ExtranetApp.Models.SearchFilterModel

<header id="banner" class="body">
    @Html.HiddenFor(m => Model.Location.ID)
    <nav>
        <ul>            
            <li id="nv-distance" style="display: none">
                <a href="javascript:void();" id="distanceLink">30 km</a>
                <span>from 47.6742° N, 122.1203° W</span>
            </li>
            <li id="nv-destination"><a href="javascript:void();" id="destinationLink">@if (Model.Location != null)
                                                                                      { <text>@Model.Location.Value</text>}</a>
                <span>Where ?</span>
                @Html.Partial("Partial/Destinations", Model.Destinations)
            </li>
            <li id="nv-calendar-from">@if (@Model.DateFrom.HasValue)
                                      { <a href="javascript:void();" id="dateFromLink">@Model.DateFrom.Value.ToLocalizedDateString()</a> }
                                      else
                                      { <a href="javascript:void();" id="dateFromLink">@Index.SearchBar_DateFrom</a> }
                <span>@Index.SearchBar_ChooseLabel</span>
                <div>
                    <div>
                        <div id="datepickerFrom"></div>
                    </div>
                </div>
            </li>
            <li id="nv-calendar-to">@if (@Model.DateTo.HasValue)
                                    { <a href="javascript:void();" id="dateToLink">@Model.DateTo.Value.ToLocalizedDateString()</a> }
                                    else
                                    { <a href="javascript:void();" id="dateToLink">@Index.SearchBar_DateTo</a> }
                <span>@Index.SearchBar_ChooseLabel</span>
                <div>
                    <div>
                        <div id="datepickerTo"></div>
                    </div>
                </div>
            </li>
            <li id="nv-refine">
                <a href="javascript:void();" id="refineSearchLink">
                    <div class="scroller">
                        <div class="scrollingtext">
                            @Index.SearchBar_RefineSearch
                        </div>
                    </div>
                </a>
                <span style="margin-top: -5px;">@Index.SearchBar_RefineChooseMore</span>
                <ul>
                    <li><a href="javascript:void();">
                        <input type="text" id="guestsCount" style="width: 30px;" value="@Model.Guests" />
                        Guests
                        <input type="button" value="@Index.SearchOk" class="refineSearchOkButton" /></a></li>
                    <li><a href="javascript:void();">
                        <input type="text" id="bedroomsCount" style="width: 30px;" value="@Model.Bedrooms" />
                        Bedrooms
                        <input type="button" value="@Index.SearchOk" class="refineSearchOkButton" /></a></li>
                    <li><a href="javascript:void();">
                        <input type="text" id="bathroomsCount" style="width: 30px;" value="@Model.Bathrooms" />
                        Bathrooms
                        <input type="button" value="@Index.SearchOk" class="refineSearchOkButton" /></a></li>
                    <li><a href="javascript:void();">@Index.SearchBar_PropertyTypes</a>
                        @Html.Partial("Partial/PropertyTypes", Model.PropertyTypes)
                    </li>
                    <li><a href="javascript:void();">@Index.SearchBar_Amenities</a>
                        @Html.Partial("Partial/Amenities", Model.Amenities)
                    </li>
                    <li><a href="javascript:void();">@Index.SearchBar_Experience</a>
                        @Html.Partial("Partial/Experiences", Model.Experiences)
                    </li>
                </ul>
            </li>
            <li id="nv-return-search" style="display: none">
                <a href="javascript:void();">@Index.SearchBar_Return</a>
                <span>@Index.SearchBar_Return_toProperty</span>
            </li>
            <li id="nv-sort-menu"><a href="javascript:void();" id="sortByExpression">@Index.SearchBar_Sort</a>
                <span>@Index.SearchBar_ChooseLabel</span>
                <ul>
                    <li><a href="javascript:void();" class="sort_type" data-sort="PriceDesc">@Index.SearchBar_Sort_Price_High</a></li>
                    <li><a href="javascript:void();" class="sort_type" data-sort="PriceAsc">@Index.SearchBar_Sort_Price_Low</a></li>
                    <li><a href="javascript:void();" class="sort_type" data-sort="SleepDesc">@Index.SearchBar_Sort_Sleep_Most</a></li>
                    <li><a href="javascript:void();" class="sort_type" data-sort="SleepAsc">@Index.SearchBar_Sort_Sleep_Least</a></li>
                    <li><a href="javascript:void();" class="sort_type" data-sort="RatingDesc">@Index.SearchBar_Sort_Star</a></li>
                </ul>
            </li>
            @if ((ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString() != "Home") || (ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.ParentActionViewContext.RouteData.Values["action"].ToString() != "Index"))
            {
                <li class="nv-change-view" id="nav-view-home">@Html.ActionLink(Index.SearchBar_Slideshow, "Index", "Home", null, new { @class = "changeViewLink" })</li>
            }
            @if ((ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString() != "Home") || (ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.ParentActionViewContext.RouteData.Values["action"].ToString() != "ListView"))
            {
                <li class="nv-change-view" id="nav-view-list">@Html.ActionLink(Index.SearchBar_ListView, "ListView", "Home", null, new { @class = "changeViewLink" })</li>
            }
            @if ((ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString() != "Home") || (ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.ParentActionViewContext.RouteData.Values["action"].ToString() != "MapView"))
            {
                <li class="nv-change-view" id="nav-view-map">@Html.ActionLink(Index.SearchBar_MapView, "MapView", "Home", null, new { @class = "changeViewLink" })</li>
            }
        </ul>
        <ul class="logo_element">
            <li class="logo">
                <a href="/" class="goToHomeLink">
                    <img src="data:image/png;base64,@Common.ResourceHelper.ToBase64("Logo11060")" alt="Logo" id="img-logo" />
                </a>
            </li>
        </ul>
        @Html.Partial("Partial/AudioPlayer")
    </nav>
</header>
