﻿@model ExtranetApp.Models.SearchFilterModel
@using ExtranetApp.Resources.Home
@using Common.Extensions

@*@Scripts.Render("~/js/slimScroll.min.js")*@

@Html.HiddenFor(m=>Model.Location.ID)   

 <header id="banner" class="body">     
     <div id="logo">
            <a href="/" class="goToHomeLink">
                <img src="data:image/png;base64,@Common.ResourceHelper.ToBase64("Logo11060")" alt="Logo" id="img-logo" />
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="javascript:void();" id="destinationLink">@if (Model.Location != null)
                                                                      { <text>@Model.Location.Value</text>}</a>                    
                    <span>Where ?</span>
                    @Html.Partial("Partial/Destinations", Model.Destinations)
                </li>
                <li>@if (@Model.DateFrom.HasValue)
                    { <a href="javascript:void();" id="dateFromLink">@Model.DateFrom.Value.ToLocalizedDateString()</a> }
                    else
                    { <a href="javascript:void();" id="dateFromLink">@Index.SearchBar_DateFrom</a> }
                    <span>@Index.SearchBar_ChooseLabel</span>
                    <div>
                        <div>
                            <div id="datepickerFrom"></div>
                        </div>
                    </div>
                </li>
                <li>@if (@Model.DateTo.HasValue)
                    { <a href="javascript:void();" id="dateToLink">@Model.DateTo.Value.ToLocalizedDateString()</a> }
                    else
                    { <a href="javascript:void();" id="dateToLink">@Index.SearchBar_DateTo</a> }
                    <span>@Index.SearchBar_ChooseLabel</span>
                    <div>
                        <div>
                            <div id="datepickerTo"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void();" id="refineSearchLink">
                        <div class="scroller">
                            <div class="scrollingtext">
                                 @Index.SearchBar_RefineSearch
                            </div>
                        </div>
                    </a>
                    <span style="margin-top:-5px;">@Index.SearchBar_RefineChooseMore</span>
                    <ul>
                        <li><a href="javascript:void();">
                            <input type="text" id="guestsCount" style="width: 30px;" value="@Model.Guests" />
                            Guests <input type="button" value="@Index.SearchOk" class="refineSearchOkButton" /></a></li>
                        <li><a href="javascript:void();">
                            <input type="text" id="bedroomsCount" style="width: 30px;" value="@Model.Bedrooms" />
                            Bedrooms <input type="button" value="@Index.SearchOk" class="refineSearchOkButton" /></a></li>
                        <li><a href="javascript:void();">
                            <input type="text" id="bathroomsCount" style="width: 30px;" value="@Model.Bathrooms" />
                            Bathrooms <input type="button" value="@Index.SearchOk" class="refineSearchOkButton" /></a></li>
                        <li><a href="javascript:void();">@Index.SearchBar_PropertyTypes</a>
                            @Html.Partial("Partial/PropertyTypes", Model.PropertyTypes)
                        </li>
                        <li><a href="javascript:void();">@Index.SearchBar_Amenities</a>
                            @Html.Partial("Partial/Amenities", Model.Amenities)
                        </li>
                        <li><a href="javascript:void();">@Index.SearchBar_Experience</a>
                            @Html.Partial("Partial/Experiences", Model.Experiences)
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:void();" id="selectViewType">@Index.SearchBar_SelectView</a>
                    <span>Choose</span>
                    <ul>
                        <li>@Html.ActionLink(Index.SearchBar_ListView, "ListView", "Home", null, new { @class = "changeViewLink" })</li>
                        <li>@Html.ActionLink(Index.SearchBar_MapView, "MapView", "Home", null, new { @class = "changeViewLink" })</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>