﻿<%@ Page Title="Intranet Application" Language="C#" MasterPageFile="~/MainLogged.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="IntranetApp._Default" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">  
</asp:Content>
