﻿

/***------ @RESET AND BASE STYLES------***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
a img {
    border: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
html {
    background: #fff;
    height: 100%;
}

body {
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    background: #999;
    color: #fff;
    height: 100%;
}

div#page-wrapper {
    width: 100%;  
    background-image: url("../Images/beach.jpg");
    background-position: center center;
    background-size: cover;
}

div#content-wrapper {
    /*position: absolute;*/
    margin-left: 30px;
    top: 30%;
    /*margin-top: -180px;*/
    background-color: rgba(0,0,0,0.8);
    width: 420px;
}

div#logo {
    padding: 20px 0px;
    width: 100%;
}

div#logo img {
    margin: auto;
    display: block;
}

div#submit-block {
    height: auto;
    padding: 20px;
}
/* Border */
#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
	z-index: 999;
}

#left, #right {
	top: 0; bottom: 0;
	width: 20px;
}
#left { left: 0; }
#right { right: 0; }
#bottom ,#top{
	left: 0; right: 0;
	height: 20px;
}

#top { top: 0; }

#bottom { bottom: 0; }
hr {
    height: 1px;
    background-color: #555;
    border: 0px;
}

h1 {
    font-weight: 100;
    font-size: 48px;
    line-height: 50px;
    text-shadow: #aaa 1px 1px 1px;
    padding-bottom: 10px;
}
h2 {
    font-size: 28px;
    text-shadow: #aaa 1px 1px 1px;
    padding-bottom: 10px;
}

p {
    text-shadow: #aaa 1px 1px 1px;
    line-height: 22px;
    font-size: 18px;
}

input.btn 
{
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight: 500;
    text-shadow: #aaa 2px 1px 1px; 
    background-color: #214f74;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    margin-top: 10px;
}
input[type=text] {
    width: 370px;
    margin-top: 10px;
    background-image: url("../Images/input_bg.png");
    background-repeat: repeat-x;      
    background-position:bottom;
    border: none;
    padding: 5px;
    color: #868686;
}

#message-block {
    position: absolute;
    width: 200px;
    top: 120px;
    background-color: #666;
    padding: 70px 30px 70px 30px;
    background-color: rgba(0,0,0,0.90);
    left: 50%;
    margin-left: -130px;
    border: none;
    
}

#message-block:hover{
    -webkit-box-shadow: 0px 0px 10px #555;
    -moz-box-shadow: 0px 0px 10px #555;
    box-shadow: 0px 0px 10px #555;
}

#message-block p {
    font-weight: 100;
	color: #fff;
	text-shadow: #aaa 1px 1px 1px;
    line-height: 22px;
    font-size: 18px;
}

#message-block:hover p {
    
	font-weight: 100;
	color: #eee;
	text-shadow: #aaa 1px 1px 1px;
    line-height: 22px;
    font-size: 18px;
}

@media only screen and (min-height: 620px) {
    #page-wrapper {
        height: 100%;
        position: relative;
    }

    div#content-wrapper {
        position: relative;
        top: 4%;
    }
}


@media only screen and (min-width: 767px) {
    div#logo {
        padding: 25px 0 10px;
    }

    
    div#submit-block {
        height: auto;
        padding: 20px;
    }
}

@media only screen and (max-width: 767px) {
    div#content-wrapper {
        width: 320px;
        margin-left: 20px;
    }
    #logo img {
        width: 220px;
    }


    input[type="text"] {

        width: 270px;
    }

    #left, #top, #right, #bottom {
        display: none;
    }

    div#submit-block {
        /*height: 100%;*/
    }


}

@media only screen and (min-height: 540px) and (max-width: 767px) {
    #page-wrapper {
        height: 100%;
    }
}

@media only screen and (max-width: 540px) {
    #page-wrapper {
        background-attachment: fixed;
    }
    div#content-wrapper {
        width: 270px;
        margin-left: 0px;
    }
    #logo img {
        width: 210px;
    }

    input[type="text"] {
        width: 95%;
    }

    #left, #top, #right, #bottom {
        display: none;
    }

}
@media only screen and (min-height: 540px) and (max-width: 540px) {
    #page-wrapper {
        height: 100%;
    }

    /*div#content-wrapper {
        height: 100%;
    }*/
}


@media only screen and (max-width: 370px) {
    #page-wrapper {
        background-attachment: fixed;
        height: 100%;
    }
    div#content-wrapper {
        width: 100%;
        margin-left: 0px;
    }
    div#submit-block {
        height: 100%;
        padding: 15px;
    }

    p {
       font-size: 16px;
    }

    h2 {
        font-size: 23px;
    }

}

 @media only screen and (min-height: 520px) and (max-width: 370px) {
        #page-wrapper {
            height: 100%;
        }
    }
/*
h1, h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    color: #555555;
    text-shadow: 0 -1px 0 #eee;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
}

p {
	font-size: 20px;
	font-weight: 600;
	color: #777;
	text-shadow: 0 -1px 0 #eee;
}
strong {
    font-weight: bold;
}

div#page-wrapper form {
    margin: 30px;
}


.signin{
    margin: auto;
    margin-top: 40px;
    height: 130px;
    width: 500px;
    background-color: #666;
    padding: 10px 20px 10px 20px;
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef, #ddd);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#ddd));
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 6px #aaa, inset 0 0 0 1px #ccc;
    -moz-box-shadow: 0px 0px 6px #aaa, inset 0 0 0 1px #ccc;
    box-shadow: 0px 0px 6px #aaa, inset 0 0 0 1px #ccc;
    -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
    border-radius: 11px;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.signin:hover{
    -webkit-box-shadow: 0px 0px 46px #888, inset 0 0 0 1px #ccc;
    -moz-box-shadow: 0px 0px 46px #888, inset 0 0 0 1px #ccc;
    box-shadow: 0px 0px 46px #888, inset 0 0 0 1px #ccc;
}

.signup-form input[type=text]
{
    width: 300px;
    background: #eee;
    -moz-box-shadow: 0 -1px 0 #bbbbbb, 0 0 0 1px #ccc, inset 0 0 1px #fff;
    -webkit-box-shadow: 0 -1px 0 #bbbbbb, 0 0 0 1px #ccc, inset 0 0 1px #fff;
    box-shadow: 0 -1px 0 #bbbbbb, 0 0 0 1px #ccc, inset 0 0 1px #fff;
    outline: none;
    border: 1px solid #ededed;
    color: #9b9b9b;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 18px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus{
    color: #373737;
    -webkit-box-shadow: 0px 0px 7px #ccc;
    -moz-box-shadow: 0px 0px 7px #ccc;
    box-shadow: 0px 0px 7px #555;
    outline: none;
}
input[type=submit] {
    background: #1a1a1a;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: inset 0 0 1px #cccccc;
    -webkit-box-shadow: inset 0 0 1px #cccccc;
    box-shadow:  inset 0 0 1px #cccccc;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: 400;
    color: #e6e6e6;
    padding: 1px 15px;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transition: all .2s ease;
    height: 30px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
input[type=submit], .btn{
    border: 1px solid #008fd3;
    border-left: 1px solid #00a9f3;
    border-right: 1px solid #4cd4ff;
    border-top: 1px solid #2ec4ff;
    display: inline;
    background-color: #0080c7;
    background: -moz-linear-gradient(top, #0092d9, #006ab0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0092d9), to(#006ab0));
    -webkit-box-shadow: 0px 0px 0px 1px #004372, 0 1px 1px 1px #777;
    -moz-box-shadow: 0px 0px 0px 1px #004372, 0 1px 1px 1px #777;
    box-shadow: 0px 0px 0px 1px #004372, 0 1px 1px 1px #777;
    height: 30px;
    font-size: 13px;
    padding: 0 15px;
    margin: 15px 8px 15px 2px;
    color: #e5f4ff;
    text-shadow: 0 -1px 0 #005a94;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    font-weight: 600;
}
input[type=submit]:hover, .btn:hover{
    background-color: #007acb;
    background: -moz-linear-gradient(top, #00acff, #007acb);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00acff), to(#007acb));
    border: 1px solid #1f99d3;
    border-left: 1px solid #1db2f3;
    border-right: 1px solid #70ddff;
    border-top: 1px solid #59d0ff;
    color: #fff;
}
input[type=submit]:active, .btn:active{
    background-color: #006ab0;
    background: -moz-linear-gradient(top, #006ab0, #006ab0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#006ab0), to(#006ab0));
    -webkit-box-shadow: 0px 0px 0px 1px #ccc, inset 0 1px 1px 1px #003b61;
    -moz-box-shadow: 0px 0px 0px 1px #ccc, inset 0 1px 1px 1px #003b61;
    box-shadow: 0px 0px 0px 1px #ccc, inset 0 1px 1px 1px #003b61;
    border: 1px solid #0068a3;
    text-shadow: 0 1px 0 #005a94;
}

.required {
    color: #adadad;
}
*/