﻿@using ExtranetApp.Resources.Home;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel


@Html.Partial("Partial/PropertyDetails_WrongPeriodPopUp", Model)

<script>

    var nightsText = null;
    var mlosText = null;
    var pernightText = null;
    var availableText = null;
    var unavailableText = null;
    var inPastText = null;
    var ctaText = null;
    var propertyCultureName = null;

    function loadResources() {
        nightsText = "@PropertyDetails.Section_Invoice_NumberOfNights";
        mlosText = "@PropertyDetails.Section_AvailabilityMLOS";
        pernightText = "@PropertyDetails.Section_AvailabilityPerNight";
        availableText = "@PropertyDetails.Section_AvailabilityAvailable";
        unavailableText = "@PropertyDetails.Section_AvailabilityUnvailable";
        inPastText = "@PropertyDetails.Section_AvailabilityPast";
        ctaText = "@PropertyDetails.Section_AvailabilityCTA";
        selectionText = "@PropertyDetails.Section_AvailabilitySelection";
        propertyCultureName = '@Model.Property.DictionaryCulture.CultureInfo.Name';
    }
</script>

<div class="widget-section">
    <div class="widget">
        <div class="widget-title">
            <h2>@PropertyDetails.ViewAvailability_Title</h2>
        </div>
    </div>
</div>

<div class="widget-section" style="margin-top: 0px;">
    <div class="widget">
        <div id="availabilityDate"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div style="clear: both"></div>

<div class="widget-section" id="navigation-section">
        <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p> 
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Amenities, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToAmenities" })                   
                </p>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_StreetView, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToStreetView" })
                </p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>