﻿@using ExtranetApp.Resources.Home;
@using ExtranetApp.Extensions;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

@helper ImageFor(int icon)
{
    ((DataAccess.Enums.AmenityIcon)icon).ToString();
}

@{
    int sectionRowCount = Model.Amenities.Count();
    sectionRowCount =( sectionRowCount + (sectionRowCount % 2) ) / 2;    
}

<div class="widget-section">
    <div class="widget">
        <div class="widget-title">
            <h2>@PropertyDetails.Section_Amenities_Title</h2>
        </div>
    </div>
</div>

@for (int i = 0; i < sectionRowCount; i++)
{
    <div class="widget-section">
    <div class="widget table-like">
        
        <div class="description-features">
                <div class="widget-content">
                    <p>
                        @Html.GetĄmenityIcon(@Model.Amenities.ElementAt(i * 2).Icon, "amenity icon")
                        @Model.Amenities.ElementAt(i * 2).AmenityGroupName
                    </p>
                    <ul class="list-widget-description">
                        @foreach (var item in @Model.Amenities.ElementAt(i * 2).Amenities)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </div>

        @if(Model.Amenities.Count() > (i * 2) + 1)
        {
            <div class="description-features second">
                <div class="widget-content">
                    <p>
                        @Html.GetĄmenityIcon(@Model.Amenities.ElementAt(i * 2 + 1).Icon, "amenity icon")
                        @Model.Amenities.ElementAt(i * 2+1).AmenityGroupName
                    </p>
                    <ul class="list-widget-description">
                        @foreach (var item in @Model.Amenities.ElementAt(i * 2 + 1).Amenities)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </div>
        }

        <div style="clear: both"></div>
    </div>
</div>
}

<div class="widget-section" id="navigation-section">
        <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p> 
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Tour, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToTour" })                   
                </p>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Availability, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToAvailability" })
                </p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
