﻿@using ExtranetApp.Resources.Home;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

<div class="widget-section">
    <div class="widget table-like review-sort-container">
        <div class="description-features reviews-title">
            <div class="widget-title">
                <h2>@Model.GuestReviews.Count() @PropertyDetails.Section_AdditionInformation_Reviews
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= Model.PropertyRating)
                        {
                        <img src="@Url.Content("~/images/otp/star_full.png")" />
                        }
                        else
                        {
                        <img src="@Url.Content("~/images/otp/star_empty.png")" />
                        }
                    }</h2>
            </div>
        </div>
        <div class="description-features reviews-title">
            <div class="widget-content review-sort-container">
                <div id="review-sort-menu">
                    <ul>
                        <li><a href="javascript:void();" id="sortByExpressionReviews">@PropertyDetails.ViewGuestReviews_SortNewest</a>
                            <ul>
                                <li><a href="javascript:void();" class="sort_type" data-sort="TimeDesc">@PropertyDetails.ViewGuestReviews_SortNewest</a></li>
                                <li><a href="javascript:void();" class="sort_type" data-sort="RatingDesc">@PropertyDetails.ViewGuestReviews_SortHighest</a></li>
                                <li><a href="javascript:void();" class="sort_type" data-sort="RatingAsc">@PropertyDetails.ViewGuestReviews_SortLowest</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="review-list-container">
    @Html.Partial("Partial/GuestReviews_ReviewList", Model.GuestReviews)
</div>

<div class="widget-section" id="navigation-section">
    <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_StreetView, "PropertyDetails", null, new { @class = "navigationLink", data_link = "linkGoToStreetView" })
                </p>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    @if (Model.Property.PropertyLive)
                    { 
                        <input class="input-submit btnBookProperty" type="submit" style="width:100px !important" value="@PropertyDetails.NavigationButtonBook" />
                    }
                </p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
