﻿@using ExtranetApp.Resources.Home;
@model DataAccess.CustomObjects.PropertyDetailsInvoice

<div class="widget">

    <div style="clear: both"></div>
    <div class="widget-subtitle">
        <div class="widget-row collapse-section-trigger" data-section="widget-invoice-accomodation">
            <div>
                <h4>
                    @PropertyDetails.Section_Invoice_Accomodation
                    <span class="ui-icon ui-icon-triangle-1-e"></span>
                </h4>
            </div>
            <div class="section-title-overall-value">
                <h4>
                    @Model.TotalAccomodation.ToString("c", Model.Culture)
                </h4>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div style="clear: both"></div>

    <div id="widget-invoice-accomodation">
        <div class="widget-content-links">
            <div class="widget-row">
                <div>
                    @PropertyDetails.Section_Invoice_PricePerNight
                </div>
                <div>
                    @Model.PricePerNight.ToString("c", Model.Culture)
                </div>
                <div style="clear: both"></div>
            </div>

            <div class="widget-row">
                <div>
                    @PropertyDetails.Section_Invoice_LengthOfStay
                </div>
                <div>
                    @Model.LengthOfStay @PropertyDetails.Section_Invoice_NumberOfNights
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="widget-part-total">
            <div class="widget-row">
                <div>
                    @PropertyDetails.Section_Invoice_TotalAccomodation
                </div>
                <div>
                    @Model.TotalAccomodation.ToString("c", Model.Culture)
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    @{
        string addonsSectionClass = ""; 
    }
    @if (Model.AddonsList.Count() > 1)
    {
        addonsSectionClass = "widget-invoice-others";
        <div class="widget-subtitle">
            <div class="widget-row collapse-section-trigger" data-section="widget-invoice-others">
                <div>
                    <h4>
                        <span class="ui-icon ui-icon-triangle-1-e"></span>
                        @PropertyDetails.Section_Other_Title</h4>
                </div>
                <div class="section-title-overall-value">
                    <h4>@Model.TotalAddons.ToString("c", Model.Culture)</h4>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="clear: both"></div>
    }
    @if (Model.AddonsList.Count() > 0)
    {
        <div id="@addonsSectionClass">
            <div class="widget-content-links">
                @foreach (var otherItem in Model.AddonsList)
                {
                    <div class="widget-row">
                        <div>
                            @otherItem.AddOnTitleCurrentLanguage
                        </div>
                        <div>
                            @otherItem.TotalPrice.ToString("c", Model.Culture)
                        </div>
                        <div style="clear: both"></div>
                    </div>
                }
            </div>
            <div style="clear: both;"></div>

            <div class="widget-part-total">
                <div class="widget-row">
                    <div>
                        @PropertyDetails.Section_Other_Total
                    </div>
                    <div>
                        @Model.TotalAddons.ToString("c", Model.Culture)
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>

            <div style="clear: both;"></div>
        </div>


        <div class="widget-sub-total">
            <div class="widget-row">
                <div>
                    @PropertyDetails.Section_Invoice_SubTotal
                </div>
                <div>
                    @Model.SubtotalAccomodationAddons.ToString("c", Model.Culture)
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    }

    @if (Model.TotalSevenDaysDiscount != 0)
    {
        <div class="widget-sub-total">
            <div class="widget-row">
                <div>
                    @PropertyDetails.Section_Invoice_7DaysDiscount
                </div>
                <div>
                    @Model.TotalSevenDaysDiscount.ToString("c", Model.Culture)
                </div>
                <div style="clear: both"></div>
            </div>
        </div> 
    }


    @{
        string taxSectionClass = ""; 
    }
    @if (Model.TaxList.Count() > 1)
    {
        taxSectionClass = "widget-invoice-taxes";
        <div class="widget-subtitle">
            <div class="widget-row collapse-section-trigger" data-section="widget-invoice-taxes">
                <div>
                    <h4>
                        <span class="ui-icon ui-icon-triangle-1-e"></span>
                        @PropertyDetails.Section_Invoice_Tax</h4>
                </div>
                <div class="section-title-overall-value">
                    <h4>@Model.TotalTax.ToString("c", Model.Culture)</h4>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="clear: both"></div>
    }
    @if (Model.TaxList.Count() > 0)
    {
        <div id="@taxSectionClass">
            <div class="widget-content-links">
                @foreach (var taxItem in Model.TaxList)
                {
                    <div class="widget-row">
                        <div>
                            @taxItem.NameCurrentLanguage
                        </div>
                        <div>
                            @taxItem.CalculatedValue.ToString("c", Model.Culture)
                        </div>
                        <div style="clear: both"></div>
                    </div>
                }
            </div>
        </div>
        <div style="clear: both"></div>
    }
    @Html.HiddenFor(m => m.InvoiceTotal)
    <div class="widget-total">
        <div class="widget-row">
            <div>
                <h2>@PropertyDetails.Section_Invoice_Total.ToUpper()</h2>
            </div>
            <div>
                <h2>@Model.InvoiceTotal.ToString("c", Model.Culture)</h2>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

    <div style="clear: both;"></div>

</div>
