﻿@using ExtranetApp.Resources.Home;
@using DataAccess;
@using ExtranetApp.Resources.Views;

@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

@helper ShowAppliances(IEnumerable<Appliance> appliances)
{
    int i = 0;
    foreach (var appliance in appliances)
    {
    <tr>
        <td>@appliance.Name.ToString()</td>
    </tr>
    }

}

<div class="widget-section">
    <div class="widget">
        <div class="widget-title">
            <h2>@PropertyDetails.Section_AdditionInformation_Description</h2>
        </div>
    </div>
</div>
<div class="widget-section">
    <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p>@Model.Property.PropertyType.Name 
                    @if( !string.IsNullOrEmpty(Model.SquareFootage)) {
                        @:( @Model.SquareFootage )
                    }
                </p>
                @Model.Property.Long_DescriptionCurrentLanguage
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    <img  src="@Url.Content("~/images/otp/guest.png")" />
                    @RazorHelpers.GetCardinalityResource(Shared.Cardinality_Sleep, Shared.Cardinality_Sleeps, Model.Unit.MaxNumberOfGuests)
                </p>
                <ul class="list-widget-description">
                    @foreach (var item in @Model.Features)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<div class="widget-section">
    <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p>
                    <img  src="@Url.Content("~/images/otp/bedrooms.png")" />
                    @RazorHelpers.GetCardinalityResource(Shared.Cardinality_Bedroom, Shared.Cardinality_Bedrooms, Model.Unit.MaxNumberOfBedRooms)
                </p>
                <ul class="list-widget-description">
                    @foreach (var item in Model.BedroomsDesc)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p style="display: table-row">
                    <img  src="@Url.Content("~/images/otp/bathrooms.png")" />
                    @RazorHelpers.GetCardinalityResource(Shared.Cardinality_Bathroom, Shared.Cardinality_Bathrooms, Model.Unit.MaxNumberOfBathrooms)
                </p>
                <ul class="list-widget-description">
                    @foreach (var item in Model.BathroomsDesc)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class="widget-section">
    <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p>
                    <img  src="@Url.Content("~/images/otp/kitchen.png")" />
                    @PropertyDetails.ViewDescriptionFeatures_KitchenLaundry
                </p>

                @if (Model.KitchenDesc.Count() > 0)
                {
                    <ul class="list-widget-description">
                        @foreach (var item in Model.KitchenDesc)
                        {
                            <li>@item</li>
                        }
                    </ul>
                    <br />
                }

                <ul class="list-widget-description">
                    @foreach (var item in Model.ApplianceGroups.OrderBy(s => s.ApplianceGroupId))
                    {
                        <li><a href="javascript:void()" class="appliance-group-link" appliance-group-id="@item.ApplianceGroupId">@item.GroupName.ToString()</a></li>
                    }
                </ul>

            </div>

            @if (Model.ApplianceGroups != null && Model.ApplianceGroups.Count() > 0)
            {
                foreach (var applianceGroup in Model.ApplianceGroups)
                {
                    var appliances = Model.Appliances.Where(a => a.ApplianceGroup.ApplianceGroupId == applianceGroup.ApplianceGroupId);
                    if (appliances != null || appliances.Count() > 0)
                    {
                <div class="appliance-dialog property-dialog" appliance-group-id="@applianceGroup.ApplianceGroupId">
                    <div class="scrollable-x-area">
                        <table class="table-appliances">
                            <tr>
                                <th>@applianceGroup.GroupName.ToString()</th>
                            </tr>
                            @ShowAppliances(appliances)
                        </table>
                    </div>
                </div>
                    }
                }
            }
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    <img  src="@Url.Content("~/images/otp/living_room.png")" />
                    @PropertyDetails.ViewDescriptionFeatures_LivingAreaDining
                </p>
                <ul class="list-widget-description">
                    @foreach (var item in Model.LivingArea)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class="widget-section" id="navigation-section">
    <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p>
                </p>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Galery, "PropertyDetails", null, new { @class = "navigationLink", data_link = "linkGoToGalery" })
                </p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
