﻿@using ExtranetApp.Resources.Home;
@model IEnumerable<DataAccess.GuestReview>

@foreach (var review in Model)
{
    <div class="widget-section">
        <div class="widget table-like">

            <div class="description-features">
                <div class="widget-content">
                    <span>@PropertyDetails.ViewGuestReviews_PostedOn:</span>
                    <p>@review.ReviewDate.ToString("MMMM dd, yyyy")</p>
                    <span>@PropertyDetails.ViewGuestReviews_Author:</span>
                    <p>@review.User.FullName</p>
                </div>
            </div>

            <div class="description-features second">
                <div class="widget-content">
                    <h2>
                        @review.ReviewTitle
                    </h2>
                    <div>
                        @review.ReviewContent
                    </div>
                </div>
                <div class="widget-content guestStarRatingSection">
                    <div class="guestReviewRatings">
                        <h2>@PropertyDetails.ViewGuestReviews_Quality</h2>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= review.Satisfaction_Experience)
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_full.png")" />
                            }
                            else
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_empty.png")" />
                            }
                        }
                    </div>
                    <div class="guestReviewRatings">
                        <h2>@PropertyDetails.ViewGuestReviews_Cleanliness</h2>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= review.Satisfaction_Cleanliness)
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_full.png")" />
                            }
                            else
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_empty.png")" />
                            }
                        }
                    </div>
                    <div class="guestReviewRatings">
                        <h2>@PropertyDetails.ViewGuestReviews_Location</h2>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= review.Satisfaction_Location)
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_full.png")" />
                            }
                            else
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_empty.png")" />
                            }
                        }
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div style="clear: both"></div>

        </div>
    </div>
}