﻿@using ExtranetApp.Resources.Home;
@using ExtranetApp.Extensions;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

<div class="widget-section">
    <div class="widget table-like floor-plan-container">
        <div class="description-features title">
            <div class="widget-title">
                <h2>@PropertyDetails.Section_AdditionInformation_Galery</h2>
            </div>
        </div>
    </div>
</div>

<div class="widget-section" style="margin-top: 0px;">
    <div class="widget" style="text-align:center;">
        <div class="portfolio_image">
            <div class="thumbnail_container">
                @foreach (var galleryImage in Model.GalleryImages)
                {
                    <img src="@galleryImage" height="400" width="500" />
                }
            </div>

            <div class="container_image_overlay_block">
                <div class="container_left_image_overlay_block" id="prevImage">
                    <div class="image_overlay_block third">
                        <img src="/images/otp/gfx_gallery_prev.png" />
                    </div>
                </div>
                <div class="container_right_image_overlay_block" id="nextImage">
                    <div class="image_overlay_block third">
                        <img src="/images/otp/gfx_gallery_next.png" />
                    </div>
                </div>                
                <div style="clear:both"></div>
            </div>
            <div class="container_progress_bar">                    
                    <div id="progressBar"></div>
                </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="widget-section" id="navigation-section">
        <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p> 
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Description, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToDescription" })                   
                </p>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Tour, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToTour" })
                </p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div style="clear: both"></div>
