﻿@using ExtranetApp.Resources.Home;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

<div class="widget-section">
    <div class="widget">
        <div class="widget-title">
            <h2>@PropertyDetails.ViewStreetViewLocalArea_Title</h2>
        </div>
    </div>
</div>

<div class="widget-section" style="margin-top: 0px;">
    <div id="streetViewContainer" style="width: 100%; height: 350px;"></div>
</div>


<div class="widget-section">
    <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p>
                    <img  src="@Url.Content("~/images/otp/gfx_location_icon.png")" />
                    @Model.DestinationDetails.DestinationNameCurrentLanguage
                </p>
                <ul class="list-widget-description">
                    @Model.DestinationDetails.DestinationDescriptionCurrentLanguage
                </ul>

            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p style="display: table-row">
                    <img  src="@Url.Content("~/images/otp/gfx_attraction_icon.png")" />
                    @PropertyDetails.ViewStreetViewLocalArea_LocalAttractions &nbsp;
                    <img style="vertical-align:top" src="@Url.Content("~/images/otp/gfx_yelp_icon.png")" />
                </p>
                <ul class="list-widget-description list-widget-yelp">
                    <li><a class="linkText" target="_blank" href="@string.Format("http://www.yelp.com/search?find_desc={0}&find_loc={1}", "restaurants+bars", Model.Property.ZIPCode)">@PropertyDetails.ViewStreetViewLocalArea_YelpRestaurantsBars</a></li>
                    <li><a class="linkText" target="_blank" href="@string.Format("http://www.yelp.com/search?find_desc={0}&find_loc={1}", "shopping", Model.Property.ZIPCode)">@PropertyDetails.ViewStreetViewLocalArea_YelpShopping</a></li>
                    <li><a class="linkText" target="_blank" href="@string.Format("http://www.yelp.com/search?find_desc={0}&find_loc={1}", "arts+entertainment", Model.Property.ZIPCode)">@PropertyDetails.ViewStreetViewLocalArea_YelpArtsEntertaiment</a></li>
                    <li>&nbsp;</li>
                </ul>
                <span>@PropertyDetails.ViewStreetViewLocalArea_YelpProviderInfo</span>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class="widget-section">
    <div class="widget table-like">
        <div class="description-features" style="border-right: none;">
            <div class="widget-content">

                <p style="display: table-row">
                    <img  src="@Url.Content("~/images/otp/gfx_distance_icon.png")" />                    
                    @PropertyDetails.ViewStreetViewLocalArea_DistanceToMainAttraction
                </p>

                <ul class="list-widget-description">
                    @foreach (var item in Model.DistanceFormAttractions)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class="widget-section" id="navigation-section">
        <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p> 
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Availability, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToAvailability" })                   
                </p>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Reviews, "PropertyDetails", null, new { @class="navigationLink", data_link="linkGoToReviews" })
                </p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>