﻿@using ExtranetApp.Resources.Home;
@using ExtranetApp.Extensions;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

<div class="widget-section">
    <div class="widget table-like floor-plan-container">
        <div class="description-features title">
            <div class="widget-title">
                <h2>@PropertyDetails.Section_AdditionInformation_Tour</h2>
            </div>
        </div>
        @if (Model.FloorPlans != null && Model.FloorPlans.Count() > 0)
        {
            <div class="description-features title">
                <div class="widget-content  floor-plan-container">
                    @if (Model.FloorPlans.Count() > 1)
                    {
                        <div class="floor-plan-menu">
                            <ul>
                                <li><a href="#" id="selected-floor">First floor</a>
                                    <ul>
                                        @foreach (var floorPlans in Model.FloorPlans)
                                        {
                                            <li><a class="floor-plan-item" href="#">@floorPlans.FloorPlanName.ToString()</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="widget-section">
    <div class="widget">
        <p>@PropertyDetails.ViewFloorPlan_PanoramaInfo
            <img src="@Url.Content("~/images/floor-plan-marker.png")" style="vertical-align: middle; width: 30px; height: 30px;" />
        </p>
    </div>
</div>

@if (Model.FloorPlans != null && Model.FloorPlans.Count() > 0)
{
    <div id="floor-plan-content">
        <div id="floor-plan-image-container">
            <img src="about:blank" />
        </div>
    </div>
}

<div class="widget-section" id="navigation-section">
    <div class="widget table-like">
        <div class="description-features">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Galery, "PropertyDetails", null, new { @class = "navigationLink", data_link = "linkGoToGalery" })
                </p>
            </div>
        </div>

        <div class="description-features second">
            <div class="widget-content">
                <p>
                    @Html.ActionLink(PropertyDetails.Section_AdditionInformation_Amenities, "PropertyDetails", null, new { @class = "navigationLink", data_link = "linkGoToAmenities" })
                </p>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
