﻿@using ExtranetApp.Resources.Home;
@model ExtranetApp.Models.PropertyDetails.PropertyDetailsModel

<div class="overlayBckg">
    <div>
        <h1>@Model.PropertyUnitName</h1>
        @Html.Hidden("CultureCode", Model.Property.DictionaryCulture.CultureCode, new { @id = "CultureCode" })
    </div>
</div>

<div class="overlayBckg" id="mainPropertyDetailsView-price">
    <div>
        <h1></h1>
    </div>
</div>


<div class="overlayBckg" id="mainPropertyDetailsView-unitMLOS">
    <div>
        <p></p>
    </div>
</div>
