﻿@model IEnumerable<ExtranetApp.Models.ObjectItem>
@{
    int i =0;
}
<div class="upper">
    <div>        
        <ul>
            @foreach(var dest in Model.Take(3))
            {
                <li><a href="javascript:void();" id="destination-@dest.ID">@dest.Value</a></li>
                i++;
		    }
        </ul>
        <ul>
           @foreach(var dest in Model.Skip(i).Take(3))
            {
                <li><a href="javascript:void();" id="destination-@dest.ID">@dest.Value</a></li>
                i++;
		    }
		</ul>
        <ul class="last">
            @foreach (var dest in Model.Skip(i).Take(3))
            {
                <li><a href="javascript:void();" id="destination-@dest.ID">@dest.Value</a></li>
		    }
		</ul>
        <br style="clear: both;" />
        <input id="localisationPhrase">                            
        <br style="clear: both;" />
    </div>
</div>