﻿@using ExtranetApp.Resources.Views;
@model IEnumerable<ExtranetApp.Models.GroupedObjectItem>

@{
    int index = 0;
}

@*<div class="scrollable-y-area">*@
    <ul id="experienceList" class="propertyType">
        @foreach (var group in Model)
        {
            <li class="group-countainer tagsGroup" data-group-id="@group.GroupId" style="width: 100%;">
                <a href="javascript:void();" style="color: rgb(134, 134, 134); width: 100%; font-weight: bold; font-size: 18px;">
                    <span class="ui-icon-triangle-1-e"></span>
                @group.GroupName</a></li>
                index = group.Items.Count;
                foreach (var item in group.Items)
                {
                    <li class="groupped-item tagsList_Item" data-group-id="@group.GroupId"><a href="javascript:void();" >
                        <input id="experience-@item.ID" type="checkbox" class="fancy_checkbox" 
                @if (item.Selected)
                {
                    <text>checked="checked"</text>   
                }
                />@item.Value</a></li>
                } 
                while (index % 3 != 0)
                {
                    <li class="groupped-item tagsList_Item emptyBox_link" data-group-id="@group.GroupId">
                        <a href="javascript:void();" ></a></li>
                    index++;
                }           
        }
        
    </ul>
@*</div>*@
