﻿@using ExtranetApp.Resources.Views;
@model IEnumerable<ExtranetApp.Models.ObjectItem>

@*<div class="scrollable-y-area">*@
    <ul id="propertyList" class="propertyType">
        @foreach (var tag in Model)
        {
            <li>
                <a href="javascript:void();">
                    <input id="property-@tag.ID" type="checkbox" class="fancy_checkbox" 
                @if (tag.Selected)
                {
                    <text>checked="checked"</text>   
                }
                />@tag.Value
                </a>
            </li>
        }
    </ul>
@*</div>*@
