﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@model ExtranetApp.Models.Booking.UserBillingAddress

@{
    string inputClassNameOne = "input-textarea one";
    string inputClassNameTwo = "input-textarea two";
    string inputClassNameThree = "input-textarea three";
    string selectClassname = "input-select";

    var selectList = new List<SelectListItem>() {
      new SelectListItem() { Text=@Shared.Gender_Female, Value="F"},
        new SelectListItem() { Text=@Shared.Gender_Male, Value="M"}
    };

    var firstNameAttr = ViewBag.UserNameNotEditable == false ? (object)new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_FirstName } :
        (object)new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_FirstName, @readOnly = true };
    var lastNameAttr = ViewBag.UserNameNotEditable == false ? (object)new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_LastName } :
        new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_LastName, @readOnly = true };
        
}

<div class="input-container">
    <div class="left two">
        @Html.HiddenFor(m => m.UserId)
        @Html.TextBoxFor(m => m.FirstName, firstNameAttr)
        <br />
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="left two" style="text-align: right;">
        @Html.TextBoxFor(m => m.LastName, lastNameAttr)
        <br />
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="input-container">
    <div class="one">
        @Html.TextBoxFor(m => m.AddressLine1, new { @class = @inputClassNameOne, defaultText = UserProfile.UserProfileModel_AddressLine1 })<br />
        @Html.ValidationMessageFor(m => m.AddressLine1)
    </div>
</div>
<div class="input-container">
    <div class="left three">
        @Html.TextBoxFor(m => m.City, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_City })<br />
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="left three" style="text-align: center;">
        @Html.TextBoxFor(m => m.State, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_State })<br />
        @Html.ValidationMessageFor(m => m.State)
    </div>
    <div class="left three" style="text-align: right;">
        @Html.TextBoxFor(m => m.ZIPCode, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_ZIPCode })<br />
        @Html.ValidationMessageFor(m => m.ZIPCode)
    </div>
    <div class="clear">&nbsp;</div>
</div>
<div class="input-container">
    <div class="left two" style="width: 320px">
        @Html.DropDownListFor(m => m.Country, (SelectList)ViewBag.Countries, UserProfile.UserProfileModel_Country, new { @class = @selectClassname, style = "width:300px" })<br />
        @Html.ValidationMessageFor(m => m.Country)
    </div>
    <div class="clear">&nbsp;</div>
</div>
