﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@using ExtranetApp.Resources.Booking;
@using Common.Extensions;

@model ExtranetApp.Models.Booking.UserProfileMinModel

@{
    string inputClassNameTwo = "input-textarea";
}

<div class="input-container">
    <div class="left two">

        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_PhoneNumber })
        <br />
        @Html.ValidationMessageFor(m => m.PhoneNumber)

    </div>
    <div class="left two" style="text-align: right;">

        @Html.TextBoxFor(m => m.Email, new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_Email, @readonly = "readonly" })
        <br />
        @Html.ValidationMessageFor(m => m.Email)

    </div>
    <div class="clear">&nbsp;</div>
</div>
<div class="input-container">
    <div class="left two">
        @{
            var localizedBirthDate = Model.BirthDay.HasValue ? Common.Helpers.DateTimeHelper.GetLocalizedDigitsDateString(Model.BirthDay.Value) : string.Empty;
        }

        @Html.Hidden("BirthDay", Model.BirthDay.HasValue ? Model.BirthDay.Value.ToShortDateString() : string.Empty) 
        @Html.TextBox("BirthDayDisplay", localizedBirthDate, new { @class = inputClassNameTwo, defaultText=UserProfile.UserProfileModel_BirthDate }) 
        <br />
        @Html.ValidationMessageFor(m => m.BirthDay)

    </div>
    <div class="clear">&nbsp;</div>
</div>
