﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models

@model ExtranetApp.Models.Booking.PaymentModel

@{
    string inputClassNameOne = "input-textarea";
    string selectClassname = "input-select";
}
<br />
<div class="input-container">
    <div>
        @Html.RadioButtonFor(m => m.CreditCardSelection, ExtranetApp.Models.Booking.CreditCardSelection.New, new { @class = "round_radio credit_type_radio" }) @BookingProcess.Payment_NewCreditCard
    </div>
    @if (ViewBag.UserCreditCards != null && ((SelectList)ViewBag.UserCreditCards).Count() > 0)
    {
        <div>
            @Html.RadioButtonFor(m => m.CreditCardSelection, ExtranetApp.Models.Booking.CreditCardSelection.Existing, new { @class = "round_radio credit_type_radio" }) @BookingProcess.Payment_UseExistingCreditCard
        </div>
    }
</div>
<div style="clear:both"></div>
<div class="input-container">
    <table id="existing-creditCard-container">
        <tr>
            <td>
                @Html.DropDownListFor(m => m.GuestPaymentMethodId, (SelectList)ViewBag.UserCreditCards, new { @class = selectClassname, style="width:200px" })
                <br />
                @Html.ValidationMessageFor(m => m.GuestPaymentMethodId)
            </td>
        </tr>
    </table>

    <table id="new-creditCard-container">
        <tr>
            <td colspan="2">
                <div id="credit-holeder-combo" style="width:215px">
                    <ul>
                        <li>
                            <div class="input-textarea">
                                <a href="javascript:void();">
                                    @BookingProcess.Payment_SelectCreditCard
                                </a>
                            </div>

                            <ul>
                                @foreach (DataAccess.CreditCardType cardType in ViewBag.CreditCardList)
                                {
                                    var cardTypeEnum = (DataAccess.Enums.CreditCardType)cardType.CreditCardIcon;
                                    
                                    <li>
                                        <a href="javascript:void();" data-credit-holder="@cardType.CreditCardTypeId">
                                            <img src="@Url.Content("~/images/gfx/gfx_credit_holder_" + cardTypeEnum.ToString() + ".png")" />
                                            @cardType.Name
                                        </a>
                                    </li>

                                }
                            </ul>
                        </li>
                    </ul>
                    @Html.HiddenFor(m => m.CreditCardholderId)
                    @Html.ValidationMessageFor(m => m.CreditCardholderId)
                </div>
            </td>
            <td>
                @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = @inputClassNameOne, defaultText = BookingProcess.Payment_CardNumber, style = "width:150px", maxlength = "16" })<br />
                @Html.ValidationMessageFor(m => m.CreditCardNumber)
            </td>
            <td>
                @Html.TextBoxFor(m => m.PinCode, new { @class = @inputClassNameOne, defaultText = BookingProcess.Payment_PinCode, maxlength = "3", style="width:80px" })<br />
                @Html.ValidationMessageFor(m => m.PinCode)
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle">
                <span style="width: 100px;">@BookingProcess.Payment_ExpirationDate</span>
            </td>
            <td style="text-align:right;">
                @Html.DropDownListFor(m => m.ExpirationMonthDate, (SelectList)ViewBag.Months, "Month", new { @class = @selectClassname, style = "width:100px; min-width:auto;" })<br />
                @Html.ValidationMessageFor(m => m.ExpirationMonthDate)
            </td>
            <td style="text-align:left;">
                @Html.DropDownListFor(m => m.ExpirationYearDate, (SelectList)ViewBag.Years, "Year", new { @class = @selectClassname, style = "width:100px; min-width:auto;" })<br />
                @Html.ValidationMessageFor(m => m.ExpirationYearDate)
            </td>
            <td></td>
        </tr>
    </table>
</div>
<span>@BookingProcess.Payment_StoreCreditCard</span>
