﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models

@model ExtranetApp.Models.Booking.PaymentAgeTermsVerification

@{
    Layout = null;
    string inputClassNameTwo = "input-textarea";
}

@*<div class="input-container left" style="width: 35%">*@
<div class="input-container left">
    <ul id="confirmation-list">
        <li>
            @Html.CheckBoxFor(m => m.AgeVerification, new { @class = "round_checbox" }) @BookingProcess.Payment_AgeCheck
        </li>
        <li>@Html.ValidationMessageFor(m => m.AgeVerification)</li>
         <li>
            @Html.CheckBoxFor(m => m.CancellationPolicyAgree, new { @class = "round_checbox" }) @Html.Partial("Partial/CancellationPolicy", (DataAccess.Reservation)ViewBag.Reservation, new ViewDataDictionary {{"MostRestrictiveArrivalDate", ViewBag.MostRestrictiveArrivalDate}})
        </li>
        <li>@Html.ValidationMessageFor(m => m.CancellationPolicyAgree)</li>
        <li>
            @Html.CheckBoxFor(m => m.TermsReadVerificaction, new { @class = "round_checbox" }) @BookingProcess.Payment_AgreeTerms @Html.ActionLink(BookingProcess.Welcome_Terms, "TermsOfService", "Home", null, new { target = "_blank" })
        </li>
        <li>@Html.ValidationMessageFor(m => m.TermsReadVerificaction)</li>
    </ul>
</div>
<div id="user-initials-container" class="left">
    <table>
        <tr>
            <td>
                <p style="margin-bottom: 0px;">@BookingProcess.Payment_LegalAgreemntConfirmation</p>
            </td>
            <td>
                <div class="input-container" style="width: 80px">
                    @Html.TextBoxFor(m => m.UserInitials, new { @class = inputClassNameTwo, defaultText = @BookingProcess.Payment_Initials, maxlength = "4", style = "width:90px" })<br />
                    @Html.ValidationMessageFor(m => m.UserInitials)
                </div>
                <div style="clear: both"></div>
            </td>
        </tr>
    </table>
</div>
