﻿@model ExtranetApp.Models.Account.LoginModel
@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models

@{
    Layout = null;
    var inputClassName = "input-textarea";
}

<section id="loginFormWelcome">
    <h3>@BookingProcess.Welcome_LoginText</h3>
    @using (Ajax.BeginForm("LoginAsGuest", "Account", new AjaxOptions() { UpdateTargetId = "blockLogin", OnSuccess = "onLoginComplete" }))
    {
        <div style="color: red !important;" id="blockLogin">
        </div>
        <fieldset>
            <legend></legend>
            <div class="full">
                @Html.TextBoxFor(m => m.Email, new { @class = inputClassName, defaultText = Shared.Login_Input_Email })
                <br />
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="full">
                @Html.PasswordFor(m => m.Password, new { @class = inputClassName, defaultText = Shared.Login_Input_Password })
                <br />
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="clear">&nbsp;</div>
            <div style="float: left; margin-left:15px">
                <span>@Html.ActionLink(Shared.Login_ForgotPassword, "ForgotPassword", "Account", new { workMode = ExtranetApp.Models.ViewWorkingMode.BookingWizard }, new { id = "btnForgotPassword" })</span>
            </div>
            <div class="nextButton">
                <input type="submit" value="@Shared.Login_Button_Submit" class="input-submit"  />
            </div>
            <div class="clear">&nbsp;</div>

        </fieldset>

    }
</section>
