﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PropertyFloorPlanDetails.aspx.cs" Inherits="IntranetApp.Forms.Properties.EditPropertyFloorPlan" %>
<%@ Register TagPrefix="uc" TagName="PropertyFloorPlanDetails" Src="~/Controls/Properties/StaticContent/PropertyFloorPlanDetails.ascx" %>

<uc:PropertyFloorPlanDetails ID="CtrlPropertyFloorPlanDetails" runat="server" />