﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

@section Scripts
{
     @Scripts.Render("~/js/Views/home.about.js")
     @Scripts.Render("~/js/jquery.scrollto.js")
}

<style type="text/css">

    h4 {
        padding-bottom: 0px;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    h3 {
        padding-top: 20px;
    }

    h5 {
        font-style: italic;
    }

    p {
        text-align: justify;
    }

    .subtitle {
        font-weight: 400;
    }

    .picture {
        background-repeat: no-repeat;
        width: 344px;
        height: 220px;
        margin-bottom: 20px;
    }

    div.inner_sidebar div.widget-content * {
        color: #868686;
    }

    div.inner_sidebar div.widget-content ul {
        list-style: none;
        margin: 1em 0 1.5em;
    }

    div.inner_sidebar div.widget-content ul li {
        border-bottom: 1px ridge #666666;
        border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
        display: block;
        padding: 3px 0;
    }

        div.inner_sidebar div.widget-content ul li a {
            font-size: 16px;
        }

            div.inner_sidebar div.widget-content ul li a:hover {
                color: #FFFFFF;
            }

    .page-title {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #main_wrap {
        padding-top: 10px;
    }

    #c1 {
        padding-top: 200px;
        margin-top: -200px;
    }

    #c2 {
        padding-top: 200px;
        margin-top: -200px;
    }

</style>

<section class="content-center">
    <div id="main_wrap" class="container">

        <h1 class="page-title">@AboutUs.About_AboutUs</h1>

        <div class="content eight alpha columns">

            <div id="scrolledContent">
                <div id="c1" class="content eight alpha columns">
                    <h3 class="subtitle">@AboutUs.About_OurMission</h3>
                    <div class="full">
                        <p>@AboutUs.About_OurMissionContentPart1</p>
                    </div>
                </div>

                <div class="one_half first column_container">
                    <h5>@AboutUs.About_OurMissionSubtitle1</h5>
                    <p>@AboutUs.About_OurMissionContent1</p>
                </div>
                <div class="one_half column_container">
                    <h5>@AboutUs.About_OurMissionSubtitle2</h5>
                    <p>@AboutUs.About_OurMissionContent2</p>
                </div>
                <div class="one_half first column_container">
                    <h5>@AboutUs.About_OurMissionSubtitle3</h5>
                    <p>@AboutUs.About_OurMissionContent3</p>
                </div>
                <div class="one_half column_container">
                    <h5>@AboutUs.About_OurMissionSubtitle4</h5>
                    <p>@AboutUs.About_OurMissionContent4</p>
                </div>
                <div class="one_half first column_container">
                    <h5>@AboutUs.About_OurMissionSubtitle5</h5>
                    <p>@AboutUs.About_OurMissionContent5</p>
                </div>
                <div class="one_half column_container">
                    <h5>@AboutUs.About_OurMissionSubtitle6</h5>
                    <p>@AboutUs.About_OurMissionContent6</p>
                </div>

                <div class="content eight alpha columns">
                    <div class="full">
                        <p>@AboutUs.About_OurMissionContentPart1</p>
                    </div>
                </div>

                <div id="c2" class="content eight alpha columns">
                    <h3 class="subtitle">@AboutUs.About_ThePeople</h3>
                    <div class="content eight alpha columns">
                        <div class="one_half first column_container">
                            <div class="picture" style="background-image: url('../images/portfolio/img1.png')"></div>
                            <p>@AboutUs.About_MikeKBio</p>
                        </div>
                        <div class="one_half column_container">
                            <div class="picture" style="background-image: url('../images/portfolio/img2.png')"></div>
                            <p>@AboutUs.About_MichaelHBio</p>
                        </div>
                        <div class="one_half first column_container">
                            <div class="picture" style="background-image: url('../images/portfolio/img3.png')"></div>
                            <p>@AboutUs.About_RebeccaDBio</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            
        <div class="sidebar columns sidebar_right three" id="slider_menu_container">
            <div id="inner_slider" class="fixed">
                <div class="inner_sidebar">

                    <div class="widget-content links">
                        <ul>
                            <li><a href="javascript:void();" id="ourMission">@AboutUs.About_OurMission</a></li>
                            <li><a href="javascript:void();" id="thePeople">@AboutUs.About_ThePeople</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
