﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}


<style type="text/css">

    h4 {
        padding-left: 45px;
        padding-bottom: 0px;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .page_title {
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-align: left;
    }

    .subtitle {
        border-bottom-color: #666;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        padding-bottom: 10px;
        padding-left: 45px;
        background-repeat: no-repeat;
        background-size: 35px;
    }

    #guest_services {
        width: 40%;
        margin-left: 8%;
    }

    #homeowner_services {
        width: 40%;
        margin-right: auto;
        margin-left: 8%;
        float: left;
    }

    #otp_hq {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 70px;
        text-align: left;
        float: left;
    }

</style>

<section class="content-center">
    <div id="main_wrap" class="container">

        <h1 class="page-title">@Shared.Links_Contact</h1>

        <div id="guest_services" class="container">
            <h4 class="subtitle" style="background-image: url('../images/gfx/guest-icon.png')">@AboutUs.ContactUs_GuestServices</h4>
            
            <h4>@AboutUs.ContactUs_Email &nbsp&nbsp @ViewBag.GuestServicesEmail</h4>
            <h4>@AboutUs.ContactUs_Phone &nbsp&nbsp @ViewBag.GuestServicesPhone</h4>
        </div>

        <div id="homeowner_services" class="container">
            <h4 class="subtitle" style="background-image: url('../images/gfx/homeowner-icon.png')">@AboutUs.ContactUs_HomeownerServices</h4>
            
            <h4>@AboutUs.ContactUs_Email &nbsp&nbsp @ViewBag.HomeownersServicesEmail</h4>
            <h4>@AboutUs.ContactUs_Phone &nbsp&nbsp @ViewBag.HomeownersServicesPhone</h4>
        </div>

        <div id="otp_hq">
            <h4 class="subtitle" style="background-image: url('../images/gfx/white-google-map-pin-th.png');background-size: auto 70px; padding-top: 40px;">@AboutUs.ContactUs_OTPHeadquraters</h4>
            
            <h4>@AboutUs.ContactUs_Address &nbsp&nbsp @ViewBag.OTPHeadquartersAddressLine1</h4>
            <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @ViewBag.OTPHeadquartersAddressLine2</h4>
            <h4>@AboutUs.ContactUs_Email &nbsp&nbsp @ViewBag.OTPHeadquartersEmail</h4>
            <h4>@AboutUs.ContactUs_Phone &nbsp&nbsp @ViewBag.OTPHeadquartersPhone</h4>
        </div>

    </div>
</section>