﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

@section Scripts
{
     @Scripts.Render("~/js/Views/home.faq.js")
     @Scripts.Render("~/js/jquery.scrollto.js")
}


<style type="text/css">

    h5.subtitle {
        font-weight: bold;
        margin-top: 6px;
        font-size: 14pt;
    }

    h1 {
        padding-bottom: 15px;
    }

    h4 {
        padding-left: 50px;
        padding-top: 6px;
    }

    h2 {
        margin-top: 25px;
        font-size: 26pt;
        border-bottom: 3px ridge rgba(100, 100, 100, 1);
        padding-left: 5px;
    }

    p {
        text-align: justify;
        font-size: 11pt;

    }

    li {
        font-size: 11pt;
    }

    td {
        border: 1px solid;
        border-color: #FFFFFF;
        padding: 6px;
    }

    #scrolledContent a:hover {
        text-decoration: underline;
    }

   .picture {
        background-repeat: no-repeat;
        margin-bottom: 20px;
        height: 3.0em;
    }

    .subtitle {
        background-repeat: no-repeat;
    }

    .tab {
        display: block;
        background: none;
    }

    div.inner_sidebar div.widget-content * {
        color: #868686;
    }

    div.inner_sidebar div.widget-content ul {
        list-style: none;
        margin: 1em 0 1.5em;
    }

    div.inner_sidebar div.widget-content ul li {
        border-bottom: 1px ridge #666666;
        border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
        display: block;
        padding: 3px 0;
    }

        div.inner_sidebar div.widget-content ul li a {
            font-size: 16px;
        }

            div.inner_sidebar div.widget-content ul li a:hover {
                color: #FFFFFF;
            }

    .page-title {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #loginBlockPopup {
        position: fixed;
        z-index: 1200;
        background-color: rgb(45, 44, 44);
    }

    #main_wrap {
        padding-top: 10px;
    }

    #c1 {
        padding-top: 200px;
        margin-top: -200px;
    }

    #c2 {
        padding-top: 200px;
        margin-top: -200px;
        padding-bottom: 50px;
    }

    #c3 {
        padding-top: 230px;
        margin-top: -200px;
        padding-bottom: 30px;
    }

    #c4 {
        padding-top: 230px;
        margin-top: -200px;
        border-bottom: 1px solid;
        padding-bottom: 30px;
    }

    #c5 {
        padding-top: 230px;
        margin-top: -200px;
        border-bottom: 1px solid;
        padding-bottom: 30px;
    }

    #c6 {
        padding-top: 230px;
        margin-top: -200px;
        border-bottom: 1px solid;
        padding-bottom: 30px;
    }

    #c7 {
        padding-top: 230px;
        margin-top: -200px;
        border-bottom: 1px solid;
        padding-bottom: 30px;
    }

    #c8 {
        padding-top: 230px;
        margin-top: -200px;
        padding-bottom: 30px;
    }

    #c9 {
        padding-top: 230px;
        margin-top: -200px;
        border-bottom: 1px solid;
        padding-bottom: 30px;
    }

    #c10 {
        padding-top: 230px;
        margin-top: -200px;
        border-bottom: 1px solid;
        padding-bottom: 30px;
    }

    #c11 {
        padding-top: 230px;
        margin-top: -200px;
        border-bottom: 1px solid;
        padding-bottom: 30px;
    }

    #c12 {
        padding-top: 230px;
        margin-top: -200px;
    }

</style>

<section class="content-center">
    
    <div id="main_wrap" class="container">

        @Html.Partial("Partial/Login", new ExtranetApp.Models.Account.LoginModel())

        <h1 class="page-title">@AboutUs.FAQ_FAQs</h1>

        <div class="content eight alpha columns">

            <div id="scrolledContent">

                <div id="c1" class="content eight alpha columns">
                    <h2 class="subtitle">@AboutUs.FAQ_Guests</h2>

                    <div class="one_third first column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/otp_logo.png')"><a href="javascript:void();" id="whyOTP">@AboutUs.FAQ_WhyOTP</a></h4>
                    </div>
                    <div class="one_third second column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/exclamation.png')"><a href="javascript:void();" id="help">@AboutUs.FAQ_Help</a></h4>
                    </div>
                    <div class="one_third column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/lock.png')"><a href="javascript:void();" id="security">@AboutUs.FAQ_Security</a></h4>
                    </div>
                    <div class="one_third first column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/info.png')"><a href="javascript:void();" id="myTrip">@AboutUs.FAQ_MyTripInfo</a></h4>
                    </div>
                    <div class="one_third second column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/dolar-sign.png')"><a href="javascript:void();" id="payments">@AboutUs.FAQ_Payments</a></h4>
                    </div>
                    <div class="one_third column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/sad-face.png')"><a href="javascript:void();" id="cancel">@AboutUs.FAQ_Cancelations</a></h4>
                    </div>


                    <div id="c3" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_WhyOTP</h5>
                        
                        <div class="one_half first column_container">
                            <h5>@AboutUs.FAQ_WhyOTP_Subtitle1</h5>
                            <p>@Html.Raw(AboutUs.FAQ_WhyOTP_Content1)</p>
                        </div>
                        <div class="one_half column_container">
                            <h5>@AboutUs.FAQ_WhyOTP_Subtitle2</h5>
                            <p>@Html.Raw(String.Format(AboutUs.FAQ_WhyOTP_Content2, "<a href=\"/Home\">" + AboutUs.FAQ_WhyOTP_Content2_Search + "</a>", "<a href=\"/Home/MapView\">" + AboutUs.FAQ_WhyOTP_Content2_MapView + "</a>")) </p>
                        </div>
                        <div class="one_half first column_container">
                            <h5>@AboutUs.FAQ_WhyOTP_Subtitle3</h5>
                            <p>@Html.Raw(AboutUs.FAQ_WhyOTP_Content3)</p>
                        </div>
                        <div class="one_half column_container">
                            <h5>@AboutUs.FAQ_WhyOTP_Subtitle4</h5>
                            <p>@Html.Raw(AboutUs.FAQ_WhyOTP_Content4)</p>
                        </div>
                        <div class="one_half first column_container">
                            <h5>@AboutUs.FAQ_WhyOTP_Subtitle5</h5>
                            <p>@Html.Raw(AboutUs.FAQ_WhyOTP_Content5)</p>
                        </div>
                        <div class="one_half column_container">
                            <h5>@AboutUs.FAQ_WhyOTP_Subtitle6</h5>
                            <p>@Html.Raw(String.Format(AboutUs.FAQ_WhyOTP_Content6, "<a href=\"mailto:" + ViewBag.SupportEmail + "\">" + ViewBag.SupportEmail + "</a>", ViewBag.SupportPhone)) </p>
                        </div>

                    </div>

                    <p style="border-bottom: 1px solid; padding-bottom: 40px; margin-bottom: -0.1em;">@AboutUs.FAQ_WhyOTP_Content7</p>

                    <div id="c4" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_MyTripInfo</h5>

                        <h5>@AboutUs.FAQ_MyTrip_Question1</h5>
                        <p>@Html.Raw(AboutUs.FAQ_MyTrip_Question1_Content)</p>

                        <h5>@AboutUs.FAQ_MyTrip_Question2</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_MyTrip_Question2_Content, "<a id=\"showLoginLink1\" href=\"javascript:void();\">" + AboutUs.FAQ_MyTrip_Question2_Content_Guest + "</a>"))</p>

                        <h5>@AboutUs.FAQ_MyTrip_Question3</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_MyTrip_Question3_Content, "<a id=\"showLoginLink2\" href=\"javascript:void();\">" + AboutUs.FAQ_MyTrip_Question2_Content_Guest + "</a>"))</p>

                        <h5>@AboutUs.FAQ_MyTrip_Question4</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_MyTrip_Question4_Content, "<a href=\"mailto:" + ViewBag.SupportEmail + "\">" + ViewBag.SupportEmail + "</a>", ViewBag.SupportPhone)) </p>

                        <h5>@AboutUs.FAQ_MyTrip_Question5</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_MyTrip_Question5_Content, "<a href=\"mailto:" + ViewBag.SupportEmail + "\">" + ViewBag.SupportEmail + "</a>")) </p>

                    </div>

                    <div id="c5" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_Help</h5>

                        <h5>@AboutUs.FAQ_Help_Question1</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Help_Question1_Content, ViewBag.SupportPhone)) </p>

                        <h5>@AboutUs.FAQ_Help_Question2</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Help_Question2_Content, "<a href=\"mailto:" + ViewBag.SupportEmail + "\">" + ViewBag.SupportEmail + "</a>", ViewBag.SupportPhone)) </p>

                    </div>

                    <div id="c6" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_Payments</h5>
                        
                        <h5>@AboutUs.FAQ_Payments_Question1</h5>
                        <p>@Html.Raw(AboutUs.FAQ_Payments_Question1_Content)</p>


                        <h5>@AboutUs.FAQ_Payments_Question2</h5>
                        <p>@Html.Raw(AboutUs.FAQ_Payments_Question2_Content_p1)</p>

                        <table class="tab" border="1">
                            <colgroup>
                                <col style="width: 50%" />
                                <col style="width: 50%" />
                            </colgroup>
	                        <tr>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_a1</p></td>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_b1</p></td>
	                        </tr>
	                        <tr>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_a2</p></td>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_b2</p></td>
	                        </tr>
	                        <tr>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_a3</p></td>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_b3</p></td>
	                        </tr>
	                        <tr>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_a4</p></td>
		                        <td><p>@AboutUs.FAQ_Payments_Question2_Content_p2_b4</p></td>
	                        </tr>
                        </table><p></p>

                        <h5>@AboutUs.FAQ_Payments_Question3</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Payments_Question3_Content, "<a id=\"showLoginLink3\" href=\"javascript:void();\">" + AboutUs.FAQ_MyTrip_Question2_Content_Guest + "</a>"))</p>

                    </div>

                    <div id="c7" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_Security</h5>
                        
                        <h5>@AboutUs.FAQ_Security_Question1</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Security_Question1_Content, "<a href=\"#\">" + AboutUs.FAQ_Security_Question1_Content_Rental + "</a>"))</p>

                        <h5>@AboutUs.FAQ_Security_Question2</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Security_Question2_Content, "<a href=\"#\">" + AboutUs.FAQ_Security_Question2_Content_Rental + "</a>", "<a href=\"#\">" + AboutUs.FAQ_Security_Question2_Content_damages + "</a>"))</p>

                        <h5>@AboutUs.FAQ_Security_Question3</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Security_Question3_Content, Html.ActionLink(AboutUs.FAQ_Security_Question3_Content_terms, "TermsOfService", "Home", null, new { target = "_blank" })))</p>


                    </div>

                    <div id="c8" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_Cancelations</h5>

                        <h5>@AboutUs.FAQ_Cancelations_Question1</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Cancelations_Question1_Content, "<a id=\"showLoginLink4\" href=\"javascript:void();\">" + AboutUs.FAQ_MyTrip_Question2_Content_Guest + "</a>"))</p>

                        <h5>@AboutUs.FAQ_Cancelations_Question2</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Cancelations_Question2_Content, Html.ActionLink(AboutUs.Policies_CancelationPolicy, "CancellationPolicy", "Home", null, new { target = "_blank" })))</p>

                    </div>
                </div>

                <div id="c2" class="content eight alpha columns">
                    <h2 class="subtitle">@AboutUs.FAQ_Homeowners</h2>

                    <div class="one_third first column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/chart.png')"><a href="javascript:void();" id="maximize">@AboutUs.FAQ_MaximizeReturns</a></h4>
                    </div>
                    <div class="one_third second column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/happy-face.png')"><a href="javascript:void();" id="joining">@AboutUs.FAQ_Joining</a></h4>
                    </div>
                    <div class="one_third column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/vault.png')"><a href="javascript:void();" id="safety">@AboutUs.FAQ_Safety</a></h4>
                    </div>
                    <div class="one_third first column_container">
                        <h4 class="picture" style="background-image: url('../images/gfx/dolar-sign.png')"><a href="javascript:void();" id="fees">@AboutUs.FAQ_Fees</a></h4>
                    </div>

                    <div id="c9" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_MaximizeReturns</h5>
                        
                        <h5>@AboutUs.FAQ_Maximize_Question1</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Maximize_Question1_Content, "<a id=\"ab1\" href=\"javascript:void();\">" + AboutUs.FAQ_Maximize_Question1_Content_About + "</a>"))</p>

                        <h5>@AboutUs.FAQ_Maximize_Question2</h5>
                        <p>@Html.Raw(AboutUs.FAQ_Maximize_Question2_Content_p1)</p>

                        <ul>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_1</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_2</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_3</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_4</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_5</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_6</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_7</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_8</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_9</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_10</li>
                            <li>@AboutUs.FAQ_Maximize_Question2_Content_p2_11</li>
                        </ul>

                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Maximize_Question2_Content_p3, "<a href=\"mailto:" + ViewBag.HomeownersEmail + "\">" + ViewBag.HomeownersEmail + "</a>")) </p>

                        <h5>@AboutUs.FAQ_Maximize_Question3</h5>
                        <p>@Html.Raw(AboutUs.FAQ_Maximize_Question3_Content)</p>

                    </div>

                    <div id="c10" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_Joining</h5>
                        
                        <h5>@AboutUs.FAQ_Joining_Question1</h5>
                        <p>@Html.Raw(AboutUs.FAQ_Joining_Question1_Content)</p>

                        <h5>@AboutUs.FAQ_Joining_Question2</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Joining_Question2_Content, "<a href=\"/HomeOwner\">" + AboutUs.FAQ_Maximize_Question1_Content_About + "</a>"))</p>

                    </div>

                    <div id="c11" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_Safety</h5>
                        
                        <h5>@AboutUs.FAQ_Safety_Question1</h5>
                        <p>@Html.Raw(AboutUs.FAQ_Safety_Question1_Content)</p>

                        <h5>@AboutUs.FAQ_Safety_Question2</h5>
                        <p>@Html.Raw(AboutUs.FAQ_Safety_Question2_Content)</p>

                        <h5>@AboutUs.FAQ_Safety_Question3</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Safety_Question3_Content, Html.ActionLink(AboutUs.FAQ_Security_Question3_Content_terms, "TermsOfService", "Home", null, new { target = "_blank" })))</p>

                    </div>

                    <div id="c12" class="content eight alpha columns">
                        <h5 class="subtitle">@AboutUs.FAQ_Fees</h5>
                        
                        <h5>@AboutUs.FAQ_Fees_Question1</h5>
                        <p>@Html.Raw(String.Format(AboutUs.FAQ_Fees_Question1_Content, "<a id=\"ab3\" href=\"javascript:void();\">" + AboutUs.FAQ_Maximize_Question1_Content_About + "</a>"))</p>

                    </div>
                </div>
            
            </div>
        </div>
            
        <div class="sidebar columns sidebar_right three" id="slider_menu_container">
            <div id="inner_slider" class="fixed">
                <div class="inner_sidebar">

                    <div class="widget-content links">
                        <ul>
                            <li><a href="javascript:void();" id="guests">@AboutUs.FAQ_Guests</a></li>
                            <li><a href="javascript:void();" id="homeowners">@AboutUs.FAQ_Homeowners</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
