﻿@using ExtranetApp.Resources.Home

@using BusinessLogic.Managers;
@{
    ViewBag.Title = Index.Title;
    Layout = "~/Views/Shared/_LayoutMainOTP.cshtml";
}

@section Scripts {
    @Scripts.Render("~/js/Views/home.slideshow.js")
    <script type="text/javascript">
        function updateProgressBar() {
            oth.slideshowViewModel.updateProgressBar();
        }

        function searchRequest() {
            oth.slideshowViewModel.searchRequest();
        }

        jQuery(document).ready(function () {
            oth.slideshowViewModel.init();
        });
    </script>
}

<style type="text/css">
    ul#mobile-menu-1 li.nv-change-view {
        display: inline;
    }
    
    .container_progress_bar {
    height: 3px;
    position:fixed;
    z-index:2001;
    bottom:30px;
    width:100%;
    border-radius:0px !important;
}

#progressBar {
    height:100%;
    border-radius:0px !important;
}

    ul.slides .input-submit {
        width:210px !important;
        margin-left:15px;
    }

    ul#experienceList {
        bottom:0px;
    }

    ul#amenitiesList {
        bottom:40px;
    }

    ul#propertyList {
        bottom:80px;
    }
</style>

@Html.Partial("Partial/EmptySearchDialog")

@section Banner
{
    @Html.Action("NavBarWithSort", "NavBar")
}

<div id="searchScoreDetailsContainer">
</div>   

<div class="container_progress_bar">                    
    <div id="progressBar"></div>
</div>

