﻿@using ExtranetApp.Resources.Home;
@using ExtranetApp.Resources.Views;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
}

@section Scripts 
{
    @Styles.Render("~/css/otp_ListView.css")
    @Scripts.Render("~/js/jquery.cycle.all.js")
    @Scripts.Render("~/js/Views/home.listview.js")

    <script type="text/javascript">
        function searchRequest() {
            oth.listViewViewModel.searchRequest();
        }

        function sortEventHook(sortTypeValue) {
            oth.listViewViewModel.sort(sortTypeValue);
        }

        jQuery(document).ready(function () {
            oth.listViewViewModel.init();
        });
    </script>
}

@Html.Partial("Partial/EmptySearchDialog")

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">
    <div id="main_wrap" class="container">

        <div class="lv-search-info-bar" id="lv-result-destination-container" style="left: 10px">@ListView.SearchResultFor <span id="lv-destination"></span><span id="lv-date-container"><span id="lv-date-from"></span>@ListView.SearchResultTo <span id="lv-date-to"></span></span></div>
        <div class="lv-search-info-bar" id="lv-result-count-container" style="right: 10px"></div>
        <div class="full">
            <div id="listViewContainer">
                @* AJAX RESULT WILL GO HERE *@
            </div>
        </div>
        <div id="lazyLoading">
            <img src="@Url.Content("~/images/otp/ajax-loader.gif")" alt="Loading..." 
                   style="background-color:transparent;" />
        </div>
    </div>
</section>

<div id='searchScoreDetailsContainer'>
</div>
