﻿@using ExtranetApp.Resources.Home;
@using ExtranetApp.Helpers;
@using ExtranetApp.Resources.Views;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";

    var regionInfo = LocalizationHelper.GetCurrentCultureRegionInfo();
}

@section Scripts 
{
    @Styles.Render("~/css/otp_mapView.css")

    @Scripts.Render("http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing")
    @Scripts.Render("~/bundles/mapView")

    <script type="text/javascript">
        //wrapper for old code
        function searchRequest() {
            oth.mapViewViewModel.doSearch();
        }

        jQuery(document).ready(function () {
            oth.mapViewViewModel.init(
                {
                    propertyDetailsUrl: "@Url.Action("PropertyDetails", "PropertyDetail")",
                    searchActionUrl: "@Url.Action("SearchMapView", "Home")",
                    isMetric: @((regionInfo == null || regionInfo.IsMetric) ? "true" : "false"),
                    resources: {                       
                        night: "@MapView.Night",
                        priceFrom: "@MapView.PriceFrom",
                        removeRectangle: "@MapView.RemoveRectangle",
                        from: "@MapView.From"
                    }
                });
        });
    </script>
}

@Html.Partial("Partial/EmptySearchDialog")

@Html.Action("NavBarWithSort", "NavBar")

<div id="imageCache" style="display:none">
</div>

<div class="map-container">
</div>

<div id="searchScoreDetailsContainer">
</div>   
