﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

@section Scripts
{
     @Scripts.Render("~/js/Views/home.policies.js")
     @Scripts.Render("~/js/jquery.scrollto.js")
}

<style type="text/css">

    h3 {
        margin-top: 20px;
        padding-top: 15px;
    }

    p {
        text-align: justify;
        padding-left: 47px;
    }

    .subtitle {
        background-repeat: no-repeat;
        padding-left: 45px;
    }

    div.inner_sidebar div.widget-content * {
    color: #868686;
    }

    div.inner_sidebar div.widget-content ul {
        list-style: none;
        margin: 1em 0 1.5em;
    }

    div.inner_sidebar div.widget-content ul li {
        border-bottom: 1px ridge #666666;
        border-bottom: 3px ridge rgba(100, 100, 100, 0.2);
        display: block;
        padding: 3px 0;
    }

        div.inner_sidebar div.widget-content ul li a {
            font-size: 16px;
        }

            div.inner_sidebar div.widget-content ul li a:hover {
                color: #FFFFFF;
            }

    .page-title {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #main_wrap {
        padding-top: 10px;
    }

    #c1 {
        padding-top: 200px;
        margin-top: -200px;
    }

    #c2 {
        padding-top: 200px;
        margin-top: -200px;
    }
    
    #c3 {
        padding-top: 200px;
        margin-top: -200px;
    }

    #scrolledContent a:hover {
        text-decoration: underline;
    }

</style>

<section class="content-center">
    <div id="main_wrap" class="container">

        <h1 class="page-title">@AboutUs.Policies_Policies</h1>

        <div class="content eight alpha columns">

            <div id="scrolledContent">

                <div id="c1" class="content eight alpha columns">
                    <h3 class="subtitle" style="background-image: url('../images/gfx/doc.png')">@AboutUs.Policies_CancelationPolicy</h3>
                    <p><span style="text-decoration: underline; font-weight:bolder">@AboutUs.Policies_CancelationPolicyContent_t1</span> @AboutUs.Policies_CancelationPolicyContent_p1</p>
                    <p><span style="text-decoration: underline; font-weight:bolder">@AboutUs.Policies_CancelationPolicyContent_t2</span> @AboutUs.Policies_CancelationPolicyContent_p2</p>
                    <p>@AboutUs.Policies_CancelationPolicyContent_p3</p>
                    <p>@AboutUs.Policies_CancelationPolicyContent_p4</p>
                    <p>@Html.Raw(String.Format(AboutUs.Policies_CancelationPolicyContent_p5, Html.ActionLink(AboutUs.Policies_CancelationPolicy, "CancellationPolicy", "Home", null, new { target = "_blank" }) )) </p>
                </div>

                <div id="c2" class="content eight alpha columns">
                    <h3 class="subtitle" style="background-image: url('../images/gfx/doc.png')">@AboutUs.Policies_PrivacyPolicy</h3>
                    <p>@AboutUs.Policies_PrivacyPolicyContent_p1</p>
                    <p>@Html.Raw(String.Format(AboutUs.Policies_PrivacyPolicyContent_p2, Html.ActionLink(AboutUs.Policies_PrivacyPolicy, "PrivacyPolicy", "Home", null, new { target = "_blank" }) )) </p>
                </div>

                <div id="c3" class="content eight alpha columns">
                    <h3 class="subtitle" style="background-image: url('../images/gfx/doc.png')">@AboutUs.Policies_Terms</h3>
                    <p>@Html.Raw(String.Format(AboutUs.Policies_TermsContent_p1, Html.ActionLink(AboutUs.Policies_Terms, "TermsOfService", "Home", null, new { target = "_blank" }) )) </p>
                </div>

            </div>
        </div>
            
        <div class="sidebar columns sidebar_right three" id="slider_menu_container">
            <div id="inner_slider" class="fixed">
                <div class="inner_sidebar">

                    <div class="widget-content links">
                        <ul>
                            <li><a href="javascript:void();" id="privacyPolicy">@AboutUs.Policies_PrivacyPolicy</a></li>
                            <li><a href="javascript:void();" id="cancelationPolicy">@AboutUs.Policies_CancelationPolicy</a></li>
                            <li><a href="javascript:void();" id="terms">@AboutUs.Policies_Terms</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
