﻿@using ExtranetApp.Resources.Home;

@helper TermsOfService() {
    <div class="container regulations-page">
        <h1 class="page-title">@Regulations.TermsOfServiceTitle</h1>
    </div>

    <div id="main_wrap" class="container" style="margin-top: 227px;">
        @Regulations.TermsOfServiceParagraph
    </div>
}

@helper PrivacyPolicy() {
    <div class="container regulations-page">
        <h1 class="page-title">@Regulations.PrivacyPolicyTitle</h1>
    </div>

    <div id="main_wrap" class="container" style="margin-top: 227px;">
        @Regulations.PrivacyPolicyParagraph
    </div>
}

@helper CancellationPolicy()
{
    <div class="container regulations-page">
        <h1 class="page-title">@Regulations.CancellationPolicyTitle</h1>
    </div>

    <div id="main_wrap" class="container" style="margin-top: 227px;">
        @ExtranetApp.Resources.CommonFrontEnd.CancellationPolicies
    </div>
}

<section class="content-center">
    @switch ((String)ViewBag.Mode)
    {
        case "PP":
            @PrivacyPolicy()
            break;
        case "TOS":
            @TermsOfService()
            break;
        case "CP":
            @CancellationPolicy()
            break;
    }
</section>