﻿@using ExtranetApp.Resources.Guest;
@using ExtranetApp.Resources.Home;
@using ExtranetApp.Resources;
@model DataAccess.Reservation
@{
    System.Globalization.CultureInfo cInfoUser = Model.User.DictionaryCulture.CultureInfo;
    DateTime mostRestrictiveArrivalDate = (DateTime)ViewData["MostRestrictiveArrivalDate"];
    double diffrenceBetweenArrivalAndNow = (mostRestrictiveArrivalDate - DateTime.Now).TotalDays;
    double diffrenceBetweenBookingAndNow = (DateTime.Now - Model.BookingDate).TotalHours;
    double diffrenceBetweenBookingAndArrival = (mostRestrictiveArrivalDate - Model.BookingDate).TotalHours;
    string cancellationText;       
    DateTime h24AfterBooking = Model.BookingDate.AddHours(24);
    DateTime d30BeforeArrival = mostRestrictiveArrivalDate.AddDays(-30);
    

    if (diffrenceBetweenArrivalAndNow >= 30)
    {
        if (diffrenceBetweenBookingAndNow <= 24)
        {
            cancellationText = String.Format(CommonFrontEnd.CancellationPolicyLessThen24HoursFullRefund, h24AfterBooking.ToString("hh:mm tt, MMMM dd, yyyy", cInfoUser))
                + "</br>" + String.Format(CommonFrontEnd.CancellationPolicyHoursHalfRefund, d30BeforeArrival.ToString("hh:mm tt, MMMM dd, yyyy", cInfoUser))
                + "</br>" + String.Format(CommonFrontEnd.CancellationPolicyWhatIfAfterTime, d30BeforeArrival.ToString("hh:mm tt, MMMM dd, yyyy", cInfoUser));
        }
        else
        {
            cancellationText = String.Format(CommonFrontEnd.CancellationPolicyHoursHalfRefund, d30BeforeArrival.ToString("hh:mm tt, MMMM dd, yyyy", cInfoUser))
                + "</br>" + String.Format(CommonFrontEnd.CancellationPolicyWhatIfAfterTime, d30BeforeArrival.ToString("hh:mm tt, MMMM dd, yyyy", cInfoUser));
        }
    }
    else
        if (diffrenceBetweenArrivalAndNow >= 15)
        {
            if (diffrenceBetweenBookingAndNow <= 24)
            {
                cancellationText = String.Format(CommonFrontEnd.CancellationPolicyLessThen24HoursFullRefund, h24AfterBooking.ToString("hh:mm tt, MMMM dd, yyyy", cInfoUser))
                    + "</br>" + String.Format(CommonFrontEnd.CancellationPolicyWhatIfAfterTime, h24AfterBooking.ToString("hh:mm tt, MMMM dd, yyyy", cInfoUser));
            }
            else
            {
                cancellationText = CommonFrontEnd.CancellationPolicyTryingToResell;
            }
        }
        else
        {
            cancellationText = CommonFrontEnd.CancellationPolicyTryingToResell;
        }
}
@Html.Raw(cancellationText)

