﻿<div id="date-until-wrong-dialog" class="popup-dialog" title="@ExtranetApp.Resources.Home.Index.DateUntilWrongDialog_Title"> 
    @ExtranetApp.Resources.Home.Index.DateUntilWrongDialog_Description <span class="date"></span>
</div>