﻿@using ExtranetApp.Resources.Home;
@using Common.Extensions;

@model IEnumerable<DataAccess.GuestReview>


@foreach (var review in Model)
{
    <div class="widget-section">
        <div class="widget table-like">

            <div class="description-features">
                <div class="widget-content">
                    <p>@review.User.FullName,</p>
                    @if (review.ReviewDate > DateTime.Now.AddMonths(-1))
                    {
                        var timeSpan = DateTime.Now - review.ReviewDate;
                                              
                        <p>
                            @if (timeSpan.Days == 0 && timeSpan.Hours == 0)
                            {
                                @timeSpan.Minutes <span></span>@PropertyDetails.ViewGuestReviews_MinutesAgo 
                            }
                            @if (timeSpan.Hours > 0 && timeSpan.Days == 0)
                            {
                                @timeSpan.Hours <span></span>@PropertyDetails.ViewGuestReviews_HoursAgo 
                            }
                            @if (timeSpan.Days > 0)
                            {
                                @timeSpan.Days <span></span>@PropertyDetails.ViewGuestReviews_DaysAgo 
                            }
                            <span></span>@PropertyDetails.ViewGuestReviews_Ago
                        </p>
                               
                    }
                    else
                    {
                        <p>@review.ReviewDate.ToLocalizedDateString()</p>       
                    }
                </div>
            </div>

            <div class="description-features second">
                <div class="widget-content">
                    <h2 style="margin-bottom: 0px;">
                        @review.ReviewTitle
                    </h2>
                    <div>
                        @review.ReviewContent
                    </div>
                </div>
                <div class="widget-content guestStarRatingSection">
                    <a href="javascript:void()" class="review-group-link" review-group-id="@review.GuestReviewID">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= review.OverallRating)
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_full.png")" />
                            }
                            else
                            {
                            <img src="@Url.Content("~/images/otp/star_blue_empty.png")" />
                            }
                        }
                    </a>
                </div>
            </div>
            <div style="clear: both"></div>

        </div>
    </div>
    
    <div class="review-dialog property-dialog" review-group-id="@review.GuestReviewID">
        <div class="guestReviewRatings">
            <h3>@PropertyDetails.ViewGuestReviews_Quality</h3>
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= review.Satisfaction_Experience)
                {
                <img src="@Url.Content("~/images/otp/star_blue_full.png")" />
                }
                else
                {
                <img src="@Url.Content("~/images/otp/star_blue_empty.png")" />
                }
            }
        </div>
        <div class="guestReviewRatings">
            <h3>@PropertyDetails.ViewGuestReviews_Cleanliness</h3>
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= review.Satisfaction_Cleanliness)
                {
                <img src="@Url.Content("~/images/otp/star_blue_full.png")" />
                }
                else
                {
                <img src="@Url.Content("~/images/otp/star_blue_empty.png")" />
                }
            }
        </div>
        <div class="guestReviewRatings">
            <h3>@PropertyDetails.ViewGuestReviews_Location</h3>
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= review.Satisfaction_Location)
                {
                <img src="@Url.Content("~/images/otp/star_blue_full.png")" />
                }
                else
                {
                <img src="@Url.Content("~/images/otp/star_blue_empty.png")" />
                }
            }
        </div>
        <div style="clear: both"></div>
    </div>
}