﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@model ExtranetApp.Models.Account.JoinModel

@{
    ViewBag.Title = Shared.JoinPopup_Header;
}

<div id="joinBlockPopup">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>   
    
    <section id="joinForm">
    @using (Ajax.BeginForm("Join", "Account", new AjaxOptions() { UpdateTargetId = "blockJoin", OnSuccess = "onJoinComplete" })) 
    {
        <div style="color: red;" id="blockJoin">
        </div>
         <fieldset>
            <ul>
                <li>
                    @Html.TextBoxFor(m => m.FirstName, new {@class = "input-textarea", defaultText = Join.JoinModel_FirstName } )<br />
                    @Html.ValidationMessageFor(m => m.FirstName)
                </li>
                <li>
                    @Html.TextBoxFor(m => m.LastName, new {@class = "input-textarea", defaultText = Join.JoinModel_LastName } )<br />
                    @Html.ValidationMessageFor(m => m.LastName)
                </li>
                <li>
                     @Html.TextBoxFor(m => m.Email, new {@class = "input-textarea", defaultText = Join.JoinModel_Email } )<br />
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
            </ul>
            <input type="submit" value="@Shared.JoinPopup_Header" class="input-submit" style="width:70% !important;" />
        </fieldset>
    }
    </section>
</div>
