﻿@using ExtranetApp.Resources.Views;
@model ExtranetApp.Models.Account.LoginModel

@{
    ViewBag.Title = @Shared.LoginPopup_Header;
}


<div id="loginBlockPopup">
<hgroup class="title">
    <a href="javascript:void;" class="joinLink"><h1>@ViewBag.Title</h1></a>
</hgroup>
    
<section id="loginForm">
<h2>@Shared.Login_Header</h2>
@using (Ajax.BeginForm("LoginAsGuest", "Account", new AjaxOptions() { UpdateTargetId = "blockLogin", OnSuccess = "onTestComplete" })) 
{
    <div style="color: red;" id="blockLogin">
    </div>
    <fieldset>
        <legend></legend>        
        <ul>
            <li>                
                @Html.TextBoxFor(m => m.Email, new {@class = "input-textarea", defaultText = Shared.Login_Input_Email })
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>                
                @Html.PasswordFor(m => m.Password, new {@class = "input-textarea", defaultText = Shared.Login_Input_Password })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ul>
        <input type="submit" value="@Shared.Login_Button_Submit" class="input-submit"  />
    </fieldset>
    <p>
        @Html.ActionLink(Shared.Login_ForgotPassword, "ForgotPassword", "Account")
    <br />
        
        <a href="javascript:void();" class="joinLink">@Shared.Login_Link_Join</a>
    </p>
}
</section>
</div>
