﻿@using ExtranetApp.Resources.Views;
@using BusinessLogic.Managers

<nav>
    <div class="navigation">
        @if (SessionManager.IsAuthenticated())
        {
            <ul id="mobile-menu-1">
                <li><a href="#">Welcome @SessionManager.CurrentUser.FullName!</a></li>
                @if (SessionManager.CurrentUser.LoggedInRole.RoleLevel == (int)DataAccess.Enums.RoleLevel.Guest)
                {                    
                    <li><a href="@Url.Action("Profile", "Guest")">@Shared.Links_Profile</a></li>
                    <li><a href="@Url.Action("Mytrips", "Guest")">@Shared.Links_MyTrips</a></li>                    
                    <li><a href="@Url.Action("OnSiteServices", "Guest")">@Shared.Links_OnStieServices</a></li>
                }
                else if (SessionManager.CurrentUser.LoggedInRole.RoleLevel == (int)DataAccess.Enums.RoleLevel.Owner)
                {
                    <li><a href="@Url.Action("MyAccount", "Homeowner")">@Shared.Links_Owner</a></li>
                    <li><a href="@Url.Action("Places", "Homeowner")">@Shared.Links_Places</a></li>
                    <li><a href="@Url.Action("KeyManagement", "Homeowner")">@Shared.Links_KeyManagement</a></li>                   
                    <li><a href="@Url.Action("Contact", "Homeowner")">@Shared.Links_Contact</a></li>
                }
                <li>@Html.ActionLink(@Shared.Links_ChangePassword, "ChangePassword", "Account")</li>
                <li>@Html.Partial("Partial/Logout")</li>
            </ul>
        }
        else
        {
            <div class="homeowner-page-title" style="width: 70%; float: left">
                @ViewBag.TopNavigationSection
            </div>
        }
        @Html.Partial("Partial/AudioPlayer")
    </div>
</nav>
