﻿@model ExtranetApp.Models.Home.FinalScoreDetailsModel
@using ExtranetApp.Resources.Views;

<div>
    <div id="scrollable-x-area">
    <table>
        @*Guests*@
        @if (Model.Details.UnitGuests.HasValue)
        {        
            <tr>
                <td>@string.Format(Shared.ScoreDetails_Guests, Model.Details.UnitGuests.Value.ToString(), Model.SearchFilterGuests.Value.ToString())</td>
            </tr>
        }
        @*Bedrooms*@
        @if (Model.Details.UnitBedrooms.HasValue)
        {        
            <tr>
                <td>@string.Format(Shared.ScoreDetails_Bedrooms, Model.Details.UnitBedrooms.Value.ToString(), Model.SearchFilterBedrooms.Value.ToString())</td>
            </tr>
        }            
        @*Bathromms*@
        @if (Model.Details.UnitBathrooms.HasValue)
        {        
            <tr>
                <td>@string.Format(Shared.ScoreDetails_Bathrooms, Model.Details.UnitBathrooms.Value.ToString(), Model.SearchFilterBathrooms.Value.ToString())</td>
            </tr>
        }            
        @*PropertyType*@
        @if (Model.Details.NotMatchedPropertyTypes != null)
        {        
            <tr>
                <td>@string.Format(Shared.ScoreDetails_PropertyTypes, Model.Details.PropertyType, string.Join(", ", Model.Details.NotMatchedPropertyTypes))</td>
            </tr>
        }
        @*Amenities*@
        @if (Model.Details.NotMatchedAmenities != null)
        {        
            <tr>
                <td>@string.Format(Shared.ScoreDetails_Amenities, string.Join(", ", Model.Details.NotMatchedAmenities))</td>
            </tr>
        }            
        @*Expriences*@
        @if (Model.Details.NotMatchedExperiences != null)
        {        
            <tr>
                <td>@string.Format(Shared.ScoreDetails_Experiences, string.Join(", ", Model.Details.NotMatchedExperiences))</td>
            </tr>
        }
    </table>
    </div>
</div>