﻿@model ComingSoonApp.Models.SubscribeModel
@{
    ViewBag.Title = "Coming soon";
}

<div id="page-wrapper">
    <div id="content-wrapper">
        <div id="logo">
            <img src="data:image/png;base64,@Common.ResourceHelper.ToBase64("LogoGrey")" alt="logo" />
        </div>
        <div id="submit-block">
            <h2>The Effortless Vacation Rental!</h2>
            <p>
                Finally!  Renting a vacation home will be effortless – for the guest and the owner. 
        Find a house, click, click, click – your vacation is booked!
            </p>
            <hr />

            <p>Submit your email here and we will let you know when we launch!</p>
            @if (ViewBag.Message != null)
            {
                <div id="message-block">
                    <p>@Html.Raw(ViewBag.Message)</p>
                </div>
            }

            <div class="signin">

                <form action="/" method="post" class="signup-form">
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    <br />
                    <input type="submit" class="btn" name="submit" value="Submit" />
                    <br />
                    <!--<span class="required">* required</span>-->
                </form>
            </div>
            <div style="clear: both"></div>
            <p>If you are a homeowner and would like to join, click the following button:</p>
            <input type="button" class="btn" onclick="window.location.href = 'http://otpfrontend.cloudapp.net/'" value="Join" />
        </div>
</div>


</div>