﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@using DataAccess;
@using System.Globalization;
@using ExtranetApp.Resources.Guest;
@using DataAccess.CustomObjects;
@using DataAccess.Enums;

@model ExtranetApp.Models.Guest.CancellationConfirmationModel

@{
    ViewBag.Title = Shared.PageTitle;
}


@Styles.Render("~/css/otp_MyTrips.css")



<section id="myTrips" class="content-center">
    @if (BusinessLogic.Managers.SessionManager.IsAuthenticated())
    {
    <div id="myTrips_page_title" class="container">
            <h2 class="page-title">
                @MyTrips.cancelConfirmationPageTitle
            </h2>
    </div>

    <div id="myTrips_main_wrap" class="container" style="margin-top: 0px;">

      <h3>@MyTrips.cancelConfirmationTitle</h3>
        @*  <div style="float: right;">
            @MyTrips.cancelConfrimationCancellationNumber @Model.cancellationCode
        </div>*@

        <div class="greyp">
            <p>@Html.Raw(String.Format(MyTrips.cancelConfirmationSent, Model.userEmail))</p>
            <p>@Html.Raw(Model.message)</p>
            <p>@Html.Raw(MyTrips.cancelConfirmationEnding)</p>
        </div>
        <div style="float: right;" class = "button" >
            @Html.ActionLink(Guest.Mytrips_Link_Back, "MyTrips", "Guest")
        </div>
    </div>
    }
</section>
