﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@using DataAccess;
@using System.Globalization;
@using ExtranetApp.Resources.Guest;
@using DataAccess.CustomObjects;
@using DataAccess.Enums;

@model ExtranetApp.Models.Guest.CancelTripModel

@{
    ViewBag.Title = Shared.PageTitle;
}


@Styles.Render("~/css/otp_MyTrips.css")


@section Scripts
{
    @Scripts.Render("~/js/jquery.cycle.all.js")
    @Scripts.Render("~/js/Views/otp_CancelTrip.js")
    <script>
        var cancelDialogText = '@MyTrips.CancelConfirmation';
        var cancelDialogNoButton = '@MyTrips.NoBtn';
        var cancelDialogYesButton = '@MyTrips.YesBtn';
        var cancelDialogTitle = '@MyTrips.ConfirmCancelDialogTitile';
    </script>
}


@*@Html.ActionLink(Guest.Mytrips_Link_Back, "Index", "Home")*@

<section id="myTrips" class="content-center">
    @if (BusinessLogic.Managers.SessionManager.IsAuthenticated())
    {
    <div id="myTrips_page_title" class="container">
            <h2 class="page-title">
                @MyTrips.cancelTrip
            </h2>
    </div>

    <div id="myTrips_main_wrap" class="container" style="margin-top: 0px;">
    <div id="CurrentTrips" class="selected">

        <div class="trip">
            <div class="tripTitle">
				    <h4>@Model.reservation.Property.PropertyNameCurrentLanguage, @Model.reservation.Property.City, @Model.reservation.Property.State, 
                        
                            @Model.reservation.DateArrival.ToString("MMMM", CultureInfo.CreateSpecificCulture(Model.User.DictionaryCulture.CultureCode)) 
                            @Model.reservation.DateArrival.ToString("dd")
                            @if (Model.reservation.DateArrival.Year != Model.reservation.DateDeparture.Year)
                            {
                                <text> </text>@Model.reservation.DateArrival.ToString("yyyy")
                            }
                            - 
                        @if (Model.reservation.DateArrival.Month != Model.reservation.DateDeparture.Month)
                        {
                            @Model.reservation.DateDeparture.ToString("MMMM", CultureInfo.CreateSpecificCulture(Model.User.DictionaryCulture.CultureCode))<Text> </Text>   
                        }
                        @Model.reservation.DateDeparture.ToString("dd"), @Model.reservation.DateDeparture.Year
				    </h4>
		    </div>
            <div class="two_third first column_container portfolio_image">

                <div class="thumbnail_container">
                    @foreach (var thumbnail in Model.Thumbnails)
                    {
                        <img class="propertyImage" src="@thumbnail" />
                    }
                </div>
                <div class="tripInfo">
                    @{
                    TimeSpan length = Model.reservation.DateDeparture - Model.reservation.DateArrival;
                    }
                    <p>@length.Days @ExtranetApp.Resources.Home.PropertyDetails.Section_Invoice_NumberOfNights</p>
                    <p>@MyTrips.totalCost @(Model.reservation.TotalPrice.ToString("c", CultureInfo.CreateSpecificCulture(Model.reservation.Property.DictionaryCulture.CultureCode)))</p>
                    
                    
                    <p>@Html.ActionLink(MyTrips.invoice, "GetInvoiceDocument", new { id = Model.reservation.ReservationID }, new { target = "_blank" })
                        @if (Model.reservation.TripBalance == 0)
                        {  
                            @MyTrips.PaidFull
                        }
                        else if (Model.reservation.TripBalance + Model.reservation.TotalPrice == 0)
                        {
                            @MyTrips.Unpaid
                        }
                        else
                        {
                            @MyTrips.PaidFifty
                        }
                        </p>

                    <p>@MyTrips.resDate @Model.reservation.BookingDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture(Model.User.DictionaryCulture.CultureCode))</p>
                </div>
            </div>
            <div class="one_third">
                <h3>@MyTrips.cancellationTerms</h3>
                <div class="cancellationTerms">
                    @using (Html.BeginForm("CancelTripConfirmed", "Guest", FormMethod.Post, new { @class = "single-submit-form", id = "frmCancelRes" }))
                    {
                        {
                            double diffrenceBetweenBookingAndNow = (DateTime.Now - Model.reservation.BookingDate).TotalHours;
                            double diffrenceBetweenArrivalAndNow = (Model.reservation.DateArrival - DateTime.Now).TotalDays;
                            
                            @Html.Partial("Partial/CancellationPolicy", Model.reservation, new ViewDataDictionary {{"MostRestrictiveArrivalDate", ViewBag.MostRestrictiveArrivalDate}})
                            
                        }


                        @Html.HiddenFor(m => m.ReservationId)
                        <div style ="text-align: right;"><input type="submit" id="btnConfirmCancel" value="@MyTrips.cancel" class="input-submit" />
                            <br />
                            @if (Model.errorMessage != null)
                            {
                                <p>@Html.Raw(String.Format(MyTrips.cancellationErrorText, Model.errorMessage))</p>
                            }
                            @Html.ActionLink(@MyTrips.seeCancellationPolicy, "CancellationPolicy", "Home", null, new { target = "_blank" })
                        </div>
                    }                                                  
                </div>
            </div>
            <div class="clear"></div>
        </div>
        
        </div>
        
    </div>
    }
</section>
