﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@using DataAccess;
@using System.Globalization;
@using ExtranetApp.Resources.Guest;
@using DataAccess.CustomObjects;
@using DataAccess.Enums;
@using Common.Extensions;

@model ExtranetApp.Models.Guest.ChangeTripDateModel

@{
    ViewBag.Title = Shared.PageTitle;
    var cInfo = Model.reservation.Property.DictionaryCulture.CultureInfo;
}


@Styles.Render("~/css/otp_MyTrips.css")
@Styles.Render("~/css/datepicker.css")

@section Scripts
{
    @Scripts.Render("~/js/jquery.cycle.all.js")
    @Scripts.Render("~/js/Views/datepicker_changeDate.js")
    @Scripts.Render("~/js/Views/tripDetails.changeTripDate.js")
    <script>
        var dateTripStart = '@Model.reservation.DateArrival.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)';
        var dateTripEnd = '@Model.reservation.DateDeparture.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)';
        var nightsText = "@ExtranetApp.Resources.Home.PropertyDetails.Section_Invoice_NumberOfNights";
        var mlosText = "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityMLOS";
        var pernightText = "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityPerNight";
        var availableText = "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityAvailable";
        var unavailableText = "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityUnvailable";
        var inPastText = "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityPast";
        var confirmDialogTitle = '@ChangeTripDate.ConfirmDialogTitle';
        var confirmDialogDescription = '@string.Format(ChangeTripDate.ConfirmDialogDescription, Model.DateArrival.ToLocalizedDateString(cInfo)+ " - " + Model.DateDeparture.ToLocalizedDateString(cInfo))';
        var ctaText = "@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityCTA";
        var DateOfBooking = "@Model.reservation.BookingDate.ToString()";
        var dateFrom = dateTripStart;
        var dateTo = dateTripEnd;
        var buttonText = "@ChangeTripDate.BtnChangeDates";
        var propertyCultureName = '@cInfo.Name';
    </script>
}


@*@Html.ActionLink(Guest.Mytrips_Link_Back, "Index", "Home")*@

<section id="myTrips" class="content-center">
    @if (BusinessLogic.Managers.SessionManager.IsAuthenticated())
    {
    <div id="myTrips_page_title" class="container">
            <h2 class="page-title">
                @MyTrips.changeExtend
            </h2>
    </div>
  
        

    <div id="myTrips_main_wrap" class="container" style="margin-top: 0px;">
    <input id="Unit_UnitID" value="@Model.reservation.Unit.UnitID" hidden>
    <input id="Property_PropertyID" value="@Model.reservation.Property.PropertyID" hidden />
		<h4>@Model.reservation.Property.PropertyNameCurrentLanguage, @Model.reservation.Property.City, @Model.reservation.Property.State, 
                        
                @Model.reservation.DateArrival.ToString("MMMM", cInfo) 
                @Model.reservation.DateArrival.ToString("dd")
                @if (Model.reservation.DateArrival.Year != Model.reservation.DateDeparture.Year)
                {
                    <text> </text>@Model.reservation.DateArrival.ToString("yyyy")
                }
                - 
            @if (Model.reservation.DateArrival.Month != Model.reservation.DateDeparture.Month)
            {
                @Model.reservation.DateDeparture.ToString("MMMM", cInfo)<Text> </Text>   
            }
            @Model.reservation.DateDeparture.ToString("dd"), @Model.reservation.DateDeparture.Year
		</h4>  

    @if(!string.IsNullOrEmpty(ViewBag.ErrorMessage)) {        
        <p style="color:#9E1717">@ViewBag.ErrorMessage</p>
    }

    <div id="CurrentTrips" class="selected">
        @ChangeTripDate.DateChangeCalendarsText
        <div id="calendarsToChangeDate">
            <div id="changeArrival">
                
                @ChangeTripDate.ChangeArrivalDate

                <div id="tripCalendarArrival"></div>
            </div>

            <div id="changeDeparture">
                
                @ChangeTripDate.ChnageDepartureDate
                <div id="tripCalendarDeparture"></div>
            </div>

            <div id="legend">
                <span class="selectionIcon">@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilitySelection</span>
                <span class="availableIcon">@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityAvailable</span>
                <span class="ctaIcon">@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityCTA</span>
                <span class="unavailableIcon">@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityUnvailable</span>
                <span class="pastIcon">@ExtranetApp.Resources.Home.PropertyDetails.Section_AvailabilityPast</span>
            </div>
            <div class="clear"></div>
        </div>
        @Html.HiddenFor(m => m.reservation.TotalPrice)
        <div id="widget-invoice"></div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form", id="frmChangeDate" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(M => M.reservationId)
            @Html.HiddenFor(M => M.DateDeparture)
            @Html.HiddenFor(M => M.DateArrival)
            <input type="submit" id="btnConfirmChange" value="@ChangeTripDate.BtnChange" class="input-submit"/>
        }
                



          

        </div>
        
    </div>
    }
</section>
