﻿@using ExtranetApp.Resources.Views;

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

<section class="content-center">
    <div class="container" id="main_wrap">
        <h1 class="page-title">@ViewBag.PageTitle</h1>
        <div class="content eleven alpha columns">
            <div class="full">
                <p>@ViewBag.Message</p>
                <p>
                    <button style="width:200px !important" class="input-submit" onclick="window.location.href='@Url.Action("Index", "Home")' ">@Account.Activation_Button_Back</button>
                </p>
            </div>
        </div>
    </div>
</section>