﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Guest;

@model ExtranetApp.Models.Guest.TripDetailModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutDefaultOTP.cshtml"; 
}

<section class="content-center">
    <div class="container" id="main_wrap">
        <h1 class="page-title">@KeyProcessManagement.KeyConfirmation_Title</h1>
        <div class="content eleven alpha columns">
            <div class="full">
                @if (Model.Reservation == null)
                {
                    <p>@ViewBag.Message</p>
                }
                else
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form" }))
                    {                    
                       @Html.HiddenFor(m => m.Reservation.LinkAuthorizationToken)
                    
                       if (!Model.Reservation.GuestConfirmedKeyDropOff.HasValue)
                       {
                           <div class="left" style="text-align:left;width:297px">
                                <p>@KeyProcessManagement.KeyConfirmation_Description</p>
                                <p><input type="submit" class="input-submit" value="@KeyProcessManagement.KeyConfirmation_Confirm" /></p>
                            </div>
                        }
                    }
                }
            </div>
            <p>
                <button onclick="window.location.href='/' " class="input-submit" style="width:200px !important">Back To Oh The Places!</button>
            </p>
        </div>
    </div>
</section>