﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@using DataAccess;
@using System.Globalization;
@using ExtranetApp.Resources.Guest;
@using DataAccess.CustomObjects;
@using DataAccess.Enums;

@model ExtranetApp.Models.Guest.MyTripsModel

@{
    ViewBag.Title = Guest.Mytrips_Title;
}


@Styles.Render("~/css/otp_MyTrips.css")


@section Scripts
{
    @Scripts.Render("~/js/jquery.cycle.all.js")
    @Scripts.Render("~/js/Views/otp_MyTrips.js")
    @*    @Scripts.Render("~/js/date.js")
    @Scripts.Render("~/js/jquery.uniform.min.js")
    @Scripts.Render("~/js/Views/guestProfile.js")    
    @Scripts.Render("~/js/Views/commonScripts.js")    
    @Scripts.Render("~/js/Views/book.process.js")*@
}


@*@Html.ActionLink(Guest.Mytrips_Link_Back, "Index", "Home")*@


@helper Trip(ReservationForUser res, bool ShowRightPane)
{
    <div class="trip">
        <div class="tripTitle">
            <h4>@Html.ActionLink(res.Property.PropertyNameCurrentLanguage, "PropertyDetails", "PropertyDetail", new { id = res.PropertyID }, new { style = "text-decoration: underline;" }), @res.Property.City, @res.Property.State, 
                        
                            @res.DateArrival.ToString("MMMM", CultureInfo.CreateSpecificCulture(Model.User.DictionaryCulture.CultureCode))
                @res.DateArrival.ToString("dd")
                @if (res.DateArrival.Year != res.DateDeparture.Year)
                {
                    <text> </text>@res.DateArrival.ToString("yyyy")
                }
                - 
                        @if (res.DateArrival.Month != res.DateDeparture.Month)
                        {
@* block for not displaying month name if arrival and departure date are in the same month *@
                            @res.DateDeparture.ToString("MMMM", CultureInfo.CreateSpecificCulture(Model.User.DictionaryCulture.CultureCode))<Text> </Text>   
                        }
                @res.DateDeparture.ToString("dd"), @res.DateDeparture.Year
            </h4>
        </div>
        <div class="two_third first column_container portfolio_image">

            <div class="thumbnail_container">
                @foreach (var thumbnail in res.Thumbnails)
                {
                    <img class="propertyImage" src="@thumbnail" />
                }
            </div>
            <div class="tripInfo">
                @{
                    TimeSpan length = res.DateDeparture - res.DateArrival;
                }
                <p>@length.Days @ExtranetApp.Resources.Home.PropertyDetails.Section_Invoice_NumberOfNights</p>
                <p>@MyTrips.totalCost @(res.TotalPrice.ToString("c", CultureInfo.CreateSpecificCulture(res.Property.DictionaryCulture.CultureCode)))</p>


                <p>@Html.ActionLink(MyTrips.invoice, "GetInvoiceDocument", new { id = res.ReservationID }, new { target = "_blank", style = "text-decoration: underline;" })
                    @if (res.TripBalance == 0)
                    {  
                        @MyTrips.PaidFull
                    }
                    else if (res.TripBalance + res.TotalPrice == 0)
                    {
                        @MyTrips.Unpaid
                    }
                    else
                    {
                        @MyTrips.PaidFifty
                    }
                </p>

                <p>@MyTrips.resDate @res.BookingDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture(Model.User.DictionaryCulture.CultureCode))</p>
            </div>
        </div>
        @if (ShowRightPane)
        {
            <div class="one_third">
                <div class="tripLinks">
                    <p><a href="#">@Html.ActionLink(MyTrips.tripDetail, "TripDetails", new { ReservationId = res.ReservationID })</a></p>
                    <p><a href="#">@Html.ActionLink(MyTrips.changeExtend, "ChangeTripDate", new { resId = res.ReservationID })</a></p>
                    <p><a href="#">@MyTrips.addServices</a></p>
                    @if (res.BookingStatus.Equals((int)BookingStatus.ReceivedBooking) || res.BookingStatus.Equals((int)BookingStatus.FinalizedBooking))
                    {
                        <p><a href="#">@Html.ActionLink(MyTrips.cancelTrip, "CancelTrip", new { ReservationId = res.ReservationID })</a></p>
                    }
                </div>
            </div>
        }
        <div class="clear"></div>
    </div>
}



<section id="myTrips" class="content-center">
    <div id="myTrips_page_title" class="container">
        @if (BusinessLogic.Managers.SessionManager.IsAuthenticated())
        {
            <h3 class="page-title">
                <span id="CurrentLabel" class="selected"><a href="javascript:showCurrent()">@MyTrips.currentTrips</a></span>
                <span id="PastLabel" class="grey"><a href="javascript:showPast()">@MyTrips.pastTrips</a></span>
                <span id="CancelledLabel" class="grey"><a href="javascript:showCancelled()">@MyTrips.cancelledTrips</a></span>
            </h3>
        }
    </div>

    <div id="myTrips_main_wrap" class="container" style="margin-top: 0px;">
        <div id="CurrentTrips" class="selected">
            @foreach (ReservationForUser res in Model.reservations.Where(r => r.BookingStatus == (int)BookingStatus.CheckedIn || r.BookingStatus == (int)BookingStatus.FinalizedBooking || r.BookingStatus == (int)BookingStatus.ReceivedBooking).ToList())
            {
                @Trip(res, true);
            }
        </div>
        <div id="PastTrips" class="hidden">
            @foreach (ReservationForUser res in Model.reservations.Where(r => r.BookingStatus == (int)BookingStatus.CheckedOut || r.BookingStatus == (int)BookingStatus.DamageInvestigation || r.BookingStatus == (int)BookingStatus.Completed).ToList())
            {
                @Trip(res, false);
            }
        </div>
        <div id="CancelledTrips" class="hidden">
            @foreach (ReservationForUser res in Model.reservations.Where(r => r.BookingStatus == (int)BookingStatus.Cancelled).ToList())
            {
                @Trip(res, false);
            }
        </div>
    </div>

</section>
