﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@using BusinessLogic.Managers;

@model ExtranetApp.Models.Guest.GuestProfileModel

@Styles.Render("~/css/otp_guestProfile.css")

@Styles.Render("~/css/uniform.default.css")

@section Scripts
{
    @Scripts.Render("~/js/date.js")
    @Scripts.Render("~/js/jquery.uniform.js")
    @Scripts.Render("~/js/Views/guestProfile.js")    
    <script>
        jQuery(".fancy_checkbox").uniform({ hoverClass: 'myHoverClass' });
    </script>
}

@{
    ViewBag.Title = Guest.Profile_Title;
}

@{
    string inputClassNameOne = "input-textarea one";
    string inputClassNameTwo = "input-textarea two";
    string inputClassNameThree = "input-textarea three";
    string selectClassname = "input-select";
}

@*@Html.ActionLink(Guest.Profile_Link_Back, "Index", "Home")*@

<section id="guest" class="content-center">
    @if (SessionManager.IsAuthenticated()){
    <div id="guestProfile_page_title" class="container">
        <h1 class="page-title">@Model.FullName</h1>
    </div>

    <div id="guest_main_wrap" class="container" style="margin-top: 0px;">
        <div class="one_third first column_container">
            <h4>@ExtranetApp.Resources.Guest.Profile.placesICan</h4>
            <div class="extraborder"></div>
        </div>
            <div class='one_third column_container'>

            <h4>@ExtranetApp.Resources.Guest.Profile.contactInformationTitle</h4>
            <div class="editable">
            <p>
                @Model.FullName<span class="toolTipEdit"> Click to edit</span>
            </p>
            <p>
                <span id="Address1" class="editeble">
                @if (@Model.AddressLine1 != null)
                {
                    @Model.AddressLine1
                } else
                {
                    <text>please provide address</text>
                }
                </span>
                @if (@Model.AddressLine2 != null)
                {
                    <span id="Address2" class="editeble">
                    <br/>@Model.AddressLine2
                    </span>
                }
                <br/>
                <span id="City" class="editeble">
                    @if (@Model.City != null)
                    {
                        @Model.City<text>,</text>
                    } else
                    {
                        <text>please provide city</text>
                    }
                 </span>
                <span id="State" class="editeble">
                    @if (@Model.State != null)
                    {
                        @Model.State
                    } else
                    {
                        <text>please provide state</text>
                    }
                </span>
                <span id="ZIPCode" class="editeble">
                    @if (@Model.ZIPCode != null)
                    {
                        @Model.ZIPCode
                    } else
                    {
                        <text>please provide zip code</text>
                    }
                </span>

                <br/>
                <span id="CountryName" class="editeble">
                @if (@Model.CountryName != null)
                {
                    @Model.CountryName
                } else {
                   <text>please provide country</text>
                }
                </span>
                </p>
                <span id="CellPhone" class="editeble">
                @if (@Model.PhoneNumber != "")
                {
                    <p>@Model.PhoneNumber</p>
                }
                </span>
                <p>@Model.Email</p>
                </div>
                <div class="edit">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form" }))
                {
                        <div class="input-container">
                            <div class="left two">
                                @Html.HiddenFor(m=>m.UserId)
                                @Html.TextBoxFor(m => m.FirstName, new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_FirstName })
                                <br />
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                            <div class="left two" style="text-align: right;">
                                @Html.TextBoxFor(m => m.LastName, new { @class = @inputClassNameTwo, defaultText = UserProfile.UserProfileModel_LastName })
                                <br />
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.AddressLine1, new { @class = @inputClassNameOne, defaultText = UserProfile.UserProfileModel_AddressLine1 })<br />
                                @Html.ValidationMessageFor(m => m.AddressLine1)
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="left three">
                                @Html.TextBoxFor(m => m.City, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_City })<br />
                                @Html.ValidationMessageFor(m => m.City)
                            </div>
                            <div class="left three">
                                @Html.TextBoxFor(m => m.State, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_State })<br />
                                @Html.ValidationMessageFor(m => m.State)
                            </div>
                            <div class="left three">
                                @Html.TextBoxFor(m => m.ZIPCode, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_ZIPCode })<br />
                                @Html.ValidationMessageFor(m => m.ZIPCode)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.DropDownListFor(m=>m.Country, (SelectList) ViewBag.Countries, UserProfile.UserProfileModel_Country, new { @class = @selectClassname })<br />
                                @Html.ValidationMessageFor(m => m.Country)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_PhoneNumber })<br />
                                @Html.ValidationMessageFor(m => m.PhoneNumber)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>
                        <div class="input-container">
                            <div class="one">
                                @Html.TextBoxFor(m => m.Email, new { disabled=true, @class = @inputClassNameThree, defaultText = UserProfile.UserProfileModel_Email })<br />
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="clear">&nbsp;</div>
                        </div>


                        <input type="submit" id="btnSave" value="Save" class="input-submit" />
                    }
                </div>

        </div>


           
        <div id="creditCardContainer" class="one_third column_container">
                <h4>@ExtranetApp.Resources.Guest.Profile.creditCard</h4>
                @if  (Model.CreditCards.Count>0)
                {
                using (Html.BeginForm("DeleteCreditCard", "Guest", @FormMethod.Post, new { @class = "deleteCreditCar single-submit-form" }))
                {   
                    <p>@ExtranetApp.Resources.Guest.Profile.creditCardDesc</p>
                    @Html.HiddenFor(m=>m.UserId)

                    foreach (var CreditCard in Model.CreditCards) {
                        <div>
                            <table style="width:100%">
                            <tr><td>@ExtranetApp.Resources.Guest.Profile.creditCardHolder:</td> <td style="text-align: right;"> @CreditCard.User.FullName</td></tr>
                            <tr><td>@ExtranetApp.Resources.Guest.Profile.last4digits</td> <td style="text-align: right;">*@CreditCard.CreditCardLast4Digits</td></tr>
                            
                            @if (!Model.CreditCardsInUse.Contains(CreditCard.GuestPaymentMethodID))
                            {
                                <tr><td>
                                <a id="delete-@CreditCard.GuestPaymentMethodID-card" href="#" onclick="submitCreditCardDelete(@CreditCard.GuestPaymentMethodID);">@ExtranetApp.Resources.Guest.Profile.delete</a>
                                </td> 
                                </tr>
                            }
                            </table>
                        </div>
                        }
                    @Html.HiddenFor(m => m.CreditCardToDelete, new { @class = "credit" })
                }
            <p class="desc">@ExtranetApp.Resources.Guest.Profile.deleteDesc</p>
                    if (ViewBag.CardDeleteErrorMessage != null)
                    {
                        <p>@ViewBag.CardDeleteErrorMessage</p>
                    }
                
        } else{
                 <text><p>No credit card</p></text>
             }
        </div>
        <div class="one_third first column_container">  
        </div>
        <div class="one_third column_container">
            <h4>Preferences</h4>
            @using (@Html.BeginForm("UpdateEmailPreferences", "Guest", @FormMethod.Post, new { @class = "language" }))
            {
                @Html.HiddenFor(m=>m.UserId)
                <p>@Html.CheckBoxFor(m=>m.SendMePromotions,new { @class="fancy_checkbox", onchange="submit();"})@*<input id="promoCheckBox" onchange="submit()" type="checkbox" class="fancy_checkbox" />*@@ExtranetApp.Resources.Guest.Profile.sendPromotions</p>
                <p>@Html.CheckBoxFor(m=>m.SendInfoFavoritePlaces,new { @class="fancy_checkbox", onchange="submit();"})@*<input id="infoCheckBox" onchange="submit()"  type="checkbox" class="fancy_checkbox" />*@@ExtranetApp.Resources.Guest.Profile.sendInfoFavorite</p>
                <p>@Html.CheckBoxFor(m=>m.SendNews,new { @class="fancy_checkbox", onchange="submit();"})@*<input id="newsCheckBox" onchange="submit()"  type="checkbox" class="fancy_checkbox" />*@@ExtranetApp.Resources.Guest.Profile.sendNews</p>
            }
            <div class="languageSelect">
                <h4>@ExtranetApp.Resources.Guest.Profile.culture</h4>
                @using (@Html.BeginForm("UpdateLanguage", "Guest", @FormMethod.Post, new { @class = "language" }))
                { 
                <div class="input-container">
                    <div class="one">
                        @Html.HiddenFor(m=>m.UserId)
                        @Html.DropDownListFor(m=>m.UserCulture, (SelectList) ViewBag.Cultures, ExtranetApp.Resources.Guest.Profile.culture, new { @class = @selectClassname, onChange="javascript:submitCulture()" })<br />
                        @Html.ValidationMessageFor(m => m.UserCulture)
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                }
            </div>
        </div>
    </div>
     }
</section>
