﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Models;
@using DataAccess;
@using System.Globalization;
@using ExtranetApp.Resources.Guest;
@using ExtranetApp.Resources.Home;
@using ExtranetApp.Resources;
@using DataAccess.CustomObjects;
@using DataAccess.Enums;
@using BusinessLogic.Objects.StaticContentRepresentation;
@using Common.Converters;


@model ExtranetApp.Models.Guest.TripDetailModel

@section Scripts {
    @Scripts.Render("http://maps.google.com/maps/api/js?sensor=false")
    @Scripts.Render("~/js/Views/TripDetails.js")
    <script>
        var dateTripStart = '@Model.Reservation.DateArrival.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)';
        var dateTripEnd = '@Model.Reservation.DateDeparture.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)';
        var latData = '@Model.Reservation.Property.Latitude';
        var lngData = '@Model.Reservation.Property.Longitude';
    </script>
}
@{
    ViewBag.Title = Guest.TripDetails_Title;
    CultureInfo cInfo = Model.Reservation.Property.DictionaryCulture.CultureInfo;
}

@Styles.Render("~/css/otp_TripDetails.css")

<section id="TripDetails" class="content-center">
    <div id="TripDetails_page_title" class="container">
        @if (BusinessLogic.Managers.SessionManager.IsAuthenticated())
        {
            <h2 class="page-title">@ViewBag.Title
            </h2>
        }
    </div>

    <div id="TripDetails_main_wrap" class="container" style="margin-top: 0px;">
        <div class="two_third first">
            <div class="bottom-line">
                <h2>@Model.User.FullName @if (Model.Reservation.NumberOfGuests > 1)
                                         {<text>+ </text>@(Model.Reservation.NumberOfGuests - 1)}</h2>
            </div>
            <div class="confirmationCode">@MyTrips.confirmationCode @Model.Reservation.ConfirmationID</div>
            <div class="Initenary detailTripInfoBlock">
                <div class="block one_eight first">
                    <h3>Itinerary</h3>
                </div>
                <div class="block" style="width: 34%">
                    <div id="trip-calendar-container">
                        <div id="trip-calendar"></div>
                    </div>
                </div>
                <div class="block" style="width: 45%">


                    <p>@*Sat, June 5 to Sat June 13, 2013 *@
                        @Model.Reservation.DateArrival.ToString("ddd, MMMM dd", cInfo)
                        @if (Model.Reservation.DateArrival.Year != Model.Reservation.DateDeparture.Year)
                        {
                            @Model.Reservation.DateArrival.ToString(", yyyy", cInfo)
                        }
                        @MyTrips.to
                        @Model.Reservation.DateDeparture.ToString("ddd MMMM dd, yyyy", cInfo)
                        (@Html.ActionLink(MyTrips.change, "ChangeTripDate", new { resId = @Model.ReservationId }))
                    </p>

                    <p>
                    <p>@Model.LengthOfStay @ExtranetApp.Resources.Home.PropertyDetails.Section_Invoice_NumberOfNights, @((Model.PricePerNight).ToString("C", cInfo)) @MyTrips.perNight, @Model.Reservation.TotalPrice.ToString("c", cInfo) @MyTrips.total</p>
                    <div class="CheckDates">
                        <p>
                            <span class="one_half first">@MyTrips.checkIn</span>
                            <span class="one_half" style="text-align: right;">@(new DateTime(Model.Reservation.Property.CheckIn.Ticks).ToString("hh:mm tt", cInfo))</span>
                        </p>
                        <p>
                            <span class="one_half first">@MyTrips.checkOut</span>
                            <span class="one_half" style="text-align: right;">@(new DateTime(Model.Reservation.Property.CheckOut.Ticks).ToString("hh:mm tt", cInfo))</span>
                        </p>
                    </div>
                    <p>@MyTrips.resDate @Model.Reservation.BookingDate.ToString("MMMM dd, yyyy", cInfo)</p>
                </div>
                <div class="clear"></div>
            </div>

            @if (Model.ArrivalInformations.Count() > 0)
            {
            <div class="detailTripInfoBlock">
                <div class="block one_eight first">
                    <h3>@Html.Raw(MyTrips.arrivalInfo)</h3>
                </div>
                <div class="block" style="width: 78%">
                    @foreach (PropertyStaticContent information in Model.ArrivalInformations)
                    {
                        <p>@information.ContentValueCurrentLanguage</p>
                    }
                </div>
                <div class="clear"></div>
            </div>
            }

            @if (((Model.Reservation.DateArrival - DateTime.Now).Days <= 2) && (Model.Reservation.DateDeparture >= DateTime.Now))
            {
                bool keyProcess_propertyManagerHasKey = Model.KeyProcess == (int)KeyProcessType.KeyHandler;
                bool keyProcess_keyInLockbox = Model.KeyProcess == (int)KeyProcessType.Lockbox;
                bool unitHasWifiData = (Model.WifiName.FirstOrDefault() != null) && (Model.WifiPass.FirstOrDefault() != null);
                
                if (keyProcess_propertyManagerHasKey)
                {
                    if (Model.KeyMenager != null)
                    {
                        <div class="Initenary detailTripInfoBlock">
                            <div class="block one_eight first">
                                <h3>@Html.Raw(MyTrips.KeysInfo)</h3>
                            </div>
                            <div class="block" style="width: 78%">
                                <p>@String.Format(MyTrips.keysKeyManager, Model.KeyMenager.FullName, Model.KeyMenager.FullAddress)</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                }
                else if (keyProcess_keyInLockbox)
                {
                    if (Model.LockBoxCode != null && Model.LockBoxLocation != null)
                    {
                        <div class="Initenary detailTripInfoBlock">
                            <div class="block one_eight first">
                                <h3>@Html.Raw(MyTrips.KeysInfo)</h3>
                            </div>
                            <div class="block" style="width: 78%">
                                <p>Lockbox code: @Model.LockBoxCode</p>
                                <p>Lockbox location: @Model.LockBoxLocation</p>
                                <p>Alert code: @Model.AlertCode</p>
                                <p>Alert location: @Model.AlertLocation</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                }

                if (unitHasWifiData)
                {
                    <div class="Initenary detailTripInfoBlock">
                        <div class="block one_eight first">
                            <h3>@Html.Raw(MyTrips.WifiInfo)</h3>
                        </div>
                        <div class="block" style="width: 78%">
                            <p>@MyTrips.wifiName @Model.WifiName.FirstOrDefault().ContentValue</p>
                            <p>@MyTrips.wifiPass @Base64.Decode(Model.WifiPass.FirstOrDefault().ContentValue)</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
            }

            <div class="detailTripInfoBlock">
                <div class="block one_eight first">
                </div>
                <div class="block" style="width: 75%">
                    <div class="widget-section" id="widget-invoice">
                        @Html.Action("GetInvoiceDetails", "PropertyDetail",
                        new
                        {
                        })
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="detailTripInfoBlock">
                <div class="block one_eight first">
                    <h3>@Html.Raw(MyTrips.cancellationPolicy)</h3>
                </div>
                <div class="block" style="width: 78%">
                    @Html.Partial("Partial/CancellationPolicy", Model.Reservation, new ViewDataDictionary { { "MostRestrictiveArrivalDate", ViewBag.MostRestrictiveArrivalDate } })
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="one_third">
            <h2>@Model.Reservation.Property.PropertyNameCurrentLanguage</h2>
            <p>@Model.Reservation.Property.Address1, @Model.Reservation.Property.City, @Model.Reservation.Property.State @Model.Reservation.Property.ZIPCode</p>
            <p>@Model.Reservation.Property.DictionaryCountry.CountryNameCurrentLanguage</p>
            <div class="googlemap" style="width: 290px; height: 240px">
                <div id="googlemap" style="width: 290px; height: 240px">
                </div>
            </div>
            @if (Model.Directions.Count() > 0)
            {
            <div class="airportInfo">
                <h3>Direction to/from airport</h3>
                @foreach (DirectionToAirport direction in Model.Directions)
                {
                    <p><a href="@direction.DirectionLink" target="_blank">@direction.Name</a></p>
                }
            </div>
            }
            @if (Model.Parkings.Count() > 0)
            {
            <div class="parkingInfo">
                <h3>Parking Information</h3>
                @foreach (PropertyStaticContent parking in Model.Parkings)
                {
                    <p>@parking.ContentValueCurrentLanguage</p>
                }
            </div>
            }
        </div>
    </div>
</section>
