﻿@model ExtranetApp.Models.Home.ListViewModel
@using ExtranetApp.Resources.Home
@using ExtranetApp.Extensions;
@using ExtranetApp.Resources.Views;

<div style="display: none" id="lv-result-count">
    @Model.CurrentResultCount @ListView.SearchResultOf @Model.TotalResults
</div>
<script>
    oth.listViewViewModel.setResultCount(@Model.TotalResults, @Model.CurrentResultCount);
</script>
@for (int i = 0; i < Model.PropertiesResult.Count(); i++)
{
    var item = Model.PropertiesResult.ElementAt(i);
    var additionalClass = "second";
    var firstColumn = "";
    if (i % 2 == 0)
    {
        firstColumn = "first";
        additionalClass = "";
    }                 
    <div class="one_half @firstColumn  column_container @additionalClass propertyDetailsLink" data-location="@Url.RouteUrl(new {destination=item.Destination, id = item.Id, propertyName=Url.ToEncodedUrl(item.Title) })">
        <div class="portfolio_image">
            <div class="thumbnail_container">
                @foreach (var thumbnail in item.Thumbnails)
                {
                    <img src="@thumbnail" />
                }
            </div>
            <div class="container_image_overlay_block">
                <div class="container_left_image_overlay_block">
                    <div class="image_overlay_block third">
                        @if (!@item.IsPricePerNight)
                        {
                            <div class="image_overlay_content per_night">
                                <div>@item.PricePerNight.ToString("c",new System.Globalization.CultureInfo(item.CultureCode) )</div>
                                <div>/ @ListView.Night</div>
                            </div>

                        }
                        else
                        {
                            <div class="image_overlay_content per_stay">
                                <div>@ListView.PriceFrom</div>
                                <div>@item.Price.ToString("c",new System.Globalization.CultureInfo(item.CultureCode) )</div>
                            </div>
                        }
                    </div>
                </div>
                <div class="container_right_image_overlay_block">
                    <div class="image_overlay_block">
                        <div class="image_overlay_content">
                            <div class="image_overlay_title">@item.Title</div>
                            <div>@Html.ToShortText(@item.Description, 35)</div>
                            <div>
                                @RazorHelpers.GetCardinalityResource(Shared.Cardinality_Bedroom, Shared.Cardinality_Bedrooms, @item.Bedrooms) / @RazorHelpers.GetCardinalityResource(Shared.Cardinality_Bath, Shared.Cardinality_Baths, @item.Bathrooms ) / @RazorHelpers.GetCardinalityResource(Shared.Cardinality_Sleep, Shared.Cardinality_Sleeps, item.Sleeps)
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container_score_image_overlay_block">
                    <div class="image_overlay_block">
                        <div class="image_overlay_content" style="text-align:center;padding-left:0px;">
                            <div class="image_overlay_title"></div>
                            <div class="scoreDetailsLink" searchfinalscore-unitid="@item.Id" searchfinalscore-value="@item.FinalScore">
                                <a>@Shared.FinalScore @item.FinalScore%</a>
                            </div>
                            <div>
                               <input class="input-submit" type="submit" value="@Index.Button_Book" id="btnBookProperty" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div class='finalScoreDetails-dialog' id='searchScoreDetails'><div id='scrollable-x-area'><img src='/images/otp/ajax_activity_indicator.gif' /></div></div>*@