﻿@using ExtranetApp.Resources.Views;
@using ExtranetApp.Resources.Home;
@using ExtranetApp.Extensions;
@model IEnumerable<DataAccess.CustomObjects.PropertiesSearchResult>

<div id="flexslider" class="flexslider">
    <ul class="slides">

        @for (int i = 0; i < Model.Count(); i++)
        {
            var result = @Model.ElementAt(i);
            <li>
                <div class="bg-image-tile"></div>
                <div class="bg">
                    <img src="@result.Image" alt="header" />
                </div>
                @if (@Model.Count() > 1)
                {
                    <p class="counter">
                        @(i + 1) @Shared.Slider_Of @Model.Count()
                    </p>
                }
                <h4 class="propertyDetailsLink" data-location="@Url.RouteUrl(new {destination=result.Destination, id = result.Id, propertyName=Url.ToEncodedUrl(result.Title) })">
                    @result.Title                    
                </h4>
                <p>
                    @result.Description                    
                    <input class="input-submit propertyDetailsLink" type="submit" value="@Index.ButtonBook_extended" data-location="@Url.RouteUrl(new {destination=result.Destination, id = result.Id, propertyName=Url.ToEncodedUrl(result.Title) })" />
                </p>
                <p class="price"> 
                    <span class="scoreDetailsLink" searchfinalscore-unitid="@result.Id" searchfinalscore-value="@result.FinalScore" slideShow="1">@Shared.FinalScore @result.FinalScore%,&nbsp; </span>                   
                    @if (!@result.IsPricePerNight)
                    {                        
                        @result.PricePerNight.ToString("c", new System.Globalization.CultureInfo(result.CultureCode) ) @:/ @ListView.Night
                    }
                    else
                    {                        
                        @ListView.PriceFrom @:  @result.Price.ToString("c", new System.Globalization.CultureInfo(result.CultureCode))                        
                    }
                </p>

            </li>
        }
    </ul>
</div>