﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ZipCodeManagers.ascx.cs" Inherits="IntranetApp.Controls.Users.ZipCodeManagers" %>

<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
	<AjaxSettings>
		<telerik:AjaxSetting AjaxControlID="pnlManagers">
			<UpdatedControls>
				<telerik:AjaxUpdatedControl ControlID="pnlManagers" />
			</UpdatedControls>
		</telerik:AjaxSetting>
    </AjaxSettings>
</telerik:RadAjaxManagerProxy>
<asp:Panel runat="server" ID="pnlManagers">

    <telerik:RadWindowManager ID="RadWindowManager1" runat="server"/>
        
    <telerik:RadGrid
        AutoGenerateColumns="False" 
        ID="rgOwners" 
        AllowSorting="True" 
        runat="server" 
        AllowFilteringByColumn="False" 
        AllowPaging="True"
        PageSize="20" 
        DataSourceID="zipCodeManagersLinqDS"
		ClientSettings-EnablePostBackOnRowClick="false"
        OnItemDataBound="rgOwners_ItemDataBound"
        OnDataBound="rgOwners_DataBound"
        OnInsertCommand="rgRoleLevels_InsertCommand"
        OnDeleteCommand="rgOwners_DeleteCommand"
        ClientSettings-ClientEvents-OnColumnClick="disableWarning">
        <ClientSettings EnableRowHoverStyle="true">
            <Selecting AllowRowSelect="False" />
        </ClientSettings>
		<PagerStyle Mode="NextPrevAndNumeric" AlwaysVisible="true" />
		<GroupingSettings CaseSensitive="false" />
		<MasterTableView TableLayout="Fixed" DataKeyNames="ManagerZipCodeRangeId" DataSourceID="zipCodeManagersLinqDS" CommandItemDisplay="Bottom">
			<Columns>
				<telerik:GridBoundColumn DataField="ZipCodeRange.ZipCodeStart" FilterControlWidth="150px" UniqueName="ZipCodeStart" HeaderText="Zip Code Start Range" SortExpression="ZipCodeRange.ZipCodeStart" HeaderStyle-Width="300px" ShowFilterIcon="false" AutoPostBackOnFilter="true">
					<HeaderStyle Width="120px"></HeaderStyle>
					<ItemStyle CssClass="link" />
				</telerik:GridBoundColumn>
                <telerik:GridBoundColumn DataField="ZipCodeRange.ZipCodeEnd" FilterControlWidth="150px" UniqueName="ZipCodeEnd" HeaderText="Zip Code End Range" SortExpression="ZipCodeRange.ZipCodeEnd" HeaderStyle-Width="300px" ShowFilterIcon="false" AutoPostBackOnFilter="true">
					<HeaderStyle Width="120px"></HeaderStyle>
					<ItemStyle CssClass="link" />
				</telerik:GridBoundColumn>
                <telerik:GridButtonColumn CommandName="Delete" ButtonType="ImageButton" UniqueName="DeleteColumn" ImageUrl="/Images/delete.png">
                    <HeaderStyle Width="30px"></HeaderStyle>
                </telerik:GridButtonColumn>
			</Columns>

            <EditFormSettings EditFormType="Template">
                <FormTemplate>
                    <asp:ValidationSummary ID="vsProductParamsSummary" ValidationGroup="UserZipCodeManager"
                        HeaderText="<%$ Resources: Validation, ValidationSummary %>" DisplayMode="BulletList"
                        EnableClientScript="true" runat="server" CssClass="errorInForm" />
                    <table runat="server" id="tblData" cellspacing="1" cellpadding="1" border="0" class="module">
                        <tr>
                            <td class="paramLabelCell" style='padding-top: 10px'>
                                <asp:Label runat="server" ID="lblZipCodeRanges" meta:resourceKey="lblZipCodeRanges"></asp:Label>
                            </td>
                            <td class="paramInputCell" style='padding-top: 10px'>
                                <telerik:RadComboBox ID="rcbZipCodeRanges" runat="server" OnPreRender="rcbRoleLevel_PreRender"></telerik:RadComboBox>
                                <asp:RequiredFieldValidator ValidationGroup="UserZipCodeManager" ID="RequiredFieldValidator1"
                                Text="*" ControlToValidate="rcbZipCodeRanges" runat="server" Display="Static"
                                CssClass="error" meta:resourceKey="ValZipCodeManager" />
                            </td>
                        </tr>                                
                        <tr>
                            <td colspan="2" style='text-align: right; padding-top: 4px;'>
                                <div style="position: relative; width: 415px;">
                                    <!-- workaround for issue with RadButtons not being aligned vertically -->
                                    <telerik:RadButton CssClass="bottomAlignedButton" ValidationGroup="UserZipCodeManager"
                                        VerticalAlignment="Bottom" ID="btnProceed" runat="server" Text='<%# (Container is GridEditFormInsertItem) ? "Add" : "Save" %>'
                                        CommandName='<%# (Container is GridEditFormInsertItem) ? "PerformInsert" : "Update" %>'
                                        CausesValidation="true">
                                    </telerik:RadButton>
                                    <telerik:RadButton ID="btnCancel" runat="server" Text="Cancel" CommandName="Cancel">
                                    </telerik:RadButton>
                                </div>
                            </td>
                        </tr>
                    </table>
                </FormTemplate>
            </EditFormSettings>
			<PagerStyle AlwaysVisible="True"></PagerStyle>
		</MasterTableView>
		<HeaderContextMenu EnableImageSprites="True">
		</HeaderContextMenu>
	</telerik:RadGrid>
</asp:Panel>

<otpDS:SimpleDataSource ID="zipCodeManagersLinqDS" runat="server" />