﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Home
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models
@using System.Globalization
@using Common.Extensions;

@model ExtranetApp.Models.Booking.BookingProcessModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
    CultureInfo cInfo = Model.Property.DictionaryCulture.CultureInfo;
    
}

@section Scripts 
{
    @Styles.Render("~/css/otp_bookingProcess.css")
    @Styles.Render("~/css/round_checkboxes.css")
    @Scripts.Render("~/js/Views/jquery.round_checkboxes.js")
    @Scripts.Render("~/js/Views/book.process.js")
    <script>
        var dateTripStart = '@Model.BookingInfoData.dateTripFrom.ToLocalizedDateString()';
        var dateTripEnd = '@Model.BookingInfoData.dateTripUntil.ToLocalizedDateString()';
    </script>
}

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">

    <div id="main_wrap" class="container">
        <div class="full">
            <div class="content eight alpha columns">
                <div class="sectionBooking content-sections">
                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2 id="book-nav-steps"><span>@BookingProcess.Nav_Welcome</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span>@BookingProcess.Nav_Contact</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span>@BookingProcess.Nav_Payment</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span class="active">@BookingProcess.Nav_Confirmation</span></h2>
                            </div>
                        </div>
                    </div>
                    @if (string.IsNullOrEmpty(ViewBag.BOOK_PAYMENT_ERROR_MESSAGE))
                    {
                        <p>
                            @ViewBag.BOOK_PAYMENT_ERROR_MESSAGE
                        </p>
                    }
                    <div class="widget-section">
                        <div class="widget" style="float: left; width: 70%;">
                            <div class="widget-title">
                                <h2>@BookingProcess.Confirmation_Subtitle
                                    <br />
                                    @String.Format(BookingProcess.Confirmation_ConfirmationCode, Model.PaymentGateWayResult.BookingConfirmationID)</h2>
                            </div>
                            <div class="widget-content">
                                <p>@BookingProcess.Confirmation_ChargedInfo</p>
                                <p>@String.Format(BookingProcess.Confirmation_EmailSend, @Model.GuestProfile.Email)</p>
                                <br />
                                <p>@BookingProcess.Confirmation_ThankYou</p>
                            </div>
                        </div>
                        <div class="widget-content-links" style="float: right; width: 20%;">
                            <div class="widget-title">
                                <h3>@BookingProcess.Confirmation_Trip</h3>
                            </div>
                            <div class="widget-content tripLinks">
                                @Html.ActionLink(BookingProcess.Confirmation_SaveFile, "SaveTripDetailDoc")<br />
                                @Html.ActionLink(BookingProcess.Confirmation_Invoice, "SaveInvoiceDetailDoc")<br />
                                @BookingProcess.Confirmation_Share<br />
                                @Html.ActionLink(BookingProcess.Confirmation_ViewAtMyTrips, "TripDetails", "Guest", new { ReservationId = ViewBag.ReservationId }, null)

                            </div>
                        </div>
                    </div>

                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-content">
                                <div class="nextButton">
                                    <input type="submit" id="btnBackToHome" value="@BookingProcess.IdentityVerificationFailure_BtnBack" class="input-submit" /><br />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2>@BookingProcess.Confirmation_TripDetails</h2>
                            </div>
                        </div>
                    </div>

                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2>@Model.GuestProfile.FirstName @Model.GuestProfile.LastName</h2>
                            </div>
                        </div>
                    </div>

                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-content confiramtion-section">
                                <div id="trip-detail-container">
                                    <div>
                                        <div>
                                            <h3>@Html.ActionLink(BookingProcess.Confirmation_Itinerary, "Mytrips", "Guest")</h3>
                                        </div>
                                        <p>
                                            @Model.BookingInfoData.dateTripFrom.ToString("D", CultureInfo.CreateSpecificCulture("en-US")) @BookingProcess.Confirmation_TripTo @Model.BookingInfoData.dateTripUntil.ToString("D", CultureInfo.CreateSpecificCulture("en-US"))
                                        </p>
                                        <p>
                                            @Model.InvoiceData.LengthOfStay @PropertyDetails.Section_Invoice_NumberOfNights, 
                                            @Model.InvoiceData.PricePerNight.ToString("c", cInfo) @BookingProcess.Confirmation_PerNight, 
                                            @Model.InvoiceData.InvoiceTotal.ToString("c", cInfo) @BookingProcess.Confirmation_Total
                                        </p>

                                        <div style="width: 60px; float: left;">@BookingProcess.Confirmation_CheckIn</div>
                                        <div style="float: left">@(new DateTime(Model.Property.CheckIn.Ticks).ToString("hh:mm tt", CultureInfo.InvariantCulture))</div>
                                        <div style="clear: both;"></div>
                                        <div style="width: 60px; float: left;">@BookingProcess.Confirmation_CheckOut</div>
                                        <div style="float: left">@(new DateTime(Model.Property.CheckOut.Ticks).ToString("hh:mm tt", CultureInfo.InvariantCulture))</div>
                                        <div style="clear: both;"></div>
                                        <p>
                                            @String.Format(BookingProcess.Confirmation_DateOfMade, DateTime.Now.ToLocalizedDateTimeString())
                                        </p>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar columns sidebar_right three">
                <div class="inner_sidebar">
                    <div class="widget-section" id="widget-invoice">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>@PropertyDetails.Section_Invoice_Title</h3>
                            </div>
                        </div>
                        @Html.Action("GetInvoiceDetails", "PropertyDetail",
                        new
                        {
                            unitId = Model.BookingInfoData.UnitId,
                            propertyId = Model.BookingInfoData.PropertyId,
                            dateFrom = Model.BookingInfoData.dateTripFrom,
                            dateUntil = Model.BookingInfoData.dateTripUntil
                        })
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="flexsliderContainer">
    <div id="flexslider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.PropertyImages)
            {
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="bg">
                        <img src="@item" alt="header" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
