﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Home
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models
@using Common.Extensions;

@model ExtranetApp.Models.Booking.BookingProcessModel

@{
    ViewBag.Title = Shared.PageTitle;        
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
    ViewBag.UserNameNotEditable = false;   
    
}

@section Scripts 
{
    @Styles.Render("~/css/otp_bookingProcess.css")
    @Scripts.Render("~/js/Views/book.process.js")
    <script>
        var dateTripStart = '@Model.BookingInfoData.dateTripFrom.ToLocalizedDateString()';
        var dateTripEnd = '@Model.BookingInfoData.dateTripUntil.ToLocalizedDateString()';
    </script>
}

<script>

</script>

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">

    <div id="main_wrap" class="container">
        <div class="full">
            <div class="content eight alpha columns">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form" }))
                {
                    <div class="sectionBooking content-sections">
                        <div class="widget-section">
                            <div class="widget">
                                <div class="widget-title">
                                    <h2 id="book-nav-steps"><span>@BookingProcess.Nav_Welcome</span>
                                        <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                        <span class="active">@BookingProcess.Nav_Contact</span>
                                        <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                        <span>@BookingProcess.Nav_Payment</span>
                                        <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                        <span>@BookingProcess.Nav_Confirmation</span></h2>
                                </div>
                                <div class="widget-content">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="widget-section">
                            <div class="widget">
                                <div class="widget-title">
                                    <h2>@Model.PropertyUnitName, @Model.DestinationDetails.DestinationNameCurrentLanguage, @Model.BookingInfoData.dateTripFrom.ToLocalizedDateString() @BookingProcess.TripTo @Model.BookingInfoData.dateTripUntil.ToLocalizedDateString()</h2>
                                </div>
                                <div class="widget-content">
                                    <p class="image-middle">
                                        <img src="@Url.Content("~/images/otp/gfx_booking_clock.png")" />
                                        @BookingProcess.Welcome_TemporatyBookTime
                                    </p>
                                    <p>
                                        <img src="@Url.Content("~/images/otp/gfx_booking_thanks.png")" />
                                        @BookingProcess.Contact_ThankYou

                                    </p>
                                    <br />
                                    @Html.Partial("Partial/ContactUserInfoPersonal", Model.GuestProfile)
                                </div>
                            </div>
                        </div>


                        <div class="widget-section" style="border-bottom: none; padding-bottom: 5px;">
                            <div class="widget">
                                <div class="widget-content">
                                    @Html.Partial("Partial/ContactUserInfoContact", Model.GuestProfile)
                                    <div class="left">
                                        <p>@BookingProcess.Contact_NumerOfGuestsTitle</p>
                                        <div class="input-container">
                                            @Html.TextBoxFor(m => m.NumberOfGuests, new { @class = "input-textarea three", style = "width:100px", defaultText = BookingProcess.Contact_NumberOfGuests })
                                            @Html.ValidationMessageFor(m => m.NumberOfGuests)
                                        </div>
                                    </div>
                                    <div style="clear: both"></div>
                                    <div class="nextButton">
                                        <input type="submit" id="btnJoinWelcome" value="@BookingProcess.Contact_Next" class="input-submit" /><br />
                                    </div>
                                    <span>@BookingProcess.Contact_SaveChanges</span>
                                </div>
                            </div>
                        </div>


                    </div>
                }
            </div>
            <div class="sidebar columns sidebar_right three">
                <div class="inner_sidebar">
                    <div class="widget-section" id="widget-invoice">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>@PropertyDetails.Section_Invoice_Title</h3>
                            </div>
                        </div>
                        @Html.Action("GetInvoiceDetails", "PropertyDetail",
                        new
                        {
                            unitId = Model.BookingInfoData.UnitId,
                            propertyId = Model.BookingInfoData.PropertyId,
                            dateFrom = Model.BookingInfoData.dateTripFrom,
                            dateUntil = Model.BookingInfoData.dateTripUntil
                        })
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="flexsliderContainer">
    <div id="flexslider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.PropertyImages)
            {
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="bg">
                        <img src="@item" alt="header" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
