﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Home
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models
@using Common.Extensions;

@model ExtranetApp.Models.Booking.BookingProcessModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
    
}

@section Scripts 
{
    @Styles.Render("~/css/otp_bookingProcess.css")
    @Styles.Render("~/css/round_checkboxes.css")
    @Styles.Render("~/css/round_radios.css")
    @Scripts.Render("~/js/Views/jquery.round_checkboxes.js")
    @Scripts.Render("~/js/Views/jquery.round_radio.js")
    @Scripts.Render("~/js/Views/book.process.js")
    <script>
        var dateTripStart = '@Model.BookingInfoData.dateTripFrom.ToLocalizedDateString()';
        var dateTripEnd = '@Model.BookingInfoData.dateTripUntil.ToLocalizedDateString()';
    </script>
}

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">

    <div id="main_wrap" class="container">
        <div class="full">
            <div class="content eight alpha columns">
                <div class="sectionBooking content-sections">
                    <div class="widget-section">
                        <div class="widget" style="width: 70%; float: left;">
                            <div class="widget-title">
                                <h2>@BookingProcess.IdentityVerification_Title</h2>
                            </div>
                            <div class="widget-content">
                                <p>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_thanks.png")" />
                                    @BookingProcess.IdentityVerification_Subtitle
                                </p>
                            </div>
                        </div>
                        <div style="text-align: right; width: 25%; float: left" class="widget">
                            <img src="/images/otp/evs_badge.png">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "single-submit-form" }))
                    {
                        <p>
                            @Html.ValidationSummary()
                        </p>
                        @Html.EditorFor(x => x.IdentityVerification)
                        
                        <div style="padding: 0px 0px 10px 10px">
                            <div class="nextButton">
                                <input type="submit" id="btnIdentityVerification" value="@BookingProcess.IdentityVerification_Submit" class="input-submit" /><br />
                            </div>
                        </div>                        
                    }
                </div>

            </div>

            <div class="sidebar columns sidebar_right three">
                <div class="inner_sidebar">
                    <div class="widget-section" id="widget-invoice">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>@PropertyDetails.Section_Invoice_Title</h3>
                            </div>
                        </div>
                        @Html.Action("GetInvoiceDetails", "PropertyDetail",
                        new
                        {
                            unitId = Model.BookingInfoData.UnitId,
                            propertyId = Model.BookingInfoData.PropertyId,
                            dateFrom = Model.BookingInfoData.dateTripFrom,
                            dateUntil = Model.BookingInfoData.dateTripUntil
                        })
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="flexsliderContainer">
    <div id="flexslider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.PropertyImages)
            {
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="bg">
                        <img src="@item" alt="header" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
