﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Home
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models
@using Common.Extensions;
@using System.Globalization

@model ExtranetApp.Models.Booking.BookingProcessModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
    ViewBag.UserNameNotEditable = true;   
}

@section Scripts 
{
    @Styles.Render("~/css/otp_bookingProcess.css")
    @Styles.Render("~/css/round_checkboxes.css")
    @Styles.Render("~/css/round_radios.css")
    @Scripts.Render("~/js/Views/jquery.round_checkboxes.js")
    @Scripts.Render("~/js/Views/jquery.round_radio.js")
    @Scripts.Render("~/js/Views/book.process.js")

    <script>
        var dateTripStart = '@Model.BookingInfoData.dateTripFrom.ToLocalizedDateString()';
        var dateTripEnd = '@Model.BookingInfoData.dateTripUntil.ToLocalizedDateString()';

        jQuery.validator.unobtrusive.adapters.addBool("mandatory", "required");
        jQuery.validator.addMethod("agevalidation", validateAge);

        jQuery.validator.unobtrusive.adapters.addBool("agevalidation");
        jQuery("#frmPayment").submit(function (e) {
            if (jQuery(this).valid()) {
                if (jQuery("input[name='CreditCardSelection']:checked").val() == "New") {
                    e.preventDefault();

                    jQuery("#credit_card_first_name").val(jQuery("#FirstName").val());
                    jQuery("#credit_card_last_name").val(jQuery("#LastName").val());
                    jQuery("#credit_card_number").val(jQuery("#CreditCardNumber").val());
                    jQuery("#credit_card_verification_value").val(jQuery("#PinCode").val());
                    jQuery("#credit_card_month").val(jQuery("#ExpirationMonthDate").val());
                    jQuery("#credit_card_year").val(jQuery("#ExpirationYearDate").val());
                    jQuery("#data_initials").val(jQuery("#UserInitials").val());
                    jQuery("#data_creditHolder").val(jQuery("#CreditCardholderId").val());

                    jQuery("#data_firstName").val(jQuery("#FirstName").val());
                    jQuery("#data_lastName").val(jQuery("#LastName").val());
                    jQuery("#data_address").val(jQuery("#AddressLine1").val());
                    jQuery("#data_city").val(jQuery("#City").val());
                    jQuery("#data_state").val(jQuery("#State").val());
                    jQuery("#data_zip").val(jQuery("#ZIPCode").val());
                    jQuery("#data_country").val(jQuery("#Country").val());

                    jQuery("#frmSpreedlyCore").submit();

                    return false;
                } else {
                    //CLEAN UP CREDIT DATA
                    jQuery("#credit_card_number").val("");
                    jQuery("#credit_card_verification_value").val("");
                    jQuery("#credit_card_month").val("");
                    jQuery("#credit_card_year").val("");
                    return true;
                }
            }

            e.preventDefault();
            return false;
        });
    </script>
}

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">

    <div id="main_wrap" class="container">
        <div class="full">
            <div class="content eight alpha columns">
                <div class="sectionBooking content-sections">
                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2 id="book-nav-steps"><span>@BookingProcess.Nav_Welcome</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span>@BookingProcess.Nav_Contact</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span class="active">@BookingProcess.Nav_Payment</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span>@BookingProcess.Nav_Confirmation</span></h2>
                            </div>
                            <div class="widget-content">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2>@Model.PropertyUnitName, @Model.DestinationDetails.DestinationNameCurrentLanguage, @Model.BookingInfoData.dateTripFrom.ToLocalizedDateString() @BookingProcess.TripTo @Model.BookingInfoData.dateTripUntil.ToLocalizedDateString()</h2>
                            </div>
                            <div class="widget-content">
                                <p style="color: #868686 !important;">
                                    <img src="@Url.Content("~/images/otp/gfx_booking_thanks.png")" />
                                    @BookingProcess.Payment_Subtitle
                                </p>
                                @if (ViewBag.PAYMENT_ERROR_MESSAGE != null)
                                {
                                    <p id="account-blocked-info">
                                        <img src="@Url.Content("~/images/gfx/gfx_warning_icon.png")" />
                                        @ViewBag.PAYMENT_ERROR_MESSAGE.Text
                                    </p>
                                }
                            </div>
                        </div>
                    </div>


                    <form action="https://spreedlycore.com/v1/payment_methods" method="POST" id="frmSpreedlyCore">
                        <input name="redirect_url" type="hidden" value="@Model.PaymentGatewaySettings.RedirectURL" />
                        <input name="api_login" type="hidden" value="@Model.PaymentGatewaySettings.ApiLogin" />
                        <input id="credit_card_first_name" name="credit_card[first_name]" type="hidden" />
                        <input id="credit_card_last_name" name="credit_card[last_name]" type="hidden" />
                        <input id="credit_card_number" name="credit_card[number]" type="hidden" />
                        @*<input id="credit_card_type" name="credit_card[card_type]" type="hidden" value="visa" />*@
                        <input id="credit_card_verification_value" name="credit_card[verification_value]" type="hidden" />
                        <input id="credit_card_month" name="credit_card[month]" type="hidden" />
                        <input id="credit_card_year" name="credit_card[year]" type="hidden" />
                        <input id="data_initials" name="data[initials]" type="hidden" />
                        <input id="data_creditHolder" name="data[holderId]" type="hidden" />
                        <input id="data_firstName" name="data[name]" type="hidden" />
                        <input id="data_lastName" name="data[second]" type="hidden" />
                        <input id="data_address" name="data[address]" type="hidden" />
                        <input id="data_city" name="data[city]" type="hidden" />
                        <input id="data_state" name="data[state]" type="hidden" />
                        <input id="data_zip" name="data[zip]" type="hidden" />
                        <input id="data_country" name="data[country]" type="hidden" />
                    </form>

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmPayment", @class = "single-submit-form" }))
                    {
                        <div class="widget-section">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3>@BookingProcess.Payment_BillingAddr</h3>
                                </div>
                                <div class="widget-content">
                                    @Html.Partial("Partial/ContactUserInfoPersonalBillingAddress", Model.BillingAddress)
                                </div>
                            </div>
                        </div>

                        <div class="widget-section">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3>@BookingProcess.Payment_CreditCard</h3>
                                </div>
                                <div class="widget-content" style="margin: -50px; padding: 50px">
                                    @Html.Partial("Partial/PaymentCreditCard", Model.PaymentData)
                                </div>
                            </div>
                        </div>

                        <div class="widget-section">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3>@BookingProcess.Payment_LegalAgreement</h3>
                                </div>
                                <div class="widget-content" id="credit-card-container">
                                    @Html.Partial("Partial/PaymentVerificationAgeTerms", Model.VerificationData)
                                    @Html.Hidden("BirthdayCheck", Model.BillingAddress.BirthDay.Value.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture))
                                    <div class="nextButton">
                                        <input type="submit" id="btnConfirmPay" value="@BookingProcess.Payment_Confirm" class="input-submit" /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

            <div class="sidebar columns sidebar_right three">
                <div class="inner_sidebar">
                    <div class="widget-section" id="widget-invoice">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>@PropertyDetails.Section_Invoice_Title</h3>
                            </div>
                        </div>
                        @Html.Action("GetInvoiceDetails", "PropertyDetail",
                        new
                        {
                            unitId = Model.BookingInfoData.UnitId,
                            propertyId = Model.BookingInfoData.PropertyId,
                            dateFrom = Model.BookingInfoData.dateTripFrom,
                            dateUntil = Model.BookingInfoData.dateTripUntil
                        })
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="flexsliderContainer">
    <div id="flexslider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.PropertyImages)
            {
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="bg">
                        <img src="@item" alt="header" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
