﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Home
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models
@using Common.Extensions;

@model ExtranetApp.Models.Booking.BookingProcessModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
    
}

@section Scripts 
{
    @Styles.Render("~/css/otp_bookingProcess.css")
    @Scripts.Render("~/js/Views/book.process.js")
    <script>
        var dateTripStart = '@Model.BookingInfoData.dateTripFrom.ToLocalizedDateString()';
        var dateTripEnd = '@Model.BookingInfoData.dateTripFrom.ToLocalizedDateString()';
    </script>
}

<script>

</script>

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">

    <div id="main_wrap" class="container">
        <div class="full">
            <div class="content eight alpha columns">
                <div class="sectionBooking content-sections">
                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2 id="book-nav-steps"><span class="active">@BookingProcess.Nav_Welcome</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span>@BookingProcess.Nav_Contact</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span>@BookingProcess.Nav_Payment</span>
                                    <img src="@Url.Content("~/images/otp/gfx_booking_step.png")" />
                                    <span>@BookingProcess.Nav_Confirmation</span></h2>
                            </div>
                            <div class="widget-content">
                                <p></p>
                            </div>
                        </div>
                    </div>                    

                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-content">
                                <section id="joinSectionWelcome">
                                    <h3>@BookingProcess.Welcome_NotAMember</h3>

                                    @using (Ajax.BeginForm("Join", "Account",
        new { PropertyId = Model.BookingInfoData.PropertyId, UnitId = Model.BookingInfoData.PropertyId, dateTripFrom = Model.BookingInfoData.dateTripFrom.ToShortDateString(), dateTripUntil = Model.BookingInfoData.dateTripUntil.ToShortDateString() },
        new AjaxOptions() { UpdateTargetId = "blockJoin", OnSuccess = "onJoinComplete" }))
                                    {          
                                        <div style="color: red !important;" id="blockJoin">
                                        </div>
                                        <fieldset>
                                            <legend></legend>
                                            @Html.Partial("Partial/WelcomeJoin", Model.JoinModel)
                                        </fieldset>
                                        <div class="clear">&nbsp;</div>
                                        <div class="nextButton">
                                            <input type="submit" id="btnJoinWelcome" value="@Shared.JoinGuest_Button_Submit" class="input-submit" />
                                        </div>
                                        <span>
                                            @BookingProcess.Welcome_Privacy 
                                            @Html.ActionLink(BookingProcess.Welcome_Terms, "TermsOfService", "Home", null, new { target = "_blank" }) 
                                            @BookingProcess.Welcome_Privacy_And 
                                            @Html.ActionLink(BookingProcess.Welcome_Policy, "PrivacyPolicy", "Home", null, new { target = "_blank" })</span>
                                        <br />
                                    }
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2>@Model.PropertyUnitName, @Model.DestinationDetails.DestinationNameCurrentLanguage, @Model.BookingInfoData.dateTripFrom.ToLocalizedDateString() @BookingProcess.TripTo @Model.BookingInfoData.dateTripUntil.ToLocalizedDateString()</h2>
                            </div>
                            <div class="widget-content">
                                @Html.Partial("Partial/WelcomeLogin", Model.LoginModel)
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="sidebar columns sidebar_right three">
                <div class="inner_sidebar">
                    <div class="widget-section" id="widget-invoice">
                        <div class="widget">
                            <div class="widget-title">
                                <h3>@PropertyDetails.Section_Invoice_Title</h3>
                            </div>
                        </div>
                        @Html.Action("GetInvoiceDetails", "PropertyDetail",
                        new
                        {
                            unitId = Model.BookingInfoData.UnitId,
                            propertyId = Model.BookingInfoData.PropertyId,
                            Model.DestinationDetails.DestinationID,
                            dateFrom = Model.BookingInfoData.dateTripFrom,
                            dateUntil = Model.BookingInfoData.dateTripUntil
                        })
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="flexsliderContainer">
    <div id="flexslider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.PropertyImages)
            {
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="bg">
                        <img src="@item" alt="header" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
