﻿@using ExtranetApp.Resources.Booking
@using ExtranetApp.Resources.Views
@using ExtranetApp.Resources.Models
@model ExtranetApp.Models.Booking.BookingProcessModel

@{
    ViewBag.Title = Shared.PageTitle;
    Layout = "~/Views/Shared/_LayoutMainListViewOTP.cshtml";
    
}

@section Scripts 
{
    @Styles.Render("~/css/otp_bookingProcess.css")
    @Scripts.Render("~/js/Views/book.process.js")
    <script type="text/javascript">
        var dateTripStart = '@Model.BookingInfoData.dateTripFrom.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)';
        var dateTripEnd = '@Model.BookingInfoData.dateTripUntil.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)';
    </script>
}

@Html.Action("NavBarWithSort", "NavBar")

<section class="content-center">

    <div id="main_wrap" class="container">
        <div class="full">
            <div class="content eight alpha columns">
                <div class="sectionBooking content-sections">
                    <div class="widget-section">
                        <div class="widget">
                            <div class="widget-title">
                                <h2>@ViewBag.Error_Ttile</h2>
                            </div>
                            <div class="widget-content">
                                    <h3>@Html.Raw(ViewBag.Error_Subtitle)</h3>
                            </div>
                        </div>
                    </div>

                    <div style="padding: 0px 0px 10px 10px">
                        <input type="submit" id="btnBackToHome" value="@BookingProcess.IdentityVerificationFailure_BtnBack" class="input-submit" /><br />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div id="flexsliderContainer">
    <div id="flexslider" class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.PropertyImages)
            {
                <li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
                    <div class="bg">
                        <img src="@item" alt="header" />
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
